<form class="modal-form" data-aplana-submit-valid="saveAddress()" novalidate name="addressForm" data-bindonce>
<div class="modal-body">
<table class="horizontal-input-table document-parameters gray-label-table auto-width-uneditable-input-table">
    <tbody>
    <tr>
        <td>
            <label class="control-label text-right" style="width: 110px" for="address_postcode"
                   data-translate-once="AddressFormCtrl.index">
            </label>
        </td>
        <td colspan="5">
            <div data-aplana-field>
                <input type="text"
                       data-aplana-input-outer-width="60"
                       data-ng-model="address.postcode"
                       data-ng-pattern="constraints.postcode.pattern"
                       id="address_postcode">

                <div data-aplana-validator data-key="pattern">
                    {{ 'AddressFormCtrl.index.pattern' | translate }}
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <label class="control-label text-right" style="width: 110px" for="address_regioncode"
                   data-translate-once="AddressFormCtrl.region">
            </label>
        </td>
        <td colspan="5">
            <div data-aplana-field>
                <input type="text"
                       data-aplana-input-outer-width="440"
                       data-ng-model="address.regionCode"
                       data-ng-pattern="constraints.regionCode.pattern"
                       data-ng-required="true"
                       id="address_regioncode">

                <div data-aplana-validator data-key="required">
                    {{ 'AddressFormCtrl.field.required' | translate }}
                </div>
                <div data-aplana-validator data-key="pattern">
                    {{ 'AddressFormCtrl.region.pattern' | translate }}
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <label class="control-label text-right" style="width: 110px" for="address_area"
                   data-translate-once="AddressFormCtrl.area">
            </label>
        </td>
        <td colspan="5">
            <div data-aplana-field>
                <input type="text"
                       data-aplana-input-outer-width="440"
                       data-ng-model="address.area"
                       data-ng-maxlength="{{constraints.area.maxlength}}"
                       id="address_area">

                <div data-aplana-validator data-key="maxlength">
                    {{ 'AddressFormCtrl.area.pattern' | translate }}
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <label class="control-label text-right" style="width: 110px" for="address_city"
                   data-translate-once="AddressFormCtrl.city">
            </label>
        </td>
        <td colspan="5">
            <div data-aplana-field>
                <input type="text"
                       data-aplana-input-outer-width="440"
                       data-ng-model="address.city"
                       data-ng-maxlength="{{constraints.city.maxlength}}"
                       id="address_city">

                <div data-aplana-validator data-key="maxlength">
                    {{ 'AddressFormCtrl.city.pattern' | translate }}
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <label class="control-label text-right" style="width: 110px" for="address_locality"
                   data-translate-once="AddressFormCtrl.locality">
            </label>
        </td>
        <td colspan="5">
            <div data-aplana-field>
                <input type="text"
                       data-aplana-input-outer-width="440"
                       data-ng-model="address.locality"
                       data-ng-maxlength="{{constraints.locality.maxlength}}"
                       id="address_locality">

                <div data-aplana-validator data-key="maxlength">
                    {{ 'AddressFormCtrl.locality.pattern' | translate }}
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <label class="control-label text-right" style="width: 110px" for="address_street"
                   data-translate-once="AddressFormCtrl.street">
            </label>
        </td>
        <td colspan="5">
            <div data-aplana-field>
                <input type="text"
                       data-aplana-input-outer-width="440"
                       data-ng-model="address.street"
                       data-ng-maxlength="{{constraints.street.maxlength}}"
                       id="address_street">

                <div data-aplana-validator data-key="maxlength">
                    {{ 'AddressFormCtrl.street.pattern' | translate }}
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <label class="control-label text-right" style="width: 110px" for="address_house"
                   data-translate-once="AddressFormCtrl.house'">
            </label>
        </td>
        <td>
            <div data-aplana-field>
                <input type="text"
                       data-aplana-input-outer-width="90"
                       data-ng-model="address.house"
                       data-ng-pattern="constraints.house.pattern"
                       data-ng-trim="false"
                       id="address_house">

                <div data-aplana-validator data-key="pattern">
                    {{ 'AddressFormCtrl.house.pattern' | translate }}
                </div>
            </div>
        </td>
        <td>
            <label class="control-label text-right" style="width: 50px" for="address_building"
                   data-translate-once="AddressFormCtrl.building">
            </label>
        </td>
        <td>
            <div data-aplana-field>
                <input type="text"
                       data-aplana-input-outer-width="90"
                       data-ng-model="address.building"
                       data-ng-pattern="constraints.building.pattern"
                       data-ng-trim="false"
                       id="address_building">

                <div data-aplana-validator data-key="pattern">
                    {{ 'AddressFormCtrl.building.pattern' | translate }}
                </div>
            </div>
        </td>
        <td>
            <label class="control-label text-right" style="width: 104px" for="address_flat"
                   data-translate-once="AddressFormCtrl.flat">
            </label>
        </td>
        <td>
            <div data-aplana-field>
                <input type="text"
                       data-aplana-input-outer-width="90"
                       data-ng-model="address.flat"
                       data-ng-pattern="constraints.flat.pattern"
                       data-ng-trim="false"
                       id="address_flat">

                <div data-aplana-validator data-key="pattern">
                    {{ 'AddressFormCtrl.flat.pattern' | translate }}
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <label class="control-label text-right" style="width: 110px" for="address_address"
                   data-translate-once="AddressFormCtrl.address">
            </label>
        </td>
        <td colspan="5">
            <input type="text"
                   readonly
                   data-aplana-input-outer-width="440"
                   data-ng-model="formattedAddress"
                   id="address_address"
                   data-aplana-tooltip="{{formattedAddress}}">
        </td>
    </tr>
    </tbody>
</table>
</div>

<div class="modal-footer form-actions">
    <span class="modal-hint-text" style="width: 400px;" data-translate-once="common.hint"></span>

    <button type="submit" class="btn btn-primary btn-sm ok-button" data-aplana-click-once
            data-translate-once="common.button.choose"></button>
    <button type="button" class="btn btn-primary btn-sm cancel-button" data-ng-click="cancelForm()"
            data-translate-once="common.button.cancel"></button>
</div>
</form>