@grid-float-breakpoint: 1;

@import "select-0.19.4";
@import "ui-grid";
@import "bootstrap";
//@import "bootstrap-theme";
@import "bootstrap-custom";
@import "overlay";
@import "dialogs";
@import "sb-modals";
@import "alert";

@import "less/bootstrap";
//@import "tables";
/* style.css */

@mts_red: #1a9f29;
// Высота шапки модального окна
@mts_modal_header_height: 75px;

body {
  color: #777;
  background-color: #fff;
  min-width: 1200px;
}

.clear {
  clear: both;
}

form label {
  margin-right: 10px;
}

form input[type="submit"], form input[type="button"] {
  margin-left: 10px;
}

form .row {
  margin: 10px 0;
}

#main-content {
  width: 100%;
}

#refbook {
  width: 100%;
}

#refbook-content, .content-with-table {
  overflow: hidden;
  height: 550px;
}

.notifications-content, #role-management-content {
  overflow: hidden;
  height: 750px;
}

#refbook-grid {
  overflow: hidden;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.usim-grid {
  overflow: hidden;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

#refbook-edit-panel, .notifications-edit-panel {
  padding-top: 10px;
  width: 400px;
  float: right;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 600px;
}

#refbook-edit-panel .control-label, #refbook-edit-panel .form-control, #refbook-edit-panel div,
.notifications-edit-panel .control-label, .notifications-edit-panel .form-control, .notifications-edit-panel div {
  padding-right: 0;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear:after {
  clear: both;
}

.fullwidth {
  width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

.stack-trace {
  overflow: scroll;
  position: relative;
  width: 100%;
  height: 400px;
}

.icon.error {
  margin-left: 10px;
  margin-right: 10px;
}

.app-header-user-info {
  padding-top: 16px;
}

.aplanaAlert .close {
  font-size: 21px;
  color: #555;
  opacity: 1;
}

.aplanaAlert .icon.error {
  margin-top: 10px;
}

.icon.error {
  background-image: url('../img/alert/error.png');
}

/* Кнопка "Выход" */
.logout_link {
  cursor: pointer;
  margin-left: 20px;
  border: 1px #1a9f29 solid;
  margin: 8px 0 8px 8px;
  padding: 5px 9px !important;
  border-radius: 5px;
}

.logout_link:hover {
  border-color: red;
}

#edit-object .modal-header h4 {
  color: #1a9f29;
}

/* Фикс длинного текста для выбранного элемент в ui-select - текст обрезается */
.ui-select-bootstrap .ui-select-match-text > span {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 20px;

}

/***************************************** Стили для модальных окон ***************************************************/
.modal-header {
  background-color: #ffffff;
  height: @mts_modal_header_height;
  padding: 28px 20px;
  border-radius: 6px;
}

.modal-header h4, .modal-header .glyphicon, .modal-header .close, .empty-consolidated-remain, .positive-undisposed-amount, .restricted-remain {
  color: @mts_red;
}

.modal-header h4, .empty-consolidated-remain, .restricted-remain {
  font-weight: bold;
}

.modal-header .close {
  font-weight: normal;
  font-size: 35px;
  margin-top: -8px;
}

.modal-header .close:hover {
  opacity: 1;
}

.font-normal {
  font-weight: normal;
}

.modal-dialog .btn-primary {
  color: #ffffff;
  background-color: #1a9f29;
  border-color: #1a9f29;
}

.modal-dialog .btn-primary:focus,
.modal-dialog .btn-primary.focus {
  color: #ffffff;
  background-color: #c9302c;
  border-color: #761c19;
}

.modal-dialog .btn-primary:hover {
  color: #ffffff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.button_panel {
  margin-bottom: 2px;
}

/* Отступ сверху на вкладке "Файлы согласования" */
#orderDetails .tab-content:nth-child(2) .button_panel,
#forecastDetails .tab-content:nth-child(2) .button_panel {
  margin-top: 2px;
}

.button_panel button.btn {
  padding: 5px;
  border: 1px solid #E4E4E4;
  border-radius: 4px;
}

/* Красная рамка при наведении курсора на кнопки кроме отключенных кнопок */
button.btn.btn-default:hover:not([disabled]) {
  border: 1px solid #D50712 !important;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: inherit;
}

.button_panel button.btn {
  margin-right: 4px;
}

button.btn-back-to-list {
  padding: 0px 15px 0px 0px;
  border-color: #FFFFFF;
  border-radius: 4px;
  margin-right: 4px;
  float: right;
}

button.btn-back-to-list.btn-default:hover:not([disabled]),
.btn-default:active,
.btn-default:active:focus,
.btn-default:focus{
  border-color: #FFFFFF !important;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: inherit;
}

#refbook-right-btn-group, .notification-right-btn-group {
  margin-left: -4px;
}

.grid-filter .form-group {
  margin-bottom: 10px;
}

.grid-filter .form-group .form-group {
  margin-bottom: 0;
}

.grid-filter .row {
  margin-bottom: 0;
}

.filter-col, .header-col {
  float: left;
  margin-right: 15px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

input[type="checkbox"] {
  margin-top: 2px;
}

.form-group.required .control-label:after {
  content: "*";
  color: red;
}

::-ms-clear {
  display: none;
}

.form-control-clear {
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
  margin-right: 80px;
}

.form-control-clear:before {
  content: "\e020" !important;
}

.form-row-separator {
  border-bottom: 1px solid #e4dfdf;
}

.form-bordered-column {
  border: 1px solid #e4dfdf;
}

.form-bordered-column > div {
  margin: 9px 0px;
}

.form-bordered-column > button {
  margin: 8px 0px;
  height: 32px;
  width: 35px;
  padding: 0;
}

.form-user-search-button {
  float: right;
  margin-right: 8px;
  width: 100%;
}

.role-table {
  max-height: 250px;
  min-height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 20px;
}

.role-table .row {
  margin: 0px 15px;
}

.operation-table,
.comment-table {
  min-height: 300px;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.operation-table .row {
  margin: 0;
}

.operation-table .even-row {
  background-color: #fdfdfd;
}

.operation-table .odd-row {
  background-color: #eeeeee;
}

/* Панель для отображения информации о версии приложения и его сборке */
.build_info {
  font-size: 100%;
  position: fixed; /* Фиксированное положение */
  left: 0; bottom: 20px; /* Левый нижний угол */
}

/* Признак обязательности поля */
label.required:after {
  content: "*";
  color: red;
}

/* Оформление главной страницы. Текст по центру */
#main-page {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
}

#main-page > div {
  color: #cccccc;
  text-align: center;
  font-size: 30px;
  margin-top: -50px;
  text-shadow: 5px 5px 5px rgba(180, 180, 180, 0.2);
}

#main-page p + p {
  font-size: 20px;
}

#splitForecast .form-group {
  margin-bottom: auto;
}

#splitForecast .col-md-4 {
  margin-left: -100px;
}

/* В окне назначения прав доступа ролям сделал выравнивание текста по левому краю */
.operation-table .control-label {
  width: 100%;
  text-align: left;
}

#planningCommonInfo .form-group {
  margin: 0;
}

.deletedRow {
  background-color: rgba(255, 0, 0, 0.47) !important;
}

.returnedRow {
  background-color: rgba(255, 102, 14, 0.47) !important;
}

.header-details {
  margin-left: 15px;
}

.w100 {
  width: 100px;
}

.w150 {
  width: 150px;
}

.w200 {
  width: 200px;
}

.w250 {
  width: 250px;
}

.w300 {
  width: 300px;
}

.w350 {
  width: 350px;
}

.w400 {
  width: 400px;
}

.w450 {
  width: 450px;
}

.w500 {
  width: 500px;
}

.main-label::before {
  content: "• ";
  color: #ff0000;
}

.numberItems,
.numberItemsHistory {
  font-size: medium;
  margin-top: 10px;
}

.ui-grid-cell.ui-grid-disable-selection.ui-grid-row-header-cell {
  pointer-events: auto;
}

.ui-grid-disable-selection {
  user-select: text;
  cursor: default;
  -ms-user-select: text;
}

.ui-grid-row-selected.ui-grid-row:nth-child(odd) .ui-grid-cell,
.ui-grid-row-selected.ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: #FFF0F5;
}

.ui-select-container > div {
  max-height: 60px;
}

.ui-select-match > span,
.ui-select-match-text > span {
  max-height: 20px;
}

input.ui-select-search {
  width: 98% !important;
}

.ui-grid-header-cell-label {
  white-space: nowrap;
}

hr {
  border: none; /* Убираем границу */
  background-color: lightgrey; /* Цвет линии */
  color: lightgrey; /* Цвет линии для IE6-7 */
  height: 1px; /* Толщина линии */
}

.form-fieldset {
  padding: 15px;
  border: 1px solid #ccc;
}

.form-fieldset > legend {
  width: auto;
  font-size: 12px;
  border: 0;
  margin-bottom: 0;
  font-weight: 600;
}

.form-fieldset .ui-select-toggle {
  min-height: 30px;
}

.fl-modal-window .modal-dialog {
   width: 765px;
}

.tableForm {
    float: right;
    margin-right: 5px;
}

/*-------new-style----------*/
.navbar-default {
  background: #1a9f29;
  .navbar-nav > li {
    border-left: 1px solid #fff;
    height: 40px;
    margin-top: 4px;
    div {
      padding: 0 10px;
    }
    &.dropdown {
      border: none;
      background: none;
    }
  }
  .navbar-nav > li > a {
    color: #fff;
    padding: 11px 14px !important;
    border-radius: 1px;
    outline: none;
    margin: -1px 3px 0 2px;
    display: inline-block;
    border: none;
    &:hover {
      background: #fff;
    }
  }
}

.logo {
  width: 138px;
  height: 54px;
  margin: -4px 9px -30px 0;
  background: #fff;
  padding: 15px 11px;
  border-radius: 0 0 16px 0;
}

.navbar-right {
  color: #fff;
  margin-right: 0;
}

button.btn.btn-default:hover:not([disabled]) {
  border: 1px solid #1a9f29 !important;
}

.button_panel button.btn {
  padding: 1px 5px;
}

button.btn.btn-default.ng-binding {
  img {
    width: 27px;
    margin: 0 0 0 -4px;
  }
}

.ui-select-bootstrap > .ui-select-match > .btn {
  padding: 3px 5px;
}

.form-group {
  .form-control {
    padding: 1px 5px;
    min-height: 25px;
    &:focus {
      border-color: #1a9f29;
    }
  }
}

.form-control {
  &:focus {
    border-color: #1a9f29;
  }
}

.btn-toolbar {
  margin-left: 0;
}

.btn {
  padding: 3px 5px;
}

.btn-danger {
  color: #ffffff;
  background-color: #1a9f29;
  border-color: #1a9f29;
  &:focus, &.focus {
    background: #59bf57;
    color: hsla(0, 0%, 100%, .85);
    border-color: #1a9f29;
  }
  &:hover {
    background: #59bf57;
    color: hsla(0, 0%, 100%, .85);
    border-color: #1a9f29;
  }
  &:active, &.active {
    background: #59bf57;
    color: hsla(0, 0%, 100%, .85);
    border-color: #1a9f29;
  }
}

.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
  background: #59bf57;
  color: hsla(0, 0%, 100%, .85);
  border-color: #1a9f29;
}

.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
  background: #59bf57;
  color: hsla(0, 0%, 100%, .85);
  border-color: #1a9f29;
}
.logout_link:hover {
  border: 1px solid #fff;
}

.ui-grid-row-selected.ui-grid-row:nth-child(odd) .ui-grid-cell, .ui-grid-row-selected.ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: rgba(26, 159, 41, 0.11);
}

#overlay-parent > div {
  border-top: 6px solid #1a9f29;
}

.btn-sm {
  line-height: 1.4;
}

.button_panel {
  margin-bottom: 8px;
}

//Главное меню
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.dropdown-menu {
  border-width: 1px;
  border-color: #59bf57;
}

.logout_link:hover {
  border: 1px solid #fff;
}

.ui-grid-row-selected.ui-grid-row:nth-child(odd) .ui-grid-cell, .ui-grid-row-selected.ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: rgba(26, 159, 41, 0.11);
}

#overlay-parent > div {
  border-top: 6px solid #1a9f29;
}

.btn-sm {
  line-height: 1.4;
}

.button_panel {
  margin-bottom: 8px;
}

.filter-col .control-label {
  padding-top: 5px;
  float: right;
  margin-right: -20px !important;
}

.ui-grid-pager-container {
  float: right;
  margin-right: 6px;
}

.form-horizontal {
  .form-group-sm {
    .control-label {
      margin: 0 -20px 0 30px;
    }
  }
}

.btn-default{
  &:hover, &:active:hover{
    background-color: #FFF;
  }
}
.border-none{
  border:none!important;
}
/*================hint-style============*/
.error{
  position: relative;;
  .help-bottom-popup{
    position: absolute!important;
    left: 0!important;
  }
}
.container-grid{
  overflow: hidden;
  height: 100%;
  position: relative;
  padding: 6px;
}
div [ui-view] {
  height: 100%;
}
/**
 * 2-х-колночная структура
 */
.cbr-page-layout {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 10;
}
.cbr-page-layout:after {
  content: " ";
  clear: both;
  display: table;
}
.cbr-page-layout__side {
  float: left;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 370px;
  background-color: #fff;
}
.cbr-side-content {
  box-sizing: border-box;
  height: 100%;
  padding: 12px 8px;
  overflow: auto;
  transition: .2s;
}
/* модификация jquery UI для боковой панели */
.cbr-page-layout__side .ui-resizable-handle {
  width: 4px;
  right: 0;
  background-color: #515e5e;
  box-shadow: 2px 0 3px rgba(68, 75, 75, 0.5);
}
.cbr-page-layout__side .ui-resizable-handle:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 16px;
  height: 87px;
  background: url("../img/drag.png") no-repeat;
}
.cbr-page-layout__side_colapsed .ui-resizable-handle {
  background-color: #444b4b;
}
.cbr-page-layout__side_colapsed .ui-resizable-handle:before {
  background-position: -16px 0;
}
.cbr-page-layout__main {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}
.cbr-page-layout__view {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding: 12px;
  overflow: hidden;
}
/*.cbr-page-layout__view{
  margin-top: 30px;
}*/
.ui-jqgrid{
  width: 100%!important;
}
.cbr-page-layout {
  top: 50px;
}