<form id="departmentConfigForm" name="departmentConfigForm" class="form-horizontal" data-aplana-submit-valid="save()"
      novalidate>
    <div class="modal-body">
        <!--Даты актуальности-->
        <div class="row-fluid" style="padding-right: 20px;">
            <div class="span6 row-fluid">
                <div class="span4">
                    <label class="control-label">{{::'refBook.versionFromShort' | translate}}:</label>
                </div>
                <div data-ng-if="mode === 'VIEW'" class="span0 info-text" style="width: 120px;">
                    {{record.startDate | dashIfEmptyFormatter : 'dateFormatter'}}
                </div>
                <div data-ng-if="mode === 'CREATE' || mode === 'EDIT'" class="span0" style="width: 120px;">
                        <span data-aplana-field>
                            <span data-aplana-datepicker
                                  data-ng-model="record.startDate"
                                  data-ng-required="true"
                                  data-ui-validate="{versionDate : 'isVersionDatesValid($value, record.endDate)'}"
                                  data-ui-validate-watch="['record.startDate','record.endDate']"></span>
                            <div data-aplana-validator data-key='required'>{{::'common.validation.required' | translate}}</div>
                            <div data-aplana-validator data-key='versionDate'>{{::'refBook.versionDates.validates' | translate}}</div>
                        </span>
                </div>
                <div class="span0" style="width: 20px;">
                    <label class="control-label">{{::'refBook.versionToShort' | translate}}:</label>
                </div>
                <div data-ng-if="mode === 'VIEW'" class="span0 info-text" style="width: 120px;">
                    {{record.endDate | dashIfEmptyFormatter : 'dateFormatter'}}
                </div>
                <div data-ng-if="mode === 'CREATE' || mode === 'EDIT'" class="span0" style="width: 120px;">
                        <span data-aplana-field>
                            <span data-aplana-datepicker
                                  data-ng-model="record.endDate"
                                  data-ui-validate="{versionDate : 'isVersionDatesValid(record.startDate, $value)'}"
                                  data-ui-validate-watch="['record.startDate','record.endDate']"></span>
                            <div data-aplana-validator data-key='versionDate'>{{::'refBook.versionDates.validates' | translate}}</div>
                        </span>
                </div>
            </div>
        </div>
        <!--Блок полей 1-->
        <div>
            <div class="block-title">{{::'departmentConfig.modal.block1.title' | translate}}</div>
            <div class="row-fluid" style="padding-right: 20px;">
                <div class="span6">
                    <!--Территориальный банк-->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">
                                {{::'departmentConfig.modal.field.department.label' | translate}}:</label>
                        </div>
                        <div data-ng-if="mode === 'VIEW'" class="span8 info-text" title="{{record.department.name}}">
                            {{record.department.name}}
                        </div>
                        <div data-ng-if="mode !== 'VIEW'" class="span8" data-ng-controller="SelectDepartmentCtrl">
                            <div data-aplana-field title="{{record.department.name}}">
                                <div data-ui-select2="departmentsSelect.options"
                                     data-ng-init="initAvailableTBSelect()"
                                     data-ng-model="record.department"
                                     data-ng-required="true">
                                </div>
                                <div data-aplana-validator data-key='required'>{{::'common.validation.required' |
                                    translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Наименование для титульного листа-->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">
                                {{::'departmentConfig.modal.field.name.label' | translate}}:</label>
                        </div>
                        <div data-ng-if="mode === 'VIEW'" class="span8 info-text" title="{{record.name}}">
                            {{record.name}}
                        </div>
                        <div data-ng-if="mode !== 'VIEW'" class="span8">
                            <div data-aplana-field title="{{record.name}}">
                                <input class="form-control" type="text"
                                       data-ng-model="record.name"
                                       maxlength="1000"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       data-ng-required="!record.reorganization"/>
                                <div data-aplana-validator data-key='required'>
                                    {{::'common.validation.required' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Контактный телефон-->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">
                                {{::'departmentConfig.modal.field.phone.label' | translate}}:</label>
                        </div>
                        <div data-ng-if="mode === 'VIEW'" class="span8 info-text">
                            {{record.phone}}
                        </div>
                        <div data-ng-if="mode !== 'VIEW'" class="span8">
                            <div data-aplana-field>
                                <input class="form-control" type="text"
                                       data-ng-model="record.phone"
                                       maxlength="20"
                                       placeholder="{{'filter.placeholder.search' | translate}}"/>
                            </div>
                        </div>
                    </div>
                    <!--Код места представления-->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">
                                {{::'departmentConfig.modal.field.presentPlace.label' | translate}}:</label>
                        </div>
                        <div data-ng-if="mode === 'VIEW'" class="span8 info-text" title="{{record.presentPlace | codeNameFormatter}}">
                            {{record.presentPlace | codeNameFormatter}}
                        </div>
                        <div data-ng-if="mode !== 'VIEW'" class="span8" data-ng-controller="SelectRefBookCtrl">
                            <div data-aplana-field title="{{record.presentPlace | codeNameFormatter}}">
                                <div data-ui-select2="select.options"
                                     data-ng-init="initSelect(APP_CONSTANTS.REFBOOK.PRESENT_PLACE)"
                                     data-ng-model="record.presentPlace"
                                     data-ng-required="true"></div>
                                <div data-aplana-validator data-key='required'>{{::'common.validation.required' |
                                    translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <!--КПП-->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">
                                {{::'departmentConfig.modal.field.kpp.label' | translate}}:</label>
                        </div>
                        <div data-ng-if="mode === 'VIEW'" class="span8 info-text">
                            {{record.kpp}}
                        </div>
                        <div data-ng-if="mode !== 'VIEW'" class="span8">
                            <div data-aplana-field>
                                <input class="form-control" type="text"
                                       data-ng-model="record.kpp"
                                       maxlength="9"
                                       data-ng-pattern="patterns.number"
                                       data-ui-validate="{kppValidator : 'isKppValid($value)', length: '!$value || $value.length === 9'}"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       data-ng-required="true"/>
                                <div data-aplana-validator data-key="pattern">{{::'common.validation.pattern.number' |
                                    translate}}
                                </div>
                                <div data-aplana-validator data-key='required'>{{::'common.validation.required' |
                                    translate}}
                                </div>
                                <div data-aplana-validator data-key="kppValidator">
                                    {{::'departmentConfig.modal.field.kpp.validation.digits' | translate}}
                                </div>
                                <div data-aplana-validator data-key="length">
                                    {{::'common.validation.length' | translate:'{length: 9}'}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--ОКТМО-->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">
                                {{::'departmentConfig.modal.field.oktmo.label' | translate}}:</label>
                        </div>
                        <div data-ng-if="mode === 'VIEW'" class="span8 info-text" title="{{record.oktmo | codeNameFormatter}}">
                            {{record.oktmo | codeNameFormatter}}
                        </div>
                        <div data-ng-if="mode !== 'VIEW'" class="span8" data-ng-controller="SelectRefBookCtrl">
                            <div data-aplana-field title="{{record.oktmo | codeNameFormatter}}">
                                <div data-ui-select2="select.options"
                                     data-ng-init="initSelect(APP_CONSTANTS.REFBOOK.OKTMO)"
                                     data-ng-model="record.oktmo"
                                     data-ng-required="true"></div>
                                <div data-aplana-validator data-key='required'>{{::'common.validation.required' |
                                    translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Код НО (конечного):-->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">
                                {{::'departmentConfig.modal.field.taxOrganCode.label' | translate}}:</label>
                        </div>
                        <div data-ng-if="mode === 'VIEW'" class="span8 info-text">
                            {{record.taxOrganCode}}
                        </div>
                        <div data-ng-if="mode !== 'VIEW'" class="span8">
                            <div data-aplana-field>
                                <input class="form-control" type="text"
                                       data-ng-model="record.taxOrganCode"
                                       maxlength="4"
                                       data-ng-pattern="patterns.number"
                                       data-ui-validate="{length: '!$value || $value.length === 4'}"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       data-ng-required="true"/>
                                <div data-aplana-validator data-key="pattern">{{::'common.validation.pattern.number' |
                                    translate}}
                                </div>
                                <div data-aplana-validator data-key='required'>{{::'common.validation.required' |
                                    translate}}
                                </div>
                                <div data-aplana-validator data-key="length">
                                    {{::'common.validation.length' | translate:'{length: 4}'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Блок полей 2-->
        <div>
            <div class="block-title">{{::'departmentConfig.modal.block2.title' | translate}}</div>
            <div class="row-fluid" style="padding-right: 20px;">
                <div class="span6">
                    <!--Фамилия подписанта-->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">
                                {{::'departmentConfig.modal.field.signatorySurName.label' | translate}}:</label>
                        </div>
                        <div data-ng-if="mode === 'VIEW'" class="span8 info-text" title="{{record.signatorySurName}}">
                            {{record.signatorySurName}}
                        </div>
                        <div data-ng-if="mode !== 'VIEW'" class="span8">
                            <div data-aplana-field>
                                <input class="form-control" type="text"
                                       data-ng-model="record.signatorySurName"
                                       maxlength="60"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       data-ng-required="isSignatoryNameRequired($value)"/>
                                <div data-aplana-validator data-key='required'>
                                    {{::'common.validation.required' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Имя подписанта-->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">
                                {{::'departmentConfig.modal.field.signatoryFirstName.label' | translate}}:</label>
                        </div>
                        <div data-ng-if="mode === 'VIEW'" class="span8 info-text" title="{{record.signatoryFirstName}}">
                            {{record.signatoryFirstName}}
                        </div>
                        <div data-ng-if="mode !== 'VIEW'" class="span8">
                            <div data-aplana-field>
                                <input class="form-control" type="text"
                                       data-ng-model="record.signatoryFirstName"
                                       maxlength="60"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       data-ng-required="isSignatoryNameRequired($value)"/>
                                <div data-aplana-validator data-key='required'>
                                    {{::'common.validation.required' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Отчество подписанта-->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">
                                {{::'departmentConfig.modal.field.signatoryLastName.label' | translate}}:</label>
                        </div>
                        <div data-ng-if="mode === 'VIEW'" class="span8 info-text" title="{{record.signatoryLastName}}">
                            {{record.signatoryLastName}}
                        </div>
                        <div data-ng-if="mode !== 'VIEW'" class="span8">
                            <div data-aplana-field>
                                <input class="form-control" type="text"
                                       data-ng-model="record.signatoryLastName"
                                       maxlength="60"
                                       placeholder="{{'filter.placeholder.search' | translate}}"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <!--Признак подписанта-->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">
                                {{::'departmentConfig.modal.field.signatoryMark.label' | translate}}:</label>
                        </div>
                        <div data-ng-if="mode === 'VIEW'" class="span8 info-text" title="{{record.signatoryMark | codeNameFormatter}}">
                            {{record.signatoryMark | codeNameFormatter}}
                        </div>
                        <div data-ng-if="mode !== 'VIEW'" class="span8" data-ng-controller="SelectRefBookCtrl">
                            <div data-aplana-field title="{{record.signatoryMark | codeNameFormatter}}">
                                <div data-ui-select2="select.options"
                                     data-ng-init="initSelect(APP_CONSTANTS.REFBOOK.SIGNATORY_MARK)"
                                     data-ng-model="record.signatoryMark"
                                     data-ng-required="true"></div>
                                <div data-aplana-validator data-key='required'>{{::'common.validation.required' |
                                    translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Документ полномочий подписанта-->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">
                                {{::'departmentConfig.modal.field.approveDocName.label' | translate}}:</label>
                        </div>
                        <div data-ng-if="mode === 'VIEW'" class="span8 info-text" title="{{record.approveDocName}}">
                            {{record.approveDocName}}
                        </div>
                        <div data-ng-if="mode !== 'VIEW'" class="span8">
                            <div data-aplana-field>
                                <input class="form-control" type="text"
                                       data-ng-model="record.approveDocName"
                                       maxlength="120"
                                       placeholder="{{'filter.placeholder.search' | translate}}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Блок полей 3-->
        <div>
            <div class="block-title">{{::'departmentConfig.modal.block3.title' | translate}}</div>
            <div class="row-fluid" style="padding-right: 20px;">
                <div class="span6">
                    <!--Код формы реорганизации-->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">
                                {{::'departmentConfig.modal.field.reorganization.label' | translate}}:</label>
                        </div>
                        <div data-ng-if="mode === 'VIEW'" class="span8 info-text" title="{{record.reorganization | codeNameFormatter}}">
                            {{record.reorganization | codeNameFormatter}}
                        </div>
                        <div data-ng-if="mode !== 'VIEW'" class="span8" data-ng-controller="SelectRefBookCtrl">
                            <div data-aplana-field title="{{record.reorganization | codeNameFormatter}}">
                                <div data-ui-select2="select.options"
                                     data-ng-init="initSelect(APP_CONSTANTS.REFBOOK.REORGANIZATION)"
                                     data-ng-model="record.reorganization"></div>
                            </div>
                        </div>
                    </div>
                    <!--КПП реорганизованной организации-->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">
                                {{::'departmentConfig.modal.field.reorgKpp.label' | translate}}:</label>
                        </div>
                        <div data-ng-if="mode === 'VIEW'" class="span8 info-text">
                            {{record.reorgKpp}}
                        </div>
                        <div data-ng-if="mode !== 'VIEW'" class="span8">
                            <div data-aplana-field>
                                <input class="form-control" type="text"
                                       data-ng-model="record.reorgKpp"
                                       maxlength="9"
                                       data-ng-pattern="patterns.number"
                                       data-ui-validate="{kppValidator : 'isKppValid($value)', length: '!$value || $value.length === 9'}"
                                       placeholder="{{'filter.placeholder.search' | translate}}"/>
                                <div data-aplana-validator data-key="pattern">
                                    {{::'common.validation.pattern.number' | translate}}
                                </div>
                                <div data-aplana-validator data-key="kppValidator">
                                    {{::'departmentConfig.modal.field.kpp.validation.digits' | translate}}
                                </div>
                                <div data-aplana-validator data-key="length">
                                    {{::'common.validation.length' | translate:'{length: 9}'}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--ИНН реорганизованной организации-->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">
                                {{::'departmentConfig.modal.field.reorgInn.label' | translate}}:</label>
                        </div>
                        <div data-ng-if="mode === 'VIEW'" class="span8 info-text">
                            {{record.reorgInn}}
                        </div>
                        <div data-ng-if="mode !== 'VIEW'" class="span8">
                            <div data-aplana-field>
                                <input class="form-control" type="text"
                                       data-ng-model="record.reorgInn"
                                       maxlength="10"
                                       data-ng-pattern="patterns.number"
                                       data-ui-validate="{length: '!$value || $value.length === 10'}"
                                       placeholder="{{'filter.placeholder.search' | translate}}"/>
                                <div data-aplana-validator data-key="pattern">{{::'common.validation.pattern.number' |
                                    translate}}
                                </div>
                                <div data-aplana-validator data-key="length">
                                    {{::'common.validation.length' | translate:'{length: 10}'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <!--КПП подразделения-правопреемника-->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">
                                {{::'departmentConfig.modal.field.reorgSuccessorKpp.label' | translate}}:</label>
                        </div>
                        <div data-ng-if="mode === 'VIEW'" class="span8 info-text">
                            {{record.reorgSuccessorKpp}}
                        </div>
                        <div data-ng-if="mode !== 'VIEW'" class="span8">
                            <div data-aplana-field>
                                <input class="form-control" type="text"
                                       data-ng-model="record.reorgSuccessorKpp"
                                       maxlength="9"
                                       data-ng-pattern="patterns.number"
                                       data-ng-required="!!record.reorganization"
                                       data-ui-validate="{kppValidator : 'isKppValid($value)', length: '!$value || $value.length === 9'}"
                                       placeholder="{{'filter.placeholder.search' | translate}}"/>
                                <div data-aplana-validator data-key="pattern">
                                    {{::'common.validation.pattern.number' | translate}}
                                </div>
                                <div data-aplana-validator data-key="kppValidator">
                                    {{::'departmentConfig.modal.field.kpp.validation.digits' | translate}}
                                </div>
                                <div data-aplana-validator data-key="length">
                                    {{::'common.validation.length' | translate:'{length: 9}'}}
                                </div>
                                <div data-aplana-validator data-key='required'>
                                    {{::'common.validation.required' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Наименование подразделения правопреемника-->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">
                                {{::'departmentConfig.modal.field.reorgSuccessorName.label' | translate}}:</label>
                        </div>
                        <div data-ng-if="mode === 'VIEW'" class="span8 info-text" title="{{record.reorgSuccessorName}}">
                            {{record.reorgSuccessorName}}
                        </div>
                        <div data-ng-if="mode !== 'VIEW'" class="span8">
                            <div data-aplana-field>
                                <input class="form-control" type="text"
                                       data-ng-model="record.reorgSuccessorName"
                                       maxlength="1000"
                                       data-ng-required="!!record.reorganization"
                                       placeholder="{{'filter.placeholder.search' | translate}}"/>
                                <div data-aplana-validator data-key='required'>
                                    {{::'common.validation.required' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default iconed-btn" ng-show="mode === 'CREATE' || mode === 'EDIT'"
                data-ng-disabled="departmentConfigForm.$invalid">
            <span data-translate-once="button.save"></span>
            <span class="btn-icon-ok"></span>
        </button>
        <button type="button" class="btn btn-default iconed-btn" ng-show="mode === 'VIEW'" ng-click="edit()"
                data-ng-disabled="!permissionChecker.check(record, APP_CONSTANTS.DEPARTMENT_CONFIG_PERMISSION.UPDATE)">
            <span data-translate-once="button.edit"></span>
            <span class="btn-icon-ok"></span>
        </button>
        <button type="button" class="btn btn-default-nonBg iconed-btn" ng-click="cancel()">
            <span data-translate-once="button.cancel"></span>
            <span class="btn-icon-noneBg-close"></span>
        </button>
    </div>
</form>
