<form id="originalAndDuplicatesForm" name="originalAndDuplicatesForm" class="form-horizontal"
      data-aplana-submit-valid="save()" novalidate>
    <div class="modal-body">
        <!-- Данные о текущем ФЛ -->
        <div class="row-fluid" style="margin-bottom: 20px;">
            <label class="inline-label">{{::'refBook.fl.label.record' | translate}}:</label>
            <label class="inline-value" ng-bind-html="('refBook.fl.label.record.data' | translate: {
                recordId: record.recordId,
                lastName: (record.lastName ? ('refBook.fl.label.record.data.lastName' | translate: {lastName: record.lastName}) : ''),
                firstName: (record.firstName ? ('refBook.fl.label.record.data.firstName' | translate: {firstName: record.firstName}) : ''),
                middleName: (record.middleName ? ('refBook.fl.label.record.data.middleName' | translate: {middleName: record.middleName}) : ''),
                inn: (record.inn ? ('refBook.fl.label.record.data.inn' | translate: {inn: record.inn}) : ''),
                innForeign: (record.innForeign ? ('refBook.fl.label.record.data.innForeign' | translate: {innForeign: record.innForeign}) : ''),
                snils: (record.snils ? ('refBook.fl.label.record.data.snils' | translate: {snils: record.snils}) : ''),
                docNumber: (record.docNumber ? ('refBook.fl.label.record.data.docNumber' | translate: {docNumber: record.docNumber}) : '')
                })"></label>
        </div>

        <!-- Оригинал -->
        <div class="row-fluid" style="margin-bottom: 20px;">
            <label class="inline-label">{{::'refBook.fl.label.original' | translate}}:</label>
            <label class="inline-value" data-ng-show="original" ng-bind-html="('refBook.fl.label.record.data' | translate: {
                recordId: record.recordId,
                lastName: (original.lastName ? ('refBook.fl.label.record.data.lastName' | translate: {lastName: original.lastName}) : ''),
                firstName: (original.firstName ? ('refBook.fl.label.record.data.firstName' | translate: {firstName: original.firstName}) : ''),
                middleName: (original.middleName ? ('refBook.fl.label.record.data.middleName' | translate: {middleName: original.middleName}) : ''),
                inn: (original.inn ? ('refBook.fl.label.record.data.inn' | translate: {inn: original.inn}) : ''),
                innForeign: (original.innForeign ? ('refBook.fl.label.record.data.innForeign' | translate: {innForeign: original.innForeign}) : ''),
                snils: (original.snils ? ('refBook.fl.label.record.data.snils' | translate: {snils: original.snils}) : ''),
                docNumber: (original.docNumber ? ('refBook.fl.label.record.data.docNumber' | translate: {docNumber: original.docNumber}) : '')
                })"></label>
            <div>
                <data-ref-book-picker
                        filter="{{filter()}}"
                        data-ng-model="original"
                        data-ref-book-id="{{APP_CONSTANTS.REFBOOK.PERSON}}"></data-ref-book-picker>
                <button type="button" class="btn btn-default"
                        data-ng-click="deleteOriginal()">
                    <span data-translate-once="button.delete"></span>
                </button>
            </div>
        </div>

        <!-- Дубли -->
        <div>
            <label class="inline-label">{{::'refBook.fl.label.duplicates' | translate}}:</label>
            <div style="margin-bottom: 10px">
                <data-ref-book-picker
                        filter="{{filter()}}"
                        button-title="{{::'button.add' | translate}}"
                        data-ng-model="temp.duplicate"
                        data-ref-book-id="{{APP_CONSTANTS.REFBOOK.PERSON}}"
                        data-on-select="onSelectDuplicate(selectedRecord)"></data-ref-book-picker>
                <button type="button" class="btn btn-default"
                        data-ng-click="deleteDuplicates()">
                    <span data-translate-once="button.delete"></span>
                </button>
            </div>

            <!-- Таблица с дубликатами -->
            <div style="height: 250px;">
                <div class="flex-grid" data-aplana-grid style="height: 100%;"
                     data-grid-fill-space="true"
                     data-grid-fill-space-container-selector=".modal-body"
                     data-grid-fill-space-container-selector-top=".top-block"
                     data-grid-options="duplicatesGrid.options"
                     data-grid-ctrl="duplicatesGrid.ctrl"
                     data-ng-model="duplicatesGrid.value"
                     data-init-grid="fetchDuplicates(ctrl)"
                     id="duplicatesGrid">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default" id="openButton">
            <span data-translate-once="button.save"></span>
        </button>
        <button type="button" class="btn btn-default-nonBg iconed-btn" id="closeButton" ng-click="close()">
            <span data-translate-once="button.cancel"></span>
            <span class="btn-icon-noneBg-close"></span>
        </button>
    </div>
</form>
