<form id="refBookRecordForm" name="refBookRecordForm" class="form-horizontal" data-aplana-submit-valid="save()" novalidate>
    <div class="modal-body">
        <!-- Данные о периоде актуальности записи -->
        <div class="row-fluid" style="margin-bottom: 20px;" data-ng-if="refBook.versioned">
            <div data-ng-if="mode === 'VIEW'" >
                <label class="inline-label">{{::'refBook.versionFromShort' | translate}}:</label>
                <label class="inline-value">{{getAttributeFineValue(versionFromAttribute)}}</label>
                <label class="inline-label">{{::'refBook.versionToShort' | translate}}:</label>
                <label class="inline-value">{{getAttributeFineValue(versionToAttribute)}}</label>
            </div>
            <div data-ng-if="mode === 'CREATE' || mode === 'EDIT'" >
                <div class="row-fluid">
                    <div class="span4">
                        <label class="control-label">{{::'refBook.versionFromShort' | translate}}:</label>
                    </div>
                    <div class="span2">
                        <span data-aplana-field>
                            <span data-aplana-datepicker
                                  data-ng-model="temp.versionFrom"
                                  data-ng-required="true"></span>
                            <div data-aplana-validator data-key='required'>{{::'common.validation.required' | translate}}</div>
                            <div data-aplana-validator data-key='versionDate'>{{::'refBook.versionDates.validates' | translate}}</div>
                        </span>
                    </div>
                    <div class="span1">
                        <label class="control-label">{{::'refBook.versionToShort' | translate}}:</label>
                    </div>
                    <div class="span2">
                        <span data-aplana-field>
                            <span data-aplana-datepicker
                                  data-ng-model="temp.versionTo"></span>
                            <div data-aplana-validator data-key='versionDate'>{{::'refBook.versionDates.validates' | translate}}</div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Список атрибутов -->
        <div data-ng-repeat="attribute in refBook.attributes"
             data-ng-if="attribute.visible && attribute.alias !== APP_CONSTANTS.REFBOOK_ALIAS.RECORD_VERSION_FROM_ALIAS &&
             attribute.alias !== APP_CONSTANTS.REFBOOK_ALIAS.RECORD_VERSION_TO_ALIAS">
            <div class="row-fluid form-group">
                <div class="span4">
                    <label class="control-label">{{attribute.name}}:</label>
                </div>
                <div class="span8">
                    <!-- Режим просмотра -->
                    <label data-ng-if="mode === 'VIEW'" class="info-text">{{getAttributeFineValue(attribute)}}</label>
                    <!-- Режим создания и редактирования -->
                    <div data-ng-if="mode === 'CREATE' || mode === 'EDIT'" data-ng-switch="attribute.attributeType">
                        <div data-ng-switch-when="STRING">
                            <div data-aplana-field data-model-id="{{attribute.alias}}">
                                <input class="form-control" type="text"
                                       data-ng-model="record[attribute.alias].value"
                                       title="{{record[attribute.alias].value}}"
                                       aplana-input-outer-width="400"
                                       maxlength="{{attribute.maxLength}}"
                                       data-ng-disabled="attribute.readOnly"
                                       data-ng-required="{{attribute.required}}"/>
                                <div data-aplana-validator data-key='required'>{{'common.validation.required' | translate}}</div>
                            </div>
                        </div>
                        <div data-ng-switch-when="NUMBER" data-model-id="{{attribute.alias}}">
                            <div data-aplana-field>
                                <input class="form-control" type='text'
                                       data-ng-model="record[attribute.alias].value"
                                       title="{{attribute.name}}"
                                       aplana-input-outer-width="400"
                                       data-ng-pattern="patterns.number"
                                       data-ng-disabled="attribute.readOnly"
                                       data-ng-required="{{attribute.required}}">
                                <div data-aplana-validator data-key="pattern">{{::'common.validation.pattern.error' | translate}}</div>
                                <div data-aplana-validator data-key='required'>{{'common.validation.required' | translate}}</div>
                            </div>
                        </div>
                        <div data-ng-switch-when="DATE" data-model-id="{{attribute.alias}}">
                            <div data-aplana-field>
                                <!-- Особенность для справочника "Коды, определяющие налоговый (отчётный) период" - год отображать не надо -->
                                <div name="{{attribute.alias}}" data-aplana-datepicker
                                     aplana-picker-outer-width="150px"
                                     data-ng-model="record[attribute.alias].value"
                                     data-date-format="{{refBook.id === APP_CONSTANTS.REFBOOK.PERIOD_CODE || refBook.id === APP_CONSTANTS.REFBOOK.REPORT_PERIOD_IMPORT ? 'dd.MM' : 'dd.MM.yyyy'}}"
                                     title="{{attribute.name}}"
                                     data-ng-disabled="attribute.readOnly"
                                     data-ng-required="{{attribute.required}}"></div>
                                <div data-aplana-validator data-key='required'>{{::'common.validation.required' | translate}}</div>
                            </div>
                        </div>
                        <div data-ng-switch-when="REFERENCE" data-ng-controller="SelectRefBookCtrl" title="{{attributeTitle}}">
                            <!-- TODO: почему то для выпадашки не работает нормально валидация - сообщение появляется для другого поля, сходу решить проблему не удалось -->
                            <div data-aplana-field data-model-id="{{attribute.alias}}">
                                <div data-ui-select2="select.options"
                                     aplana-input-outer-width="400"
                                     data-ng-init="initSelect(attribute.refBookId, attribute.alias, null, false, actualDateFn)"
                                     data-ng-model="record[attribute.alias].value"
                                     data-ng-disabled="attribute.readOnly||versionFromIsEmpty()"
                                     data-ng-required="{{attribute.required}}"></div>
                                <div data-aplana-validator data-key='required'>{{::'common.validation.required' | translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span6">
                <div class="pull-right" style="margin-top: 9px">
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                            <td ng-class="{'ui-state-disabled' : !gridIterator.hasPrev()}">
                                <span class="ui-icon ui-icon-seek-prev" title="Предыдущая запись" style="cursor: pointer; margin-right: 10px"
                                      ng-hide="isEditMode || refBook.hierarchic"  data-ng-click="showPreviousRecord()"></span>
                            </td>
                            <td ng-class="{'ui-state-disabled' : !gridIterator.hasNext()}">
                                <span class="ui-icon ui-icon-seek-next pager-btn-state-disabled" title="Следующая запись" style="cursor: pointer; margin-left: 10px"
                                      ng-hide="isEditMode || refBook.hierarchic"  data-ng-click="showNextRecord()"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="span6">
                <button type="submit" class="btn btn-default" id="openButton" ng-show="isEditMode" data-ng-disabled="refBookRecordForm.$invalid">
                    <span data-translate-once="button.save"></span>
                </button>
                <button type="button" class="btn btn-default-nonBg iconed-btn" id="closeButton" ng-click="close()">
                    <span data-translate-once="button.cancel"></span>
                    <span class="btn-icon-noneBg-close"></span>
                </button>
            </div>
        </div>
    </div>
</form>
