<div>
    <div style="height: 0; width: 0; overflow: hidden;">
        <input type="file"
               data-ng-model="file"
               data-ng-attr-id="{{'fileInput_' + uniqueId}}"
               data-ng-attr-name="{{requestParameterName}}">
        <button type="submit">Отправить</button>
    </div>

    <label data-ng-attr-for="{{'fileInput_' + uniqueId}}">
        <i data-ng-class="aplanaLinkClass" class="icon-cbr-operations-new_doc"></i>
        <span style="text-decoration: underline; color: #004EAA;">Добавить</span>
    </label>
</div>
