<form class="form-horizontal" name="createApplication2Form" data-aplana-submit-valid="create()">
    <div class="modal-body" style="min-height:30px">
        <table class="horizontal-input-table gray-label-table auto-width-uneditable-input-table nowrap-label-table"
               style="height: 30px;">
            <tbody>
            <tr>
                <td>
                    <label class="control-label">{{::'application2.label.year' | translate}}:</label>
                </td>
                <td>
                    <div data-aplana-field>
                        <input type="number"
                               style="width: 300px;"
                               data-ng-model="form.reportYear"
                               data-ng-required="true"
                               max="9999"
                               min="1000"/>
                        <div data-aplana-validator data-key='required'>
                            {{::'common.validation.required' | translate}}
                        </div>
                        <div data-aplana-validator data-key='min'>
                            {{:: 'common.validation.min.value' | translate:'{ minValue: ' + 1000 + ' }'}}
                        </div>
                        <div data-aplana-validator data-key='max'>
                            {{:: 'common.validation.max.value' | translate:'{ maxValue: ' + 9999 + ' }'}}
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default iconed-btn" id="saveButton">
            <span data-translate-once="button.create"></span>
            <span class="btn-icon-ok"></span>
        </button>
        <button type="button" class="btn btn-default-nonBg iconed-btn" data-ng-click="close()">
            <span data-translate-once="button.cancel"></span>
            <span class="btn-icon-noneBg-close"></span>
        </button>
    </div>
</form>