<div class="form-group datepicker-block">
    <div class="{{labelGridClass}} {{paragraph}}">
        <label class="control-label date-from-label">{{ngLabel | translate}}:</label>
    </div>
    <div class="{{pickerGridClass}}">
        <div style="width: 130px; float: left;">
            <p class="input-group">
                <input type="text"
                       class="form-control"
                       data-datetime="dd.MM.yyyy"
                       data-datepicker-timezone
                       data-datepicker-popup="dd.MM.yyyy"
                       data-is-open="dateFromOpened"
                       data-close-text="{{'button.select' | translate}}"
                       data-current-text="{{'button.today' | translate}}"
                       data-clear-text="{{'button.clear' | translate}}"
                       data-ng-model="ngFromModel"
                       data-ng-pattern="/^(0[1-9]|[12][0-9]|3[01])[.](0[1-9]|1[012])[.]\d\d\d\d$/"
                       title="{{ngFromModel}}">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-sm" data-ng-click="dateFromSelectClick()">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
            </p>
        </div>
        <div class="date-to-label" style="float: left;margin-left: -26px;width: 39px;">
            <label class="control-label">{{'title.dateToFilterLabel' | translate}}:</label>
        </div>

        <div style="width: 130px; float: right; margin-right: -17px" class="date-to-block">
            <p class="input-group">
                <input type="text"
                       class="form-control"
                       data-datetime="dd.MM.yyyy"
                       data-datepicker-timezone
                       data-datepicker-popup="dd.MM.yyyy"
                       data-is-open="dateToOpened"
                       data-close-text="{{'button.select' | translate}}"
                       data-current-text="{{'button.today' | translate}}"
                       data-clear-text="{{'button.clear' | translate}}"
                       data-datepicker-options="dateToOptions"
                       data-ng-model="ngToModel"
                       data-ng-pattern="/^(0[1-9]|[12][0-9]|3[01])[.](0[1-9]|1[012])[.]\d\d\d\d$/"
                       title="{{ngToModel}}" >
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-sm" data-ng-click="dateToSelectClick()">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
            </p>
        </div>
    </div>
</div>