<div data-ng-controller="TemplateInfoTabCtrl"
     style="margin: 30px 30px 0 30px; line-height: 30px;">
    <div class="info-wrapper pull-control-label-right">
        <div style="width: 700px">
            <div class="row-fluid">
                <div class="span5">
                    <div class="control-label">{{::'declarationTemplate.tabs.info.activityPeriod' |
                        translate}}:
                    </div>
                </div>
                <div class="span7">
                    {{:: 'declarationTemplate.tabs.info.activityPeriod.valueFrom' | translate:'{ yearFrom: ' +
                    declarationTemplate.yearFrom + ' }'}}
                    <span data-ng-if="declarationTemplate.yearTo && declarationTemplate.yearTo !== null">
                    {{:: 'declarationTemplate.tabs.info.activityPeriod.valueTo' | translate:'{ yearTo: ' + declarationTemplate.yearTo + ' }'}}
                </span>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span5">
                    <div class="control-label">{{::'declarationTemplate.tabs.info.name' |
                        translate}}:
                    </div>
                </div>
                <div class="span7">
                    {{declarationTemplate.name}}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span5">
                    <div class="control-label">{{::'declarationTemplate.tabs.info.type' | translate}}:</div>
                </div>
                <div class="span7">
                    {{declarationTemplate.declarationFormKind.name}}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span5">
                    <div class="control-label">{{::'declarationTemplate.tabs.info.kind' |
                        translate}}:
                    </div>
                </div>
                <div class="span7">
                    {{declarationTemplate.formType.name}}
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 30px;">
        <button type="button" class="btn btn-default" data-ng-click="downloadXsdClick()"
                data-ng-disabled="!declarationTemplate.xsdId">
            <span data-translate-once="declarationTemplate.tabs.info.downloadXsd"></span>
        </button>
        <button type="file" class="btn btn-default" ngf-select="uploadXsdClick($file)">
            <span data-translate-once="declarationTemplate.tabs.info.uploadXsd"></span>
        </button>
    </div>
</div>