<div class="tabs">
    <ul class="nav nav-tabs">
        <li data-ng-show="tabButton" class="cbr-tabsControl">
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">{{tabButton.title}}<span
                        class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li data-ng-repeat="item in tabButton.items" data-ng-class="{divider: item.divider === true}"><a
                            data-ng-click="tabButton.onClick(item)">{{item.name}}</a>
                    </li>
                </ul>
            </div>
        </li>
        <li data-ng-repeat="tab in tabModel"
            data-ng-class="{active:tab.active}" data-ng-show="!tab.notFitOnScreen"
            data-aplana-tab-element data-tab="tab" data-tab-index="{{$index}}">
            <button title="Закрыть" class="close" data-ng-hide="!tab.close"
                    data-ng-click="ctrl.closeTabByIndex($index)">&times;</button>

            <a data-ng-click="ctrl.activateTabByIndex($index)">
                <span>{{tab.title}}</span>
            </a>
        </li>
        <li class="cbr-notFitOnScreenTabs" data-ng-hide="!showNotFitOnScreenTabsContainer"
            data-ng-class="{'active': activeTabIsNotFitOnWindow}">
            <div class="dropdown">
                <a data-toggle="dropdown">▼</a>
                <ul class="dropdown-menu">
                    <li data-ng-repeat="tab in tabModel" data-ng-show="tab.notFitOnScreen"
                        data-ng-class="{active:tab.active}">
                        <a data-ng-click="ctrl.activateTabByUrl(tab.url)">{{tab.title}}</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane" data-ng-class="{active:currentTab.active}">
            <div ng-switch="$getContent(currentTab)">
                <div ng-switch-when="content">
                    <div data-ng-bind="currentTab.content"></div>
                </div>
                <div ng-switch-when="htmlContent">
                    <div data-ng-bind-html="currentTab.htmlContent"></div>
                </div>
                <div ng-switch-default>
                    <div data-ng-include="currentTab.contentUrl"></div>
                </div>
            </div>
        </div>
    </div>
</div>