<div data-aplana-collapse data-label="'ndfl.filter.incomes' | translate">
    <div class="ndfl-subfilter nowrap-select row-fluid">
        <div class="span4">
            <!--ID операции-->
            <div class="row-fluid form-group">
                <div class="span4">
                    <label class="control-label">{{::'title.idOperation' |
                        translate}}:</label>
                </div>
                <div class="span8">
                    <input data-ng-model="searchFilter.params.income.operationId"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           type="text" class="form-control"
                           title="{{searchFilter.params.income.operationId}}"/>
                </div>
            </div>
            <!--КПП-->
            <div class="row-fluid form-group">
                <div class="span4">
                    <label class="control-label">{{::'title.kpp' | translate}}:</label>
                </div>
                <div class="span8">
                    <input data-ng-model="searchFilter.params.income.kpp"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           type="text" class="form-control"
                           title="{{searchFilter.params.income.kpp}}"/>
                </div>
            </div>
            <!--ОКТМО-->
            <div class="row-fluid form-group">
                <div class="span4">
                    <label class="control-label">{{::'title.oktmo' | translate}}:</label>
                </div>
                <div class="span8">
                    <input data-ng-model="searchFilter.params.income.oktmo"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           type="text" class="form-control"
                           title="{{searchFilter.params.income.oktmo}}"/>
                </div>
            </div>
            <!--Процентная ставка-->
            <div class="row-fluid form-group">
                <div class="span4">
                    <label class="control-label">{{::'title.taxRate' | translate}}:</label>
                </div>
                <div class="span8">
                    <input data-ng-model="searchFilter.params.income.taxRate"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           type="text" class="form-control"
                           title="{{searchFilter.params.income.taxRate}}"/>
                </div>
            </div>
            <!--Код дохода-->
            <div class="row-fluid form-group">
                <div class="span4">
                    <label class="control-label">{{::'title.incomeCode' | translate}}:</label>
                </div>
                <div class="span8">
                    <input data-ng-model="searchFilter.params.income.incomeCode"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           type="text" class="form-control"
                           title="{{searchFilter.params.income.incomeCode}}"/>
                </div>
            </div>
            <!--Признак дохода-->
            <div class="row-fluid form-group">
                <div class="span4">
                    <label class="control-label">{{::'title.incomeAttr' | translate}}:</label>
                </div>
                <div class="span8">
                    <input data-ng-model="searchFilter.params.income.incomeAttr"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           type="text" class="form-control"
                           title="{{searchFilter.params.income.incomeAttr}}"/>
                </div>
            </div>
        </div>
        <div class="span4">
            <!--Дата начисления-->
            <div class="row-fluid form-group">
                <date-from-to-filter
                        data-label-width="4"
                        ng-period-model="searchFilter.params.income"
                        ng-from-param="accruedDateFrom"
                        ng-to-param="accruedDateTo"
                        ng-label="title.accruedDateFrom"></date-from-to-filter>
            </div>
            <!--Дата выплаты-->
            <div class="row-fluid form-group">
                <date-from-to-filter
                        data-label-width="4"
                        ng-period-model="searchFilter.params.income"
                        ng-from-param="payoutDateFrom"
                        ng-to-param="payoutDateTo"
                        ng-label="title.payoutDateFrom"></date-from-to-filter>
            </div>
            <!--Дата расчёта НДФЛ-->
            <div class="row-fluid form-group">
                <date-from-to-filter
                        data-label-width="4"
                        ng-period-model="searchFilter.params.income"
                        ng-from-param="calculationDateFrom"
                        ng-to-param="calculationDateTo"
                        ng-label="title.calculationDateFrom"></date-from-to-filter>
            </div>
            <!--Срок перечисления в бюджет-->
            <div class="row-fluid form-group">
                <div class="span4 standartParagraphForDate">
                    <label class="control-label date-from-label">{{::'title.transferDateFrom' | translate}}:</label>
                </div>
                <div class="span8 row-fluid form-group">
                    <div class="span5">
                        <div data-ng-show="!searchFilter.disableTaxTransferDate"
                             data-aplana-datepicker
                             data-ng-model="searchFilter.params.income.transferDateFrom"></div>
                        <input type="text" placeholder="{{APP_CONSTANTS.DATE_ZERO.AS_STRING}}"
                               style="width: 100%;"
                               data-ng-show="searchFilter.disableTaxTransferDate"
                               data-ng-disabled="searchFilter.disableTaxTransferDate"/>
                    </div>
                    <div class="span2 date-to-label">
                        <label class="control-label">{{'title.dateToFilterLabel' | translate}}:</label>
                    </div>
                    <div class="span5 date-to-block">
                        <div data-ng-show="!searchFilter.disableTaxTransferDate"
                             data-aplana-datepicker
                             data-ng-model="searchFilter.params.income.transferDateTo"></div>
                        <input type="text" placeholder="{{APP_CONSTANTS.DATE_ZERO.AS_STRING}}"
                               style="width: 100%;"
                               data-ng-show="searchFilter.disableTaxTransferDate"
                               data-ng-disabled="searchFilter.disableTaxTransferDate"/>
                    </div>
                </div>
            </div>
            <!-- Чекбокс 00.00.0000 -->
            <div class="row-fluid form-group">
                <div class="span4"></div>
                <div class="span8">
                    <label>
                        <input type="checkbox" data-ng-model="searchFilter.disableTaxTransferDate"/>
                        {{APP_CONSTANTS.DATE_ZERO.AS_STRING}}
                    </label>
                </div>
            </div>
            <!--Дата платёжного поручения-->
            <div class="row-fluid form-group">
                <date-from-to-filter
                        data-label-width="4"
                        ng-period-model="searchFilter.params.income"
                        ng-from-param="paymentDateFrom"
                        ng-to-param="paymentDateTo"
                        ng-label="title.paymentOrderDateFrom"></date-from-to-filter>
            </div>
            <!--Номер платёжного поручения-->
            <div class="row-fluid form-group">
                <div class="span4">
                    <label class="control-label" style="min-width: 113px;">
                        {{::'title.numberPaymentOrder' | translate}}:
                    </label>
                </div>
                <div class="span8">
                    <input data-ng-model="searchFilter.params.income.numberPaymentOrder"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           type="text" class="form-control"
                           title="{{searchFilter.params.income.numberPaymentOrder}}"/>
                </div>
            </div>
            <!--Возвращенный налог-->
            <div class="row-fluid form-group">
                <div class="span4">
                    <label class="control-label" style="min-width: 113px;">
                        {{::'title.taxRefund' | translate}}:
                    </label>
                </div>
                <div class="span8 row-fluid form-group">
                    <div class="span7">
                        <div data-ng-controller="SelectFromArrayCtrl" style="width: 100%;"
                             data-ui-select2="selectFromArray.options"
                             data-ng-model="searchFilter.params.income.taxRefundCondition.operator"
                             data-ng-init="initBasicSingleSelectFromArray(APP_CONSTANTS.OPERATOR, true)">
                        </div>
                    </div>
                    <div class="span5">
                        <input data-ng-model="searchFilter.params.income.taxRefundCondition.argument2"
                               type="text" class="form-control"
                               data-ng-pattern="patterns.number"
                               data-ng-disabled="searchFilter.params.income.taxRefundCondition.operator.unary"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="span4">
            <!--Данные УРМ-->
            <div class="row-fluid form-group" style="min-height: 62px;">
                <div class="span4" style="position: relative;">
                    <label class="control-label">{{::'title.URMData' | translate}}:</label>
                </div>
                <div class="span8" style="position: relative;">
                    <div data-aplana-field>
                        <div data-ng-controller="SelectFromArrayCtrl" style="width: 100%;"
                             data-ui-select2="selectFromArray.options"
                             data-ng-model="searchFilter.params.income.urmList"
                             data-ng-init="initBasicMultipleSelectFromArray(APP_CONSTANTS.URM)">
                        </div>
                    </div>
                </div>
            </div>
            <!--Номер строки-->
            <div class="row-fluid form-group">
                <div class="span4">
                    <label class="control-label">{{::'title.rowNum' | translate}}:</label>
                </div>
                <div class="span8">
                    <input data-ng-model="searchFilter.params.income.rowNum" type="text"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           class="form-control"
                           title="{{searchFilter.params.income.rowNum}}"/>
                </div>
            </div>
            <!--Идентификатор строки-->
            <div class="row-fluid form-group">
                <div class="span4">
                    <label class="control-label">{{::'title.id' | translate}}:</label>
                </div>
                <div class="span8">
                    <input data-ng-model="searchFilter.params.income.id" type="text"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           class="form-control"
                           title="{{searchFilter.params.income.id}}"/>
                </div>
            </div>
            <!--Дата редактирования-->
            <div class="row-fluid form-group">
                <date-from-to-filter
                        data-label-width="4"
                        ng-period-model="searchFilter.params.income"
                        ng-from-param="modifiedDateFrom"
                        ng-to-param="modifiedDateTo"
                        ng-label="title.modifiedDateFrom"></date-from-to-filter>
            </div>
            <!--Обновил-->
            <div class="row-fluid form-group">
                <div class="span4">
                    <label class="control-label">{{::'title.modifiedBy' | translate}}:</label>
                </div>
                <div class="span8">
                    <input data-ng-model="searchFilter.params.income.modifiedBy" type="text"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           class="form-control"
                           title="{{searchFilter.params.income.modifiedBy}}"/>
                </div>
            </div>
            <!--АСНУ-->
            <div class="row-fluid form-group">
                <div class="span4">
                    <label class="control-label">{{::'title.nameAsnu' | translate}}</label>
                </div>
                <div class="span8">
                    <div data-aplana-field>
                        <div data-ng-controller="SelectAsnuCtrl" style="width: 100%;"
                             data-ui-select2="asnuSelect.options"
                             data-ng-model="searchFilter.params.income.asnu"
                             data-ng-init="initMultipleSelectAsnu()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
