<div class="flex-column">
    <div class="content-header">
        <h1>{{::'async.title' | translate}}</h1>
    </div>
    <div id="asyncTasksGridContainer" class="container-grid box-shadow-block flex-fill flex-column">
        <div id="asyncTasksGridTop">
            <!--Панель кнопок -->
            <div class="button_panel">
                <div class="btn-toolbar" role="toolbar">
                    <span>
                        <!-- Остановить задачу -->
                        <button type="button"
                                class="btn btn-default"
                                data-ng-click="interruptTask()"
                                data-ng-disabled="!allSelectedAreAllowedToInterrupt()">
                            <span data-translate-once="async.button.interrupt"></span>
                        </button>
                    </span>
                    <span>
                        <!--Фильтр-->
                        <input style="float: left; margin-right: 4px; margin-top: 3px;"
                               type="text"
                               data-ng-model="searchFilter.filter"/>
                    </span>
                    <span>
                        <!--Найти-->
                        <button type="button" class="btn btn-default"
                                data-ng-click="refreshGrid(1)">
                            <span data-translate-once="async.button.search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <!-- Таблица -->
        <div class="flex-grid flex-fill"
             data-aplana-grid
             data-grid-fill-space="true"
             data-grid-fill-space-container-selector="#asyncTasksGridContainer"
             data-grid-fill-space-container-selector-top="#asyncTasksGridTop"
             data-grid-options="asyncGrid.options"
             data-grid-ctrl="asyncGrid.ctrl"
             data-ng-model="asyncGrid.value"
             id="asyncTable">
        </div>
    </div>
</div>