<div class="flex-column">
    <div class="content-header">
        <h1>{{::'locks.title' | translate}}</h1>
    </div>
    <div id="locksGridContainer" class="container-grid box-shadow-block flex-fill flex-column">
        <div id="locksGridTop">
            <!--Панель кнопок -->
            <div class="button_panel">
                <div class="btn-toolbar" role="toolbar">
                <span>
                    <!-- Удалить блокировку -->
                    <button type="button" class="btn btn-default"
                            data-ng-click="deleteLock()"
                            data-ng-disabled="!allSelectedAreAllowedToUnlock()">
                        <span data-translate-once="locks.button.delete"></span>
                    </button>
                </span>
                    <span>
                    <!--Фильтр-->
                    <input style="float: left; margin-right: 4px; margin-top: 3px;" type="text"
                           data-ng-model="searchFilter.filter"/>
                </span>
                    <span>
                    <!--Найти-->
                    <button type="button" class="btn btn-default"
                            data-ng-click="refreshGrid(1)">
                        <span data-translate-once="locks.button.search"></span>
                    </button>
                </span>
                </div>
            </div>
        </div>

        <!-- Таблица -->
        <div class="flex-grid flex-fill"
             data-aplana-grid
             data-grid-fill-space="true"
             data-grid-fill-space-container-selector="#locksGridContainer"
             data-grid-fill-space-container-selector-top="#locksGridTop"
             data-grid-options="locksGrid.options"
             data-grid-ctrl="locksGrid.ctrl"
             data-ng-model="locksGrid.value"
             id="locksTable"
             style="float: left; width: 100%;"></div>
    </div>
</div>