<div id="ndfl" style="height:96%;">
    <!--Заголовок-->
    <div class="row" style="min-width: 1000px;">
        <div class="header-col" style="margin: 14px 0 0 28px;">
            <h1>{{::'taskList.title.taskManager' | translate}} - {{::'taskList.title.listTasks' | translate}}</h1>
        </div>
    </div>
    <div class="form100 container-grid box-shadow-block" style="height: 94%">
        <div class="row container-grid-top" style="min-width: 1400px; margin: 0; height: 30px;">
            <!--Запустить выполнение по расписанию-->
            <button type="button" class="btn btn-default"
                    data-ng-click="activate()" data-ng-disabled="taskListGrid.value.length == 0">
                <span data-translate-once="taskList.button.runTasks"></span>
            </button>
            <!--Остановить выполнение по расписанию-->
            <button type="button" class="btn btn-default"
                    data-ng-click="deactivate()" data-ng-disabled="taskListGrid.value.length == 0">
                <span data-translate-once="taskList.button.stopTasks"></span>
            </button>
            <!--Обновить-->
            <button type="button" class="btn btn-default"
                    data-ng-click="refreshGrid(1)">
                <span data-translate-once="taskList.button.update"></span>
            </button>
         </div>
        <div data-aplana-grid
             data-grid-fill-space="true"
             data-grid-fill-space-container-selector="#ndfl"
             data-grid-fill-space-container-selector-top=".container-grid-top"
             data-grid-options="taskListGrid.options"
             data-grid-ctrl="taskListGrid.ctrl"
             data-ng-model="taskListGrid.value"
             id="taskListTable"
             style="float: left; width: 100%; margin-top: 5px;"></div>
    </div>
</div>
