@CHARSET "UTF-8";

html,body{
    height:100%;
    font-family: Tahoma, helvetica, arial, sans-serif !important;
}

body, table td, select {
    font-family: Tahoma, helvetica, arial, sans-serif !important;
}

h2{
	color: #777777;
	font-size: 22px;
}

h3{
	color: #777777;
	font-size: 16px;
}

.mainContent {
	/* text-align: center;
	margin: 0 auto;
	width: 1000px;*/
}

.loadingStatusLabel {
    background-color: #FFF1A8;
    border-color: #FFF1A8 #FFF1A8;
    border-radius: 0 0 4px 4px;
    border-right: 2px solid #FFF1A8;
    border-style: none solid solid;
    border-width: 0 2px 2px;
    color: #000000;
    font-weight: bold;
    left: 45%;
    margin-left: -40px;
    padding: 3px;
    position: absolute;
    z-index: 1100;
}

.topNavigation {
	background: url("img/top_grad.gif");
    border-bottom: 3px solid #7E7F7F;
    height: 41px;
}

.topHeader {
	vertical-align: top;
	height: 41px;
}

.topLeftLogo {
	float: left;
	background: none;
	border: none;
}

.topLeftLogo img {
	margin: 0px;
	padding: 0px;
	background: none;
	border: none;
}

.topRightLogo {
    right: 0;
    float: right;
    background: none;
    border: none;
}

.topRightLogo img {
    float: right;
    margin: 0px;
    padding: 0px;
    background: none;
    border: none;
}

.topLogoMsg {
	color: #777777;
	font-size: 22px;
    font-weight: bold;
    left: 50%;
    margin: 10px 0 0 -120px;
    position: absolute;
}


