<div id="production-planning">
    <h1>{{'productionPlanning' | translate}}</h1>
    <!-- Панель фильтрации -->
    <div class="grid-filter" style="min-width: 1250px;">
        <div data-aplana-collapse data-is-collapsed="false" data-label="'filterPanelLabel' | translate">
            <form class="form-horizontal" role="form" novalidate>
                <div class="row">
                    <div class="filter-col w300">
                        <data-fulltext-filter
                                label-class="col-md-4"
                                input-class="col-md-8"
                                ng-model="dataOptions.filter.fulltext"/>
                    </div>
                    <div class="filter-col">
                        <data-search-clear-buttons
                                on-search="searchClick()"
                                on-clear="clearFilterClick()"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Панель кнопок над таблицей -->
    <div class="button_panel">
        <div class="btn-toolbar" role="toolbar">
            <!-- Создать -->
            <span data-ng-check-operation="['PRODUCTION_PLAN_CREATE']">
                <button type="button" class="btn btn-default" data-ng-disabled="!createButtonEnabled"
                        data-ng-click="createButtonClick()">
                    <img src="img/button/{{createButtonEnabled ? 'enable' : 'disable'}}/new.png" width="32px" height="22px"
                         alt="{{'common.button.create' | translate}}"/>
                    {{'common.button.create' | translate}}
                </button>
            </span>
            <!-- Экспорт -->
            <span ng-include="'js/common/templates/exportButton.html'"
                  data-ng-check-operation="['PRODUCTION_PLAN_EXPORT']"></span>
        </div>
    </div>
    <!-- Таблица -->
    <div id="production-planning-content" class="content-with-table">
        <div id="production-planning-grid" class="usim-grid" data-ui-grid="gridOptions" ui-grid-resize-columns
             ui-grid-selection ui-grid-pagination ui-grid-autoResize></div>
    </div>
    <div class="numberItems">
        <p>{{'theNumberOfSelectedItems' | translate}}<label style="margin-left: 3px;">{{numberOfSelectedItems}}</label></p>
    </div>
</div>