<div class="modal-body" style="min-height: 150px">
    <div class="form-horizontal" data-ng-form="createDeclarationTypeAssignment">
        <table class="horizontal-input-table gray-label-table auto-width-uneditable-input-table nowrap-label-table"
               style="height: 100px;">
            <tbody>
            <tr>
                <td>
                    <label class="control-label">{{::'declarationTypeAssignment.modal.field.department' | translate}}:</label>
                </td>
                <td>
                    <div data-aplana-field id="field-outer">
                        <div id="field-inner-select" style="width: 355px;"
                             data-ng-controller="SelectDepartmentCtrl"
                             data-ui-select2="departmentsSelect.options"
                             data-ng-init="initSelectWithBADepartments()"
                             data-ng-model="assignmentData.departments"
                             data-ng-required="true">
                        </div>
                        <div data-aplana-validator data-key='required'>{{::'field.ndfl.requiredField' |
                            translate}}
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">{{::'declarationTypeAssignment.modal.field.declarationType' |
                        translate}}:</label>
                </td>
                <td>
                    <div data-aplana-field>
                        <div style="width: 355px;"
                             data-ng-controller="SelectDeclarationTypeCtrl"
                             data-ui-select2="declarationTypeSelect.options"
                             data-ng-init="initSelectWithTaxAndReportDeclarationTypes()"
                             data-ng-model="assignmentData.declarationTypes"
                             data-ng-required="true">
                        </div>
                        <div data-aplana-validator data-key='required'>{{::'field.ndfl.requiredField' |
                            translate}}
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">{{::'declarationTypeAssignment.modal.field.performer' |
                        translate}}:</label>
                </td>
                <td>
                    <div data-aplana-field>
                        <div style="width: 355px;"
                             data-ng-controller="SelectDepartmentCtrl"
                             data-ui-select2="departmentsSelect.options"
                             data-ng-init="initSelectWithDestinationDepartments()"
                             data-ng-model="assignmentData.performers"
                             data-ng-required="false">
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default iconed-btn" id="saveButton" data-ng-click="save()" data-ng-disabled="!requiredFieldsAreFilled()">
        <span data-translate-once="button.create"></span>
        <span class="btn-icon-ok"></span>
    </button>
    <button type="button" class="btn btn-default-nonBg iconed-btn" id="closeButton" data-ng-click="close()">
        <span data-translate-once="button.close"></span>
        <span class="btn-icon-noneBg-close"></span>
    </button>
</div>