<form class="form-horizontal" name="createReportForm" data-aplana-submit-valid="save()">
    <div class="modal-body">
        <table class="horizontal-input-table gray-label-table auto-width-uneditable-input-table nowrap-label-table"
               style="height: 100px;">
            <tbody>
            <tr>
                <td>
                    <label class="control-label">{{::'createReport.period' | translate}}:</label>
                </td>
                <td>
                    <div data-aplana-field>
                        <div style="width: 355px;" data-ng-controller="SelectPeriodCtrl"
                             data-ui-select2="periodSelect.options"
                             data-ng-init="initSelectWithOpenPeriods(latestReportPeriod)"
                             data-ng-model="reportData.period"
                             data-required>
                        </div>
                        <div data-aplana-validator data-key='required'>{{::'common.validation.required' |
                            translate}}
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <label class="control-label">{{::'createReport.department' | translate}}:</label>
                </td>
                <td>
                    <div data-ng-if="reportData.period">
                        <div data-aplana-field>
                            <div style="width: 355px;" data-ng-controller="SelectDepartmentCtrl"
                                 data-ui-select2="departmentsSelect.options"
                                 data-ng-init="initActiveAvailableTBSelect('reportData.period',userTBDepartment)"
                                 data-ng-model="reportData.department"
                                 data-required>
                            </div>
                            <div data-aplana-validator data-key='required'>{{::'common.validation.required' |
                                translate}}
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <label class="control-label">{{::'createReport.reportType' |
                        translate}}:</label>
                </td>
                <td>
                    <div data-ng-if="reportData.department && reportData.period">
                        <div data-aplana-field>
                            <div style="width: 355px;" data-ng-controller="SelectDeclarationTypeCtrl"
                                 data-ui-select2="declarationTypeSelect.options"
                                 data-ng-model="reportData.declarationType"
                                 data-ng-init="initSelectWithReportDeclarationTypesForCreate(reportFormKind, 'reportData.period', 'reportData.department')"
                                 data-required>
                            </div>
                            <div data-aplana-validator data-key='required'>{{::'common.validation.required' |
                                translate}}
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <label data-ng-show="correctionPeriod">{{::'createReport.correctionMessage' | translate}} {{correctionDate |
            dateFormatter}}</label>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default iconed-btn">
            {{"DIALOGS_CREATE" | translate}}
            <span class="btn-icon-ok"></span>
        </button>
        <button type="button" class="btn btn-default-nonBg iconed-btn" id="cancelButton" ng-click="cancel()">
            {{"DIALOGS_CLOSE" | translate}}
            <span class="btn-icon-noneBg-close"></span>
        </button>
    </div>
</form>