<div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel()">×</button>
    <h4 class="modal-title">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;{{header}}
    </h4>
</div>
<form role="form" name="createOrEditFLForm" novalidate class="modal-form form-horizontal"
      data-aplana-submit-valid="save()">
    <div class="modal-body" style="height: 500px">
        <fieldset class="form-fieldset" style="width: 200px; float: left">
            <legend>{{::'title.taxpayer' | translate}}</legend>
            <div>
                <div>
                    <label class="control-label">{{::'title.inp' | translate}}</label>
                </div>
                <div data-aplana-field>
                    <input style="margin-left: -180px;width: 168px;"
                           data-ng-model="entity.inp"
                           required
                           type="text"
                           class="form-control"
                           title="{{entity.inp}}"/>

                    <div data-aplana-validator data-key="required">
                        {{::'field.ndfl.requiredField' | translate}}
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <label class="control-label">{{::'title.lastName' | translate}}</label>
                </div>
                <div data-aplana-field>
                    <input style="margin-left: -180px;width: 168px;"
                           data-ng-model="entity.lastName" required
                           type="text" class="form-control"
                           title="{{entity.lastName}}"/>
                    <div data-aplana-validator data-key="required">
                        {{::'field.ndfl.requiredField' | translate}}
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <label class="control-label">{{::'title.firstName' | translate}}</label>
                </div>
                <div data-aplana-field>
                    <input style="margin-left: -180px;width: 168px;"
                           data-ng-model="entity.firstName" required
                           type="text" class="form-control"
                           title="{{entity.firstName}}"/>
                    <div data-aplana-validator data-key="required">
                        {{::'field.ndfl.requiredField' | translate}}
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <label class="control-label">{{::'title.middleName' | translate}}</label>
                </div>
                <div data-aplana-field>
                    <input style="margin-left: -180px;width: 168px;"
                           data-ng-model="entity.middleName" required
                           type="text" class="form-control"
                           title="{{entity.middleName}}"/>
                    <div data-aplana-validator data-key="required">
                        {{::'field.ndfl.requiredField' | translate}}
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <label class="control-label">{{::'title.dateOfBirth' | translate}}</label>
                </div>
                <div>
                    <date-picker model="entity.dateOfBirth"></date-picker>
                </div>
            </div>
            <div>
                <div>
                    <label class="control-label" for="entity_citizenship">{{::'title.citizenship' | translate}}</label>
                </div>
                <div data-aplana-field>
                    <div style="margin-left: -180px;width: 168px;"
                         name="entity_citizenship"
                         id="entity_citizenship"
                         data-ui-select2="citizenshipSelect.options"
                         data-ng-model="entity.citizenship"
                         data-ng-required="true">
                    </div>
                    <div data-aplana-validator data-key="required">
                        {{::'field.ndfl.requiredField' | translate}}
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <label class="control-label" for="entity_statuscode">{{::'title.statusCode' | translate}}</label>
                </div>
                <div data-aplana-field>
                    <div style="margin-left: -180px;width: 168px;"
                         data-ui-select2="statusCodeSelect.options"
                         data-ng-model="entity.statusCode"
                         data-ng-required="true"
                         name="entity_statuscode"
                         id="entity_statuscode">
                    </div>
                    <div data-aplana-validator data-key="required">
                        {{::'field.ndfl.requiredField' | translate}}
                    </div>
                </div>
            </div>
        </fieldset>

        <div style="width: 200px; display: inline-block; margin-left: 15px;">
            <fieldset class="form-fieldset">
                <legend>{{::'title.document' | translate}}</legend>
                <div>
                    <div>
                        <label class="control-label" for="entity_documentcode">{{::'title.document.code' | translate}}</label>
                    </div>
                    <div data-aplana-field>
                        <div style="margin-left: -180px;width: 168px;"
                             data-ui-select2="documentCodeSelect.options"
                             data-ng-model="entity.documentCode"
                             data-ng-required="true"
                             name="entity_documentcode"
                             id="entity_documentcode">
                        </div>
                        <div data-aplana-validator data-key="required">
                            {{::'field.ndfl.requiredField' | translate}}
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <label class="control-label">{{::'title.document.number' | translate}}</label>
                    </div>
                    <div data-aplana-field>
                        <input style="margin-left: -180px;width: 168px;"
                               data-ng-model="entity.documentNumber"
                               required
                               type="text" class="form-control"
                               title="{{entity.document.number}}"
                               data-ui-validate="{isNumber : 'isNumber($value)'}"/>

                        <div data-aplana-validator data-key="required">
                            {{::'field.ndfl.requiredField' | translate}}
                        </div>
                        <div data-aplana-validator data-key="isNumber">
                            {{::'field.ndfl.isNumber' | translate}}
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="form-fieldset" style="margin-top: 15px;">
                <legend>{{::'title.document' | translate}}</legend>
                <div>
                    <div>
                        <label class="control-label">{{::'title.innNp' | translate}}</label>
                    </div>
                    <div data-aplana-field>
                        <input style="margin-left: -180px;width: 168px;"
                               data-ng-model="entity.innNp" required
                               type="text" class="form-control"
                               title="{{entity.innNp}}"/>
                        <div data-aplana-validator data-key="required">
                            {{::'field.ndfl.requiredField' | translate}}
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <label class="control-label">{{::'title.innForeign' | translate}}</label>
                    </div>
                    <div data-aplana-field>
                        <input style="margin-left: -180px;width: 168px;"
                               data-ng-model="entity.innForeign" required
                               type="text" class="form-control"
                               title="{{entity.innForeign}}"/>
                        <div data-aplana-validator data-key="required">
                            {{::'field.ndfl.requiredField' | translate}}
                        </div>
                    </div>
                </div>
            </fieldset>

        </div>

        <fieldset class="form-fieldset" style="width: 300px; float: right">
            <legend>{{::'title.registrationAddress' | translate}}</legend>
            <div>
                <div>
                    <label class="control-label">{{::'title.subject' | translate}}</label>
                </div>
                <div data-aplana-field>
                    <div style="margin-left: -180px;width: 268px;"
                         data-ui-select2="subjectCodeSelect.options"
                         data-ng-model="entity.subject"
                         data-ng-required="true"
                         name="entity_subject">
                    </div>
                    <div data-aplana-validator data-key="required">
                        {{::'field.ndfl.requiredField' | translate}}
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <label class="control-label">{{::'title.area' | translate}}</label>
                </div>
                <div data-aplana-field>
                    <div style="margin-left: -180px;width: 268px;"
                         data-ui-select2="areaSelect.options"
                         data-ng-model="entity.area"
                         data-ng-required="true"
                         name="entity_area">
                    </div>
                    <div data-aplana-validator data-key="required">
                        {{::'field.ndfl.requiredField' | translate}}
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <label class="control-label">{{::'title.city' | translate}}</label>
                </div>
                <div data-aplana-field>
                    <div style="margin-left: -180px;width: 268px;"
                         data-ui-select2="citySelect.options"
                         data-ng-model="entity.city"
                         data-ng-required="true"
                         name="entity_city">
                    </div>
                    <div data-aplana-validator data-key="required">
                        {{::'field.ndfl.requiredField' | translate}}
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <label class="control-label">{{::'title.locality' | translate}}</label>
                </div>
                <div data-aplana-field>
                    <div style="margin-left: -180px;width: 268px;"
                         data-ui-select2="localitySelect.options"
                         data-ng-model="entity.locality"
                         data-ng-required="true"
                         name="entity_locality">
                    </div>
                    <div data-aplana-validator data-key="required">
                        {{::'field.ndfl.requiredField' | translate}}
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <label class="control-label">{{::'title.street' | translate}}</label>
                </div>
                <div data-aplana-field="">
                    <div style="margin-left: -180px;width: 268px;"
                         data-ui-select2="streetSelect.options"
                         data-ng-model="entity.street"
                         data-ng-required="true"
                         name="entity_street">
                    </div>
                    <div data-aplana-validator data-key="required">
                        {{::'field.ndfl.requiredField' | translate}}
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <label class="control-label">{{::'title.index' | translate}}</label>
                </div>
                <div data-aplana-field>
                    <input style="margin-left: -180px;width: 268px;"
                           data-ng-model="entity.index" required
                           type="text" class="form-control"
                           title="{{entity.index}}"/>
                    <div data-aplana-validator data-key="required">
                        {{::'field.ndfl.requiredField' | translate}}
                    </div>
                </div>
            </div>
            <div style="width: 80px;display: inline-block;vertical-align: top;">
                <div>
                    <label class="control-label" style="width: 65px;">{{::'title.house' | translate}}</label>
                </div>
                <div data-aplana-field>
                    <input style="margin-left: -180px;width: 80px;"
                           data-ng-model="entity.house" required
                           type="text" class="form-control"
                           title="{{entity.house}}"/>
                    <div data-aplana-validator data-key="required">
                        {{::'field.ndfl.requiredField' | translate}}
                    </div>
                </div>
            </div>
            <div style="width: 80px;display: inline-block;vertical-align: top; margin: 0 10px;">
                <div>
                    <label class="control-label" style="width: 65px;">{{::'title.building' | translate}}</label>
                </div>
                <div>
                    <input data-ng-model="entity.building"
                           type="text" class="form-control"
                           title="{{entity.building}}"/>
                </div>
            </div>
            <div style="width: 80px;display: inline-block;vertical-align: top;">
                <div>
                    <label class="control-label" style="width: 65px;">{{::'title.flat' | translate}}</label>
                </div>
                <div data-aplana-field>
                    <input style="margin-left: -180px;width: 80px;"
                           data-ng-model="entity.flat" required
                           type="text" class="form-control"
                           title="{{entity.flat}}"/>
                    <div data-aplana-validator data-key="required">
                        {{::'field.ndfl.requiredField' | translate}}
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="modal-footer">
        <span class="modal-hint-text" style="width: 320px;" data-translate-once="common.hint"></span>
        <button type="submit" class="btn btn-danger">
            {{buttonTitle}}
        </button>
        <button type="button" class="btn btn-default" id="cancelButton" data-ng-click="cancel()">
            <span data-translate-once="common.button.cancel"></span>
        </button>
    </div>

</form>
