<div class="modal-body" style="min-height: 150px">
    <div class="form-horizontal" data-ng-form="createDeclarationForm">
        <table class="horizontal-input-table gray-label-table auto-width-uneditable-input-table nowrap-label-table"
               style="height: 100px;">
            <tbody>
            <tr>
                <td>
                    <label class="control-label">{{::'createDeclaration.period' | translate}}:</label>
                </td>
                <td>
                    <div data-aplana-field>
                        <div style="width: 355px;"
                             data-ng-controller="SelectPeriodCtrl"
                             data-ui-select2="periodSelect.options"
                             data-ng-init="initSelectWithOpenPeriods(latestReportPeriod)"
                             data-ng-model="declarationData.period"
                             data-ng-required="true">
                        </div>
                        <div data-aplana-validator data-key='required'>{{::'field.ndfl.requiredField' |
                            translate}}
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">{{::'createDeclaration.department' | translate}}:</label>
                </td>
                <td>
                    <div data-ng-if="declarationData.period">
                        <div data-aplana-field>
                            <div style="width: 355px;"
                                 data-ng-controller="SelectDepartmentCtrl"
                                 data-ui-select2="departmentsSelect.options"
                                 data-ng-init="initActiveDepartmentSelectWithOpenPeriod('declarationData.period')"
                                 data-ng-model="declarationData.department"
                                 data-ng-required="true">
                            </div>
                            <div data-aplana-validator data-key='required'>{{::'field.ndfl.requiredField' |
                                translate}}
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">{{::'createDeclaration.declarationType' |
                        translate}}:</label>
                </td>
                <td>
                    <div data-ng-if="declarationData.department && declarationData.period">
                        <div data-aplana-field>
                            <div style="width: 355px;"
                                 data-ng-controller="SelectDeclarationTypeCtrl"
                                 data-ui-select2="declarationTypeSelect.options"
                                 data-ng-init="initSelectWithDeclarationTypesForCreate(declarationKind, 'declarationData.period', 'declarationData.department')"
                                 data-ng-model="declarationData.declarationType"
                                 data-ng-required="true">
                            </div>
                            <div data-aplana-validator data-key='required'>{{::'field.ndfl.requiredField' |
                                translate}}
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr data-ng-if="allowSetAsnu()">
                <td>
                    <label class="control-label">{{::'createDeclaration.asnu' | translate}}</label>
                </td>
                <td>
                    <div>
                        <div data-aplana-field>
                            <div style="width: 355px;"
                                 data-ng-controller="SelectAsnuCtrl"
                                 data-ui-select2="asnuSelect.options"
                                 data-ng-init = "initSingleSelectAsnu()"
                                 data-ng-model="declarationData.asnu"
                                 data-ng-required="true">
                            </div>
                            <div data-aplana-validator data-key='required'>{{::'field.ndfl.requiredField' |
                                translate}}
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default iconed-btn" id="saveButton" data-ng-disabled="createDeclarationForm.$invalid" data-ng-click="save()">
        <span data-translate-once="button.create"></span>
        <span class="btn-icon-ok"></span>
    </button>
    <button type="button" class="btn btn-default-nonBg iconed-btn" id="closeButton" data-ng-click="close()">
        <span data-translate-once="button.close"></span>
        <span class="btn-icon-noneBg-close"></span>
    </button>
</div>