<div class="flex-column">
    <div class="content-header">
        <h1>{{::'header.declarationTypeAssignment' | translate}}</h1>
    </div>
    <div id="declarationTypeAssignmentGridCotainer" class="container-grid box-shadow-block flex-fill flex-column"
         style="overflow-y: auto">
        <div id='declarationTypeAssignmentGridTop'>
            <!-- Фильтр -->
            <div data-ng-controller="CommonFilterCtrl">
                <div class="grid-filter">
                    <div data-aplana-collapse data-is-collapsed="false"
                         data-label="'filterPanelLabel' | translate">
                        <form class="form-horizontal info-wrapper" style="min-height: 70px;" role="form" novalidate>
                            <div class="row">
                                <div class="filter-col w650">
                                    <div class="row-fluid form-group">
                                        <div class="span3">
                                            <label class="control-label">
                                                {{::'declarationTypeAssignment.filter.department' | translate}}:</label>
                                        </div>
                                        <div data-ng-controller="SelectDepartmentCtrl"
                                             data-ui-select2="departmentsSelect.options"
                                             data-ng-init="initSelectWithBADepartments()"
                                             data-ng-model="searchFilter.params.departments"
                                             class="span9"></div>
                                    </div>
                                </div>
                                <div class="filter-col button-block">
                                    <!--Кнопка Найти-->
                                    <button type="button"
                                            class="btn btn-default"
                                            id="searchButton"
                                            data-ng-click="submitSearch('assignments')">
                                        <span data-translate-once="common.button.search"></span>
                                    </button>
                                    <!--Кнопка Сбросить-->
                                    <button type="button" data-ng-show="searchFilter.isClear"
                                            class="btn btn-default"
                                            id="clearButton"
                                            data-ng-click="resetFilter('assignments')">
                                        <span data-translate-once="common.button.clear"></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!--Панель кнопок -->
            <div class="button_panel">
                <div class="btn-toolbar" role="toolbar">
                    <!-- Назначить -->
                    <span>
                        <button type="button" class="btn btn-default" data-ng-click="showCreateAssignmentModal()"
                                data-ng-disabled="!permissionChecker.check(user, APP_CONSTANTS.USER_PERMISSION.EDIT_DECLARATION_TYPES_ASSIGNMENT)">
                            <span data-translate-once="declarationTypeAssignment.button.createAssignment"></span>
                        </button>
                    </span>

                    <!-- Редактировать -->
                    <span>
                        <button type="button" class="btn btn-default" data-ng-click="showEditAssignmentModal()"
                                data-ng-disabled="!(assignmentsAreSelected() && permissionChecker.check(user, APP_CONSTANTS.USER_PERMISSION.EDIT_DECLARATION_TYPES_ASSIGNMENT))">
                            <span data-translate-once="declarationTypeAssignment.button.editAssignment"></span>
                        </button>
                    </span>

                    <!-- Отменить назначение -->
                    <span>
                        <button type="button" class="btn btn-default" data-ng-click="deleteAssignments()"
                                data-ng-disabled="!(assignmentsAreSelected() && permissionChecker.check(user, APP_CONSTANTS.USER_PERMISSION.EDIT_DECLARATION_TYPES_ASSIGNMENT))">
                            <span data-translate-once="declarationTypeAssignment.button.deleteAssignment"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <!-- Таблица -->
        <div class="full-height-grid flex-fill" style="overflow: visible"
             data-aplana-grid
             data-grid-fill-space="true"
             data-grid-fill-space-container-selector="#declarationTypeAssignmentGridCotainer"
             data-grid-fill-space-container-selector-top="#declarationTypeAssignmentGridTop"
             data-grid-options="declarationTypeAssignmentGrid.options"
             data-grid-ctrl="declarationTypeAssignmentGrid.ctrl"
             data-ng-model="declarationTypeAssignmentGrid.value"
             id="declarationTypeAssignmentTable"></div>
    </div>
</div>