<div data-aplana-collapse data-label="'ndfl.filter.deductions' | translate">
    <div class="ndfl-subfilter row-fluid pull-control-label-right">
        <div class="span4">
            <div class="row-fluid form-group">
                <div class="span4">
                    <label class="control-label">{{::'title.deductionCode' |
                        translate}}:</label>
                </div>
                <div class="span8">
                    <input data-ng-model="searchFilter.params.deductionCode"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           type="text" class="form-control"
                           title="{{searchFilter.params.deductionCode}}"/>
                </div>
            </div>
            <div class="row-fluid form-group long-label">
                <date-from-to-filter
                        data-label-width="4"
                        ng-period-model="searchFilter.params"
                        ng-from-param="incomeAccruedDateFrom"
                        ng-to-param="incomeAccruedDateTo"
                        ng-label="title.dateCalcIncomeFrom"></date-from-to-filter>
            </div>
        </div>
        <div class="span4">
            <div class="row-fluid form-group">
                <div class="span4">
                    <label class="control-label">{{::'title.incomeCode' |
                        translate}}:</label>
                </div>
                <div class="span8">
                    <input data-ng-model="searchFilter.params.deductionIncomeCode"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           type="text" class="form-control"
                           title="{{searchFilter.params.deductionIncomeCode}}"/>
                </div>
            </div>
            <div class="row-fluid form-group long-label">
                <date-from-to-filter
                        data-label-width="4"
                        ng-period-model="searchFilter.params"
                        ng-from-param="deductionDateFrom"
                        ng-to-param="deductionDateTo"
                        ng-label="title.currentDeductionDateFrom"></date-from-to-filter>
            </div>
        </div>
    </div>
</div>