<div class="modal-header">
    <button type="button" class="close" data-ng-click="close()">×</button>
    <h4 class="modal-title">
        <span class="glyphicon glyphicon-star-empty"></span>
        &nbsp;{{::'filesComment.header' |translate}}
    </h4>
</div>
<div class="modal-body" style="height: 500px">
    <div style="height: 35%">
        <label class="font-normal" for="comment">{{::'filesComment.comment' |translate}}</label>
        <textarea id="comment" style="width: 100%; height: 75%" >{{comment}}</textarea>
    </div>
    <div>
        <label class="font-normal" for="fileCommentGrid">{{::'filesComment.files' |translate}}</label>
        <div data-aplana-grid
             data-grid-options="fileCommentGrid.options"
             data-grid-ctrl="fileCommentGrid.ctrl"
             data-ng-model="fileCommentGrid.value"
             data-init-grid="initOurGrid(ctrl)"
             id="fileCommentGrid">
        </div>
    </div>

    <div class="button_panel" style="float: left;">
        <div class="btn-toolbar" role="toolbar">
            <span>
                <button type="file" class="btn btn-success" ngf-select="addFileClick($file)">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </button>
            </span>
            <span>
                <button type="button" class="btn btn-danger" data-ng-click="removeFileClick()">
                    <i class="glyphicon glyphicon-remove-sign"></i>
                </button>
            </span>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" id="saveButton" data-ng-click="save()">
        <span data-translate-once="button.save"></span>
    </button>

    <button type="button" class="btn btn-danger" id="closeButton" data-ng-click="close()">
        <span data-translate-once="button.close"></span>
    </button>
</div>

