<div class="modal-body">
    <div class="form-horizontal" data-ng-form="commentForm">
        <div class="top-block">
            <table class="horizontal-input-table gray-label-table auto-width-uneditable-input-table nowrap-label-table" style="">
                <thead>
                <tr>
                    <td>
                        <label class="font-normal" for="note">{{::'filesComment.comment' |translate}}</label>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div data-aplana-field>
                        <textarea
                                style="width: 1170px;"
                                rows="6"
                                data-ng-model="commentForm.comment"
                                data-ng-maxlength="512"
                                id="note">
                        </textarea>
                            <div data-aplana-validator data-key='maxlength'>{{::'filesComment.tooLongNoteMessage'
                                |translate}}
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <label class="font-normal" for="fileCommentGrid">{{::'filesComment.files' |translate}}</label>
        <div style="height: 250px;">
            <div class="flex-grid" data-aplana-grid style="height: 100%;"
                 data-grid-fill-space="true"
                 data-grid-fill-space-container-selector=".modal-body"
                 data-grid-fill-space-container-selector-top=".top-block"
                 data-grid-options="fileCommentGrid.options"
                 data-grid-ctrl="fileCommentGrid.ctrl"
                 data-ng-model="fileCommentGrid.value"
                 data-init-grid="initOurGrid(ctrl)"
                 id="fileCommentGrid">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer" style="margin: 0;position: relative; z-index: 1000;">
    <div class="button_panel" style="float: left; margin: 0;">
        <div class="btn-toolbar" role="toolbar">
            <span>
                <button type="file" class="btn btn-default-nonBg iconed-btn" ngf-select="addFileClick($file)">
                     {{::'filesComment.button.add' |translate}}
                    <span class="btn-icon-noneBg-add"></span>
                </button>
            </span>
            <span>
                <button type="button" class="btn btn-default-nonBg iconed-btn"
                        data-ng-click="removeFileClick()"
                        data-ng-disabled="!filesDeleteAvailable()">
                     {{::'filesComment.button.remove' |translate}}
                    <span class="btn-icon-noneBg-remove"></span>
                </button>
            </span>
        </div>
    </div>

    <button type="button"
            class="btn btn-default iconed-btn"
            id="saveButton"
            data-ng-disabled="commentForm.$invalid"
            data-ng-click="save()">
        <span data-translate-once="button.save"></span>
        <span class="btn-icon-ok"></span>
    </button>

    <button type="button" class="btn btn-default-nonBg iconed-btn" id="closeButton" data-ng-click="close()">
        <span data-translate-once="button.close"></span>
        <span class="btn-icon-noneBg-close"></span>
    </button>
</div>

