<div class="modal-body" style="height: 600px">

    <div class="form-horizontal" data-ng-form="commentForm" style="height: 510px;">

        <table class="horizontal-input-table gray-label-table auto-width-uneditable-input-table nowrap-label-table" style="margin: 0; min-height: 100px; height: 100px;">
            <thead>
            <tr>
                <td>
                    <label class="font-normal" for="note">{{::'filesComment.comment' |translate}}</label>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div data-aplana-field>
                        <textarea
                                style="width: 1190px;"
                                rows="6"
                                data-ng-model="commentForm.comment"
                                data-ng-maxlength="512"
                                id="note">
                        </textarea>
                        <div data-aplana-validator data-key='maxlength'>{{::'filesComment.tooLongNoteMessage'
                            |translate}}
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div>
            <label class="font-normal" for="fileCommentGrid">{{::'filesComment.files' |translate}}</label>
            <div data-aplana-grid
                 data-grid-fill-space="true"
                 data-grid-fill-space-container-selector=".modal-body"
                 data-grid-fill-space-container-selector-top=".horizontal-input-table"
                 data-grid-options="fileCommentGrid.options"
                 data-grid-ctrl="fileCommentGrid.ctrl"
                 data-ng-model="fileCommentGrid.value"
                 data-init-grid="initOurGrid(ctrl)"
                 id="fileCommentGrid">
            </div>
        </div>


    </div>
</div>
<div class="modal-footer" style="margin: -48px 0 -13px 0;position: relative; z-index: 1000;">
    <div class="button_panel" style="float: left; margin: 0 0 -2px 0;">
        <div class="btn-toolbar" role="toolbar" data-ng-show="editMode">
            <span>
                <button type="file" class="btn btn-default" ngf-select="addFileClick($file)">
                     {{::'filesComment.button.add' |translate}}
                </button>
            </span>
            <span>
                <button type="button" class="btn btn-default" data-ng-click="removeFileClick()">
                     {{::'filesComment.button.remove' |translate}}
                </button>
            </span>
        </div>
    </div>

    <button type="button" class="btn btn-default" id="saveButton" data-ng-disabled="commentForm.$invalid"
            data-ng-click="save()" data-ng-show="editMode">
        <span data-translate-once="button.save"></span>
    </button>

    <button type="button" class="btn btn-default" id="closeButton" data-ng-click="close()">
        <span data-translate-once="button.close"></span>
    </button>
</div>

