<div class="modal-body" style="min-height: 350px">
    <div>
        <label style="margin-bottom: 0;">
            <input class="cbox" type="checkbox" data-ng-model="gridFilter.showSources" data-ng-change="updateGridData()"/>
            <span>{{::'sources.checkbox.sources' | translate}}</span>
        </label>
        <label style="margin-bottom: 0;">
            <input class="cbox" type="checkbox" data-ng-model="gridFilter.showDestinations" data-ng-change="updateGridData()"/>
            <span>{{::'sources.checkbox.destinations' | translate}}</span>
        </label>
    </div>
    <div data-aplana-grid
         data-grid-options="sourcesGrid.options"
         data-grid-ctrl="sourcesGrid.ctrl"
         data-ng-model="sourcesGrid.value"
         data-grid-hide-legend="false"
         id="sourcesTable"
         style="float: left; width: 100%; "></div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" id="closeButton" data-ng-click="close()">
        <span data-translate-once="button.close"></span>
    </button>
</div>