<div data-aplana-collapse data-label="'ndfl.filter.incomes' | translate">
    <div class="ndfl-subfilter row-fluid pull-control-label-right">
        <div class="span4">
            <div class="row-fluid form-group">
                <div class="span4">
                    <label class="control-label">{{::'title.idOperation' |
                        translate}}:</label>
                </div>
                <div class="span8">
                    <input data-ng-model="searchFilter.params.operationId"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           type="text" class="form-control"
                           title="{{searchFilter.params.operationId}}"/>
                </div>
            </div>
            <div class="row-fluid form-group">
                <div class="span4">
                    <label class="control-label">{{::'title.kpp' |
                        translate}}:</label>
                </div>
                <div class="span8">
                    <input data-ng-model="searchFilter.params.kpp"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           type="text" class="form-control"
                           title="{{searchFilter.params.kpp}}"/>
                </div>
            </div>
            <div class="row-fluid form-group">
                <div class="span4">
                    <label class="control-label">{{::'title.oktmo' |
                        translate}}:</label>
                </div>
                <div class="span8">
                    <input data-ng-model="searchFilter.params.oktmo"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           type="text" class="form-control"
                           title="{{searchFilter.params.oktmo}}"/>
                </div>
            </div>
            <div class="row-fluid form-group">
                <div class="span4">
                    <label class="control-label">{{::'title.incomeCode' |
                        translate}}:</label>
                </div>
                <div class="span8">
                    <input data-ng-model="searchFilter.params.incomeCode"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           type="text" class="form-control"
                           title="{{searchFilter.params.incomeCode}}"/>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="row-fluid form-group">
                <div class="span4">
                    <label class="control-label">{{::'title.incomeAttr' |
                        translate}}:</label>
                </div>
                <div class="span8">
                    <input data-ng-model="searchFilter.params.incomeAttr"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           type="text" class="form-control"
                           title="{{searchFilter.params.incomeAttr}}"/>
                </div>
            </div>
            <div class="row-fluid form-group">
                <div class="span4">
                    <label class="control-label small-label">{{::'title.taxRate' |
                        translate}}:</label>
                </div>
                <div class="span8">
                    <input data-ng-model="searchFilter.params.taxRate"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           type="text" class="form-control"
                           title="{{searchFilter.params.taxRate}}"/>
                </div>
            </div>
            <div class="row-fluid form-group">
                <div class="span4">
                    <label class="control-label small-label" style="min-width: 113px;">{{::'title.numberPaymentOrder' |
                        translate}}:</label>
                </div>
                <div class="span8">
                    <input data-ng-model="searchFilter.params.numberPaymentOrder"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           type="text" class="form-control"
                           title="{{searchFilter.params.numberPaymentOrder}}"/>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="row-fluid form-group long-label">
                <date-from-to-filter
                        data-label-width="4"
                        ng-period-model="searchFilter.params"
                        ng-from-param="transferDateFrom"
                        ng-to-param="transferDateTo"
                        ng-label="title.transferDateFrom"></date-from-to-filter>
            </div>
            <div class="row-fluid form-group long-label">
                <date-from-to-filter
                        data-label-width="4"
                        ng-period-model="searchFilter.params"
                        ng-from-param="calculationDateFrom"
                        ng-to-param="calculationDateTo"
                        ng-label="title.calculationDateFrom"></date-from-to-filter>
            </div>
            <div class="row-fluid form-group long-label">
                <date-from-to-filter
                        data-label-width="4"
                        ng-period-model="searchFilter.params"
                        ng-from-param="paymentDateFrom"
                        ng-to-param="paymentDateTo"
                        ng-label="title.paymentOrderDateFrom"></date-from-to-filter>
            </div>
        </div>
    </div>
</div>