<div class="modal-body form100" style="min-height : 500px;">
    <div data-aplana-grid
         data-grid-fill-space="true"
         data-grid-fill-space-container-selector=".modal-body"
         data-grid-fill-space-container-selector-top=".container-grid-top"
         data-grid-options="logBusinesGrid.options"
         data-grid-ctrl="logBusinesGrid.ctrl"
         data-ng-model="logBusinesGrid.value"
         id="logBusinesGrid"
         style="float: left; width: 100%; margin-bottom: -20px"></div>
</div>

<div class="modal-footer" style="margin-top: -80px; margin-bottom: -10px">
    <button type="button" class="btn btn-default" id="closeButton" data-ng-click="close()">
        <span data-translate-once="button.close"></span>
    </button>
</div>

