<div class="modal-body" style="height: 400px">
    <div class="flex-grid" data-aplana-grid style="height: 100%;"
         data-grid-fill-space="true"
         data-grid-fill-space-container-selector=".modal-body"
         data-grid-fill-space-container-selector-top=".horizontal-input-table"
         data-grid-no-paging
         data-grid-options="logBusinesGrid.options"
         data-grid-ctrl="logBusinesGrid.ctrl"
         data-ng-model="logBusinesGrid.value"
         data-init-grid="initOurGrid(ctrl)"
         id="logBusinesGrid">
    </div>
</div>
<div class="modal-footer" style="margin: 0 0 2px 0;position: relative; z-index: 1000;">
    <button type="button" class="btn btn-default-nonBg iconed-btn" id="closeButton" data-ng-click="close()">
        <span data-translate-once="button.close"></span>
        <span class="btn-icon-noneBg-close"></span>
    </button>
</div>

