<script src="ndflReportJournal.js"></script>
<div data-ng-controller="CommonFilterCtrl">
    <div id="ndfl_journal_filter" class="grid-filter">
        <div data-aplana-collapse data-is-collapsed="searchFilter.hideExtendedFilter"
             data-label="'filterPanelLabel' | translate">
            <form class="form-horizontal info-wrapper" style="display: flex;" role="form" novalidate>
                <div class="row-fluid flex-fill">
                    <div class="span4">
                        <div class="row-fluid form-group">
                            <div class="span4">
                                <label class="control-label">{{::'ndflJournal.filter.periodType' | translate}}:</label>
                            </div>
                            <div data-ng-controller="SelectCorrectionTagCtrl"
                                 data-ui-select2="correctionTagSelect.options"
                                 data-ng-model="searchFilter.params.correctionTag"
                                 class="span8">
                            </div>
                        </div>
                        <div class="row-fluid form-group">
                            <div class="span4">
                                <label class="control-label">{{::'ndflJournal.filter.period' | translate}}:</label>
                            </div>
                            <div data-ng-controller="SelectPeriodCtrl"
                                 data-ui-select2="periodSelect.options"
                                 data-ng-init="initSelectWithAllPeriods()"
                                 data-ng-model="searchFilter.params.periods"
                                 class="span8">
                            </div>
                        </div>
                        <div class="row-fluid form-group">
                            <div class="span4">
                                <label class="control-label">{{::'ndflJournal.filter.department' |
                                    translate}}:</label>
                            </div>
                            <div data-ng-controller="SelectDepartmentCtrl"
                                 data-ui-select2="departmentsSelect.options"
                                 data-ng-init="initSelectWithAllAvailableDepartments()"
                                 data-ng-model="searchFilter.params.departments"
                                 class="span8">
                            </div>
                        </div>
                        <div class="row-fluid form-group">
                            <div class="span4">
                                <label class="control-label">{{::'ndflJournal.filter.declarationNumber' |
                                    translate}}:</label>
                            </div>
                            <div class="span8">
                                <input data-ng-model="searchFilter.params.declarationNumber"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       type="text" class="form-control"/>
                            </div>
                        </div>
                        <div class="row-fluid form-group">
                            <div class="span4">
                                <label class="control-label">
                                    {{::'title.correctionNum' | translate}}:</label>
                            </div>
                            <div class="span8">
                                <div data-aplana-field>
                                    <input data-ng-model="searchFilter.params.correctionNum"
                                           placeholder="{{'filter.placeholder.search' | translate}}"
                                           maxlength="3"
                                           data-ng-pattern="/^\d*$/"
                                           type="text" class="form-control"/>
                                    <div data-aplana-validator data-key="pattern">{{::'common.validation.pattern.number3' | translate}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="row-fluid form-group">
                            <div class="span4">
                                <label class="control-label">{{::'ndflJournal.filter.declarationType' |
                                    translate}}:</label>
                            </div>
                            <div data-ng-controller="SelectDeclarationTypeCtrl"
                                 data-ui-select2="declarationTypeSelect.options"
                                 data-ng-init="initSelectWithAllReportDeclarationTypes()"
                                 data-ng-model="searchFilter.params.declarationTypes"
                                 class="span8">
                            </div>
                        </div>
                        <div class="row-fluid form-group">
                            <div class="span4">
                                <label class="control-label">{{::'ndflJournal.filter.state' | translate}}:</label>
                            </div>
                            <div data-ng-controller="SelectDeclarationStateCtrl"
                                 data-ui-select2="stateSelect.options"
                                 data-ng-init="initMultiSelectDeclarationState()"
                                 data-ng-model="searchFilter.params.states"
                                 class="span8">
                            </div>
                        </div>
                        <div class="row-fluid form-group">
                            <div class="span4">
                                <label class="control-label">{{::'ndflReportJournal.filter.documentState' |
                                    translate}}:</label>
                            </div>
                            <div data-ng-controller="SelectDocStateCtrl"
                                 data-ui-select2="docStateSelect.options"
                                 data-ng-model="searchFilter.params.docState"
                                 class="span8">
                            </div>
                        </div>
                        <div class="row-fluid form-group">
                            <div class="span4">
                                <label class="control-label">{{::'ndflReportJournal.filter.note' |
                                    translate}}:</label>
                            </div>
                            <div class="span8">
                                <input data-ng-model="searchFilter.params.note"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       type="text" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="span4">

                        <div class="row-fluid form-group">
                            <div class="span3">
                                <label class="control-label">{{::'ndflJournal.filter.file' | translate}}:</label>
                            </div>
                            <div class="span9">
                                <input data-ng-model="searchFilter.params.file"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       type="text" class="form-control"/>
                            </div>
                        </div>
                        <div class="row-fluid form-group">
                            <div class="span3">
                                <label class="control-label">{{::'ndflReportJournal.filter.kpp' |
                                    translate}}:</label>
                            </div>
                            <div class="span9">
                                <input data-ng-model="searchFilter.params.kpp"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       type="text" class="form-control"/>
                            </div>
                        </div>
                        <div class="row-fluid form-group">
                            <div class="span3">
                                <label class="control-label">{{::'ndflReportJournal.filter.oktmo' |
                                    translate}}:</label>
                            </div>
                            <div class="span9">
                                <input data-ng-model="searchFilter.params.oktmo"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       type="text" class="form-control"/>
                            </div>
                        </div>
                        <div class="row-fluid form-group">
                            <div class="span3">
                                <label class="control-label">{{::'ndflReportJournal.filter.codeNO' |
                                    translate}}:</label>
                            </div>
                            <div class="span9">
                                <input data-ng-model="searchFilter.params.codeNo"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       type="text" class="form-control"/>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="vertical-btn-group" style="flex: 0 100px; padding-left: 20px">
                    <!--Кнопка Найти-->
                    <button type="button"
                            class="btn btn-default"
                            id="searchButton"
                            data-ng-click="submitSearch('declarationList')">
                        <span data-translate-once="common.button.search"></span>
                    </button>
                    <!--Кнопка Сбросить-->
                    <button type="button" data-ng-show="searchFilter.isClear"
                            class="btn btn-default"
                            id="clearButton"
                            data-ng-click="resetFilter('declarationList')">
                        <span data-translate-once="common.button.clear"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>