<div id="ndfl" style="height: 100%;">
    <!--Заголовок-->
    <div class="row">
        <div class="header-col" style="margin: 14px 0 0 28px;">
            <h1><a href="index.html#/taxes/ndflJournal">{{::'move_back' |
                translate}}</a> - {{declarationData.declarationTypeName}}, №{{declarationDataId}}</h1>
        </div>
        <div class="row" style="min-width: 1000px;">
            <div class="header-col w200" style="float: right; margin-top: 14px; margin-right: 32px;">
                <div class="btn-group" data-uib-dropdown style="float: right;">
                    <button id="single-button" type="button" class="btn btn-default-nonBg" data-uib-dropdown-toggle
                            data-ng-disabled="!availableReports && !canCreateExcelTemplate()">
                        <span class="icon-ok"></span>
                        <span data-translate-once="link.ndfl.reporting"></span>
                    </button>
                    <ul class="dropdown-menu" data-uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem"
                            ng-show="availableReports && declarationData.declarationType === APP_CONSTANTS.DECLARATION_TYPE.RNU_NDFL_PRIMARY.id">
                            <div class="row menuitem">
                                <a ng-click="downloadXml()">{{::'link.ndfl.reporting.uploadXml' | translate}}</a>
                            </div>
                        </li>
                        <li role="menuitem"
                            ng-show="availableReports">
                            <div class="row menuitem">
                                <a ng-click="createReportXlsx()">{{::'link.ndfl.reporting.formXLSX' | translate}}</a>
                                <a ng-click="downloadXlsx()" ng-show="availableXlsxReport">{{::'link.ndfl.reporting.download'
                                    | translate}}</a>
                            </div>
                        </li>
                        <li role="menuitem"
                            ng-show="availableReports">
                            <div class="row menuitem">
                                <a ng-click="createReport()">{{::'link.ndfl.reporting.formForFL' | translate}}</a>
                            </div>
                        </li>
                        <li role="menuitem"
                            ng-show="availableReports">
                            <div class="row menuitem">
                                <a ng-click="createReportAllRnu()">{{::'link.ndfl.reporting.formForFLs' |
                                    translate}}</a>
                                <a ng-click="downloadSpecific()" ng-show="availableRnuNdflPersonAllDb">{{::'link.ndfl.reporting.download'
                                    | translate}}</a>
                            </div>
                        </li>
                        <li role="menuitem"
                            ng-show="availableReports && declarationData.declarationType === APP_CONSTANTS.DECLARATION_TYPE.RNU_NDFL_CONSOLIDATED.id">
                            <div class="row menuitem">
                                <a ng-click="createPairKppOktmo(false, true)">{{::'link.ndfl.reporting.formForKppOktmo'
                                    |
                                    translate}}</a>
                                <a ng-click="createPairKppOktmo(false, false)" ng-show="availableReportKppOktmo">{{::'link.ndfl.reporting.download'
                                    | translate}}</a>
                            </div>
                        </li>
                        <li role="menuitem"
                            ng-show="canCreateExcelTemplate()">
                            <div class="row menuitem">
                                <a ng-click="createExcelTemplate()">{{::'link.ndfl.reporting.formTemplateExcel' |
                                    translate}}</a>
                                <a ng-click="downloadExcelTemplate()" ng-show="availableExcelTemplate">{{::'link.ndfl.reporting.download'
                                    | translate}}</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="box-shadow-block">
        <div class="grid-filter"
             style="min-width: 100%; background: #ffffff;padding-bottom: 1px;margin: -10px 0 0 0;">
            <div class="header-col " style="float: right;  margin-top: 6px;">
                <!-- ссылка на модальное окно измениий по налоговой форме -->
                <button type="button" class="btn btn-default-nonBg" style="float: right;"
                        data-ng-click="openHistoryOfChange()">
                    <span data-translate-once="link.ndfl.historyOfChange"></span>
                </button>
                <button type="button" class="btn btn-default-nonBg" style="margin: 0 13px; float: right;"
                        data-ng-click="filesAndComments()"
                        data-ng-disabled="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.VIEW)">
                    <span data-translate-once="link.ndfl.filesAndComment"></span>
                </button>
                <button type="button" class="btn btn-default-nonBg" style="float: right;"
                        data-ng-click="showSourcesClick()">
                    <span data-translate-once="link.ndfl.sources"></span>
                </button>
            </div>
            <div data-aplana-collapse data-is-collapsed="false" data-label="'infoPanelLabel' | translate"
                 style="padding: 0 0 0 12px;">
                <!--Основная информация-->
                <div class="header-details">
                    <div class="row">
                        <div class="col-sm-12 info-wrapper">
                            <div class="header-col w450">
                                <div>
                                    <label class="w100">{{::'title.department' | translate}}:</label>
                                    <label class="font-normal info-text200">{{declarationData.department}}</label>
                                </div>
                                <div>
                                    <label class="w100">{{::'title.formNumber' | translate}}:</label>
                                    <label class="font-normal info-text200">{{declarationDataId}}</label>
                                </div>
                                <div>
                                    <label class="w100">{{::'title.creator' | translate}}:</label>
                                    <label class="font-normal info-text200">{{declarationData.creationUserName}}</label>
                                </div>
                            </div>
                            <div class="header-col w450">
                                <div>
                                    <label>{{::'title.formType' | translate}}:</label>
                                    <label class="font-normal info-text200">{{declarationData.declarationFormKind}}</label>
                                </div>
                                <div>
                                    <label>{{::'title.period' | translate}}:</label>
                                    <label class="font-normal info-text200">{{declarationData.reportPeriodYear}},
                                        {{declarationData.reportPeriod}}</label>
                                </div>
                                <div>
                                    <label>{{::'title.state' | translate}}:</label>
                                    <label class="font-normal info-text200">{{declarationData.state}}</label>
                                </div>
                            </div>
                            <div class="header-col w450">
                                <div ng-show="declarationData.declarationFormKind !== APP_CONSTANTS.NDFL_DECLARATION_KIND.CONSOLIDATED.name">
                                    <label>{{::'title.nameAsnu' | translate}}:</label>
                                    <label class="font-normal info-text200">{{declarationData.asnuName}}</label>
                                </div>
                                <div>
                                    <label style="width: 207px;">{{::'title.dateAndTimeCreate' | translate}}:</label>
                                    <label class="font-normal info-text200" style="width: 138px;">{{declarationData.creationDate}}</label>
                                </div>
                                <div>
                                    <label style="width: 207px;">{{::'title.manuallyCreated' | translate}}:</label>
                                    <label class="font-normal info-text200" style="width: 138px;">{{declarationData.manuallyCreated | yesNoFormatter}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Панель кнопок -->
            <div class="button_panel" style="padding: 10px 12px 0;">
                <div class="btn-toolbar" role="toolbar">
                    <!--Рассчитать -->
                    <span>
                        <button type="button" class="btn btn-default"
                                data-ng-click="calculate()"
                                data-ng-disabled="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.CALCULATE)">
                            <span data-ng-show="declarationData.declarationType === APP_CONSTANTS.DECLARATION_TYPE.RNU_NDFL_PRIMARY.id" data-translate-once="button.identifyPersons"></span>
                            <span data-ng-show="declarationData.declarationType === APP_CONSTANTS.DECLARATION_TYPE.RNU_NDFL_CONSOLIDATED.id" data-translate-once="button.consolidate"></span>
                        </button>
                    </span>
                    <!--Принять -->
                    <span>
                        <button type="button" class="btn btn-default"
                                data-ng-click="accept()"
                                data-ng-disabled="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.ACCEPTED)">
                            <span data-translate-once="button.accept"></span>
                        </button>
                    </span>
                    <!--Проверить -->
                    <span>
                        <button type="button" class="btn btn-default"
                                data-ng-click="check()"
                                data-ng-disabled="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.CHECK)">
                            <span data-translate-once="button.check"></span>
                        </button>
                    </span>
                    <!--Вернуть в Создана -->
                    <span>
                        <button type="button" class="btn btn-default"
                                data-ng-click="returnToCreated()"
                                data-ng-disabled="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.RETURN_TO_CREATED)">
                            <span data-translate-once="button.return"></span>
                        </button>
                    </span>
                    <!--Удалить-->
                    <span>
                        <button type="button" class="btn btn-default"
                                data-ng-click="delete()"
                                data-ng-disabled="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.DELETE)">
                            <span data-translate-once="button.delete"></span>
                        </button>
                    </span>
                    <!--Загрузить Excel-->
                    <span>
                        <input id="upload" type="file" ngf-select="doImport($file)" class="hide">
                        <button type="button" class="btn btn-default"
                                data-ng-click="confirmImport()"
                                data-ng-disabled="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.IMPORT_EXCEL)">
                            <span data-translate-once="ndfl.button.importExcel"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <data-uib-tabset active="activeForm" class="form100 tab-wrapper" style="height: 79%; padding: 10px 12px 14px;">

            <data-uib-tab index="0" heading="1. {{::'tab.ndfl.requisites' | translate}}" select="selectTab('ndflFL')">
                <div data-ng-controller="ndflFLCtrl">
                        <div class='container-grid-top'>
                            <span data-ng-include="'client/app/taxes/ndfl/ndflFLFilter.html'"></span>
                        </div>
                    <div data-aplana-grid
                         data-grid-fill-space="true"
                         data-grid-fill-space-container-selector=".form100"
                         data-grid-fill-space-container-selector-top=".container-grid-top"
                         data-grid-options="ndflPersonGrid.options"
                         data-grid-ctrl="ndflPersonGrid.ctrl"
                         data-ng-model="ndflPersonGrid.value"
                         id="ndflPersonTable"
                         style="float: left; width: 100%;"></div>
                </div>
            </data-uib-tab>

            <data-uib-tab index="1" heading="2. {{::'tab.ndfl.informationOnIncomesAndNdfl' | translate}}"
                          select="selectTab('incomesAndTax')">
                <div data-ng-controller="incomesAndTaxCtrl">
                    <div style="height: 100%;">
                        <div class='container-grid-top'>
                            <span data-ng-include="'client/app/taxes/ndfl/incomesAndTaxFilter.html'"></span>
                        </div>
                    </div>
                    <div data-aplana-grid
                         data-grid-fill-space="true"
                         data-grid-fill-space-container-selector=".form100"
                         data-grid-fill-space-container-selector-top=".container-grid-top"
                         data-grid-options="incomesAndTaxGrid.options"
                         data-grid-ctrl="incomesAndTaxGrid.ctrl"
                         data-ng-model="incomesAndTaxGrid.value"
                         id="incomesAndTaxTable"
                         style="float: left; width: 100%;"></div>

                </div>
            </data-uib-tab>

            <data-uib-tab index="2" heading="3. {{::'tab.ndfl.informationOnDeductions' | translate}}"
                          select="selectTab('deductions')">
                <div data-ng-controller="deductionCtrl">
                    <div style="height: 100%">
                        <div class='container-grid-top'>
                            <span data-ng-include="'client/app/taxes/ndfl/deductionFilter.html'"></span>
                        </div>
                        <div data-aplana-grid
                             data-grid-fill-space="true"
                             data-grid-fill-space-container-selector=".form100"
                             data-grid-fill-space-container-selector-top=".container-grid-top"
                             data-grid-options="deductionGrid.options"
                             data-grid-ctrl="deductionGrid.ctrl"
                             data-ng-model="deductionGrid.value"
                             id="deductionTable"></div>
                    </div>
                </div>
            </data-uib-tab>

            <data-uib-tab index="3" heading="4. {{::'tab.ndfl.informationOnAdvancePayments' | translate}}"
                          select="selectTab('prepayment')">
                <div data-ng-controller="prepaymentCtrl">
                    <div style="height: 100%">
                        <div class='container-grid-top'>
                            <span data-ng-include="'client/app/taxes/ndfl/prepaymentFilter.html'"></span>
                        </div>
                        <div data-aplana-grid
                             data-grid-fill-space="true"
                             data-grid-fill-space-container-selector=".form100"
                             data-grid-fill-space-container-selector-top=".container-grid-top"
                             data-grid-options="prepaymentGrid.options"
                             data-grid-ctrl="prepaymentGrid.ctrl"
                             data-ng-model="prepaymentGrid.value"
                             id="prepaymentTable"></div>
                    </div>
                </div>
            </data-uib-tab>

        </data-uib-tabset>
    </div>

</div>