<div data-ng-controller="CommonFilterCtrl">
    <div class="grid-filter"
         style="min-width: 1900px; margin: 0 0 0 -19px; padding: 0 0 0 21px;">
        <div data-aplana-collapse data-is-collapsed="searchFilter.hideExtendedFilter"
             data-label="'filterPanelLabel' | translate">
            <form class="form-horizontal info-wrapper" novalidate style="width: 99%;">
                <div class="row">
                    <div class="filter-col w400">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label">{{::'title.inp' |
                                    translate}}:</label>
                            </div>
                            <div class="col-md-9">
                                <input data-ng-model="searchFilter.params.inp"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       class="form-control"
                                       title="{{searchFilter.params.inp}}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label">{{::'title.innNp' |
                                    translate}}:</label>
                            </div>
                            <div class="col-md-9">
                                <input data-ng-model="searchFilter.params.innNp"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       class="form-control"
                                       title="{{searchFilter.params.innNp}}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label">{{::'title.innForeign' |
                                    translate}}:</label>
                            </div>
                            <div class="col-md-9">
                                <input data-ng-model="searchFilter.params.innForeign"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       class="form-control"
                                       title="{{searchFilter.params.innForeign}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="filter-col w450">
                        <div class="form-group">
                            <div class="col-md-2">
                                <label class="control-label">{{::'title.snils' |
                                    translate}}:</label>
                            </div>
                            <div class="col-md-10">
                                <input data-ng-model="searchFilter.params.snils"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       class="form-control"
                                       title="{{searchFilter.params.snils}}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label class="control-label">{{::'title.idDocNumber' |
                                    translate}}:</label>
                            </div>
                            <div class="col-md-10">
                                <input data-ng-model="searchFilter.params.idDocNumber"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       class="form-control"
                                       title="{{searchFilter.params.idDocNumber}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="filter-col w400">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label">{{::'title.lastName' |
                                    translate}}:</label>
                            </div>
                            <div class="col-md-9">
                                <input data-ng-model="searchFilter.params.lastName"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       class="form-control"
                                       title="{{searchFilter.params.lastName}}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label">{{::'title.firstName' |
                                    translate}}:</label>
                            </div>
                            <div class="col-md-9">
                                <input data-ng-model="searchFilter.params.firstName"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       class="form-control"
                                       title="{{searchFilter.params.firstName}}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label">{{::'title.middleName' |
                                    translate}}:</label>
                            </div>
                            <div class="col-md-9">
                                <input data-ng-model="searchFilter.params.middleName"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       class="form-control"
                                       title="{{searchFilter.params.middleName}}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <date-from-to-filter
                                    data-label-width="4"
                                    ng-from-model="searchFilter.params.dateFrom"
                                    ng-to-model="searchFilter.params.dateTo"
                                    ng-label="title.dateOfBirthFrom"></date-from-to-filter>
                        </div>
                    </div>
                    <div class="filter-col">
                        <!--Кнопка Найти-->
                        <button type="button"
                                class="btn btn-default"
                                id="searchButton"
                                data-ng-click="submitSearch('ndfl')">
                            <span data-translate-once="common.button.search"></span>
                        </button>
                        <!--Кнопка Сбросить-->
                        <button type="button" data-ng-show="searchFilter.isClear"
                                class="btn btn-default"
                                id="clearButton"
                                data-ng-click="resetFilter('ndfl')">
                            <span data-translate-once="common.button.clear"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>