<div id="ndfl" style="display: flex; flex-flow: column; height: 100%;">
    <!--Заголовок-->
    <div class="row">
        <div class="header-col" style="margin: 14px 0 0 28px;">
            <h1><a href="index.html#/taxes/ndflJournal">{{::'move_back' |
                translate}}</a> - {{declarationData.declarationTypeName}}, №{{declarationDataId}}</h1>
        </div>
        <div class="row" style="min-width: 1000px;">
            <div class="header-col w200" style="float: right; margin-top: 14px; margin-right: 10px;">
                <div class="btn-group" style="float: right;">
                    <div id="single-button"
                         data-aplana-dropdown
                         data-placement="bottom-right"
                         data-ng-disabled="!availableReports && !canCreateExcelTemplate()"
                         class="btn btn-default">
                        <span data-translate-once="link.ndfl.reporting"></span>
                    </div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li role="menuitem"
                            ng-show="!declarationData.manuallyCreated && availableReports && declarationData.declarationType === APP_CONSTANTS.DECLARATION_TYPE.RNU_NDFL_PRIMARY.id">
                            <div class="row menuitem">
                                <a ng-click="downloadXml()">{{::'link.ndfl.reporting.uploadXml' | translate}}</a>
                            </div>
                        </li>
                        <li role="menuitem"
                            ng-show="availableReports">
                            <div class="row menuitem">
                                <a ng-click="createReportXlsx()">{{::'link.ndfl.reporting.formXLSX' | translate}}</a>
                                <a ng-click="downloadXlsx()" ng-show="availableXlsxReport">{{::'link.ndfl.reporting.download'
                                    | translate}}</a>
                            </div>
                        </li>
                        <li role="menuitem"
                            ng-show="availableReports">
                            <div class="row menuitem">
                                <a ng-click="createReport()">{{::'link.ndfl.reporting.formForFL' | translate}}</a>
                            </div>
                        </li>
                        <li role="menuitem"
                            ng-show="availableReports">
                            <div class="row menuitem">
                                <a ng-click="createReportAllRnu()">{{::'link.ndfl.reporting.formForFLs' |
                                    translate}}</a>
                                <a ng-click="downloadSpecific()" ng-show="availableRnuNdflPersonAllDb">{{::'link.ndfl.reporting.download'
                                    | translate}}</a>
                            </div>
                        </li>
                        <li role="menuitem"
                            ng-show="availableReports && declarationData.declarationType === APP_CONSTANTS.DECLARATION_TYPE.RNU_NDFL_CONSOLIDATED.id">
                            <div class="row menuitem">
                                <a ng-click="createPairKppOktmo(false)">{{::'link.ndfl.reporting.formForKppOktmo'
                                    |
                                    translate}}</a>
                                <a ng-click="downloadPairKppOktmo()" ng-show="availableReportKppOktmo">{{::'link.ndfl.reporting.download'
                                    | translate}}</a>
                            </div>
                        </li>
                        <li role="menuitem"
                            ng-show="canCreateExcelTemplate()">
                            <div class="row menuitem">
                                <a ng-click="createExcelTemplate()">{{::'link.ndfl.reporting.formTemplateExcel' |
                                    translate}}</a>
                                <a ng-click="downloadExcelTemplate()" ng-show="availableExcelTemplate">{{::'link.ndfl.reporting.download'
                                    | translate}}</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div style="position: relative; flex: 1;">
        <div id="ndflScrollPanel"
             style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; display: flex; overflow: auto; background-color: white;">
            <div style="display: flex; flex: 1; flex-flow: column;">
                <div class="grid-filter" style="min-width: 100%; background: #ffffff; padding-bottom: 1px;">
                    <div class="header-col " style="float: right;  margin-top: 6px;">
                        <!-- ссылка на модальное окно измениий по налоговой форме -->
                        <button type="button" class="btn btn-default-nonBg" style="float: right;"
                                data-ng-click="openHistoryOfChange()">
                            <span data-translate-once="link.ndfl.historyOfChange"></span>
                        </button>
                        <button type="button" class="btn btn-default-nonBg" style="margin: 0 13px; float: right;"
                                data-ng-click="filesAndComments()"
                                data-ng-disabled="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.VIEW)">
                            <span data-translate-once="link.ndfl.filesAndComment"></span>
                        </button>
                        <button type="button" class="btn btn-default-nonBg" style="float: right;"
                                data-ng-click="showSourcesClick()">
                            <span data-translate-once="link.ndfl.sources"></span>
                        </button>
                    </div>
                    <div data-aplana-collapse data-is-collapsed="false" data-label="'infoPanelLabel' | translate"
                         style="padding: 0 12px 0 12px;">
                        <!--Основная информация-->
                        <div class="header-details">
                            <div class="info-wrapper">
                                <div class="header-col w450">
                                    <div>
                                        <label class="w100">{{::'title.department' | translate}}:</label>
                                        <label class="font-normal info-text200" style="line-height: 11px;">{{declarationData.department}}</label>
                                    </div>
                                    <div>
                                        <label class="w100">{{::'title.formNumber' | translate}}:</label>
                                        <label class="font-normal info-text200">{{declarationDataId}}</label>
                                    </div>
                                    <div>
                                        <label class="w100">{{::'title.creator' | translate}}:</label>
                                        <label class="font-normal info-text200">{{declarationData.creationUserName}}</label>
                                    </div>
                                </div>
                                <div class="header-col w450">
                                    <div>
                                        <label class="w138">{{::'title.formType' | translate}}:</label>
                                        <label class="font-normal info-text200">{{declarationData.declarationFormKind}}</label>
                                    </div>
                                    <div>
                                        <label class="w138">{{::'title.period' | translate}}:</label>
                                        <label class="font-normal info-text200"
                                               data-ng-bind-html="declarationData | ndflPeriodFormatter"></label>
                                    </div>
                                    <div>
                                        <label class="w138">{{::'title.state' | translate}}:</label>
                                        <label class="font-normal info-text200">{{declarationData.state}}</label>
                                    </div>
                                </div>
                                <div class="header-col w500">
                                    <div ng-show="declarationData.declarationFormKind !== APP_CONSTANTS.NDFL_DECLARATION_KIND.CONSOLIDATED.name">
                                        <label class="w200">{{::'title.nameAsnu' | translate}}:</label>
                                        <label class="font-normal info-text200">{{declarationData.asnuName}}</label>
                                    </div>
                                    <div>
                                        <label class="w200">{{::'title.dateAndTimeCreate' | translate}}:</label>
                                        <label class="font-normal info-text200" style="width: 138px;">{{declarationData.creationDate}}</label>
                                    </div>
                                    <div>
                                        <label class="w200">{{::'title.manuallyCreated' | translate}}:</label>
                                        <label class="font-normal info-text200" style="width: 138px;">{{declarationData.manuallyCreated
                                            | yesNoFormatter}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Фильтр-->
                    <div data-ng-controller="CommonFilterCtrl">
                        <div id="ndfl_filter" style="padding: 0 12px 0 12px;"
                             data-aplana-collapse data-is-collapsed="searchFilter.hideExtendedFilter"
                             data-label="(!searchFilter.isClear ? 'filterPanelLabel' : 'filterPanelLabel.set') | translate">
                            <form id="ndfl_group_filter" class="info-wrapper" novalidate>
                                <div class="row-fluid">
                                    <div class="span11">
                                        <span data-ng-include="'client/app/taxes/ndfl/ndflFLFilter.html'"></span>
                                        <span data-ng-include="'client/app/taxes/ndfl/incomesAndTaxFilter.html'"></span>
                                        <span data-ng-include="'client/app/taxes/ndfl/deductionFilter.html'"></span>
                                        <span data-ng-include="'client/app/taxes/ndfl/prepaymentFilter.html'"></span>
                                    </div>
                                    <div class="span1 vertical-btn-group" style="padding-top: 20px">
                                        <!--Кнопка Найти-->
                                        <div>
                                            <button type="button"
                                                    class="btn btn-default"
                                                    id="searchButton"
                                                    data-ng-click="submitSearch()">
                                                <span data-translate-once="common.button.search"></span>
                                            </button>
                                        </div>
                                        <!--Кнопка Сбросить-->
                                        <div>
                                            <button type="button" data-ng-show="searchFilter.isClear"
                                                    class="btn btn-default"
                                                    id="clearButton"
                                                    data-ng-click="resetFilter()">
                                                <span data-translate-once="common.button.clear"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--Панель кнопок -->
                    <div class="button_panel" style="padding: 10px 12px 0;">
                        <div class="btn-toolbar" role="toolbar">
                            <!--Идентифицировать ФЛ -->
                            <span>
                                <button type="button" class="btn btn-default"
                                        data-ng-click="identify()"
                                        data-ng-show="declarationData.declarationType === APP_CONSTANTS.DECLARATION_TYPE.RNU_NDFL_PRIMARY.id">
                                    <span data-translate-once="button.identifyPersons"></span>
                                </button>
                            </span>
                            <!-- Консолидировать -->
                            <span>
                                <button type="button" class="btn btn-default"
                                        data-ng-click="consolidate()"
                                        data-ng-show="declarationData.declarationType === APP_CONSTANTS.DECLARATION_TYPE.RNU_NDFL_CONSOLIDATED.id">
                                    <span data-translate-once="button.consolidate"></span>
                                </button>
                            </span>
                            <!--Проверить -->
                            <span>
                                <button type="button" class="btn btn-default"
                                        data-ng-click="check()"
                                        data-ng-disabled="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.CHECK)">
                                    <span data-translate-once="button.check"></span>
                                </button>
                            </span>
                            <!--Принять -->
                            <span>
                                <button type="button" class="btn btn-default"
                                        data-ng-click="accept()"
                                        data-ng-disabled="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.ACCEPTED)">
                                    <span data-translate-once="button.accept"></span>
                                </button>
                            </span>
                            <!--Вернуть в Создана -->
                            <span>
                                <button type="button" class="btn btn-default"
                                        data-ng-click="returnToCreated()"
                                        data-ng-disabled="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.RETURN_TO_CREATED)">
                                    <span data-translate-once="button.return"></span>
                                </button>
                            </span>
                            <!--Удалить-->
                            <span>
                                <button type="button" class="btn btn-default"
                                        data-ng-click="delete()"
                                        data-ng-disabled="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.DELETE)">
                                    <span data-translate-once="button.delete"></span>
                                </button>
                            </span>
                            <!--Загрузить Excel-->
                            <span>
                                <input id="upload" type="file" ngf-select="doImport($file)" class="hide">
                                <button type="button" class="btn btn-default"
                                        data-ng-click="confirmImport()"
                                        data-ng-disabled="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.IMPORT_EXCEL)">
                                    <span data-translate-once="ndfl.button.importExcel"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <div id="ndfl_tabs" style="flex: 1; margin: 10px 12px 14px; min-height: 300px; position: relative;"
                     data-aplana-tabs="ndflTabsCtrl"
                     data-tab-model="ndflTabs">
                </div>
            </div>
        </div>
    </div>

</div>