<div class="collapseLeftPlus"
     data-aplana-collapse data-label="'ndfl.filter.FL' | translate">
    <div class="row-fluid pull-control-label-right">
        <div class="span4">
            <div class="row-fluid form-group">
                <div class="span3">
                    <label class="control-label">{{::'title.lastName' |
                        translate}}:</label>
                </div>
                <div class="span9">
                    <input data-ng-model="searchFilter.params.lastName"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           class="form-control"
                           title="{{searchFilter.params.lastName}}"/>
                </div>
            </div>
            <div class="row-fluid form-group">
                <div class="span3">
                    <label class="control-label">{{::'title.firstName' |
                        translate}}:</label>
                </div>
                <div class="span9">
                    <input data-ng-model="searchFilter.params.firstName"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           class="form-control"
                           title="{{searchFilter.params.firstName}}"/>
                </div>
            </div>
            <div class="row-fluid form-group">
                <div class="span3">
                    <label class="control-label">{{::'title.middleName' |
                        translate}}:</label>
                </div>
                <div class="span9">
                    <input data-ng-model="searchFilter.params.middleName"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           class="form-control"
                           title="{{searchFilter.params.middleName}}"/>
                </div>
            </div>
            <div class="row-fluid form-group">
                <date-from-to-filter
                        data-label-width="3"
                        ng-period-model="searchFilter.params"
                        ng-from-param="dateFrom"
                        ng-to-param="dateTo"
                        ng-label="title.dateOfBirthFrom"></date-from-to-filter>
            </div>
        </div>
        <div class="span4">
            <div class="row-fluid form-group">
                <div class="span2">
                    <label class="control-label">{{::'title.snils' |
                        translate}}:</label>
                </div>
                <div class="span10">
                    <input data-ng-model="searchFilter.params.snils"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           class="form-control"
                           title="{{searchFilter.params.snils}}"/>
                </div>
            </div>
            <div class="row-fluid form-group">
                <div class="span2">
                    <label class="control-label">{{::'title.idDocNumber' |
                        translate}}:</label>
                </div>
                <div class="span10">
                    <input data-ng-model="searchFilter.params.idDocNumber"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           class="form-control"
                           title="{{searchFilter.params.idDocNumber}}"/>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="row-fluid form-group">
                <div class="span3">
                    <label class="control-label">{{::'title.inp' |
                        translate}}:</label>
                </div>
                <div class="span9">
                    <input data-ng-model="searchFilter.params.inp"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           class="form-control"
                           title="{{searchFilter.params.inp}}"/>
                </div>
            </div>
            <div class="row-fluid form-group">
                <div class="span3">
                    <label class="control-label">{{::'title.innNp' |
                        translate}}:</label>
                </div>
                <div class="span9">
                    <input data-ng-model="searchFilter.params.innNp"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           class="form-control"
                           title="{{searchFilter.params.innNp}}"/>
                </div>
            </div>
            <div class="row-fluid form-group">
                <div class="span3">
                    <label class="control-label">{{::'title.innForeign' |
                        translate}}:</label>
                </div>
                <div class="span9">
                    <input data-ng-model="searchFilter.params.innForeign"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           class="form-control"
                           title="{{searchFilter.params.innForeign}}"/>
                </div>
            </div>
        </div>
    </div>
</div>