<div data-ng-controller="CommonFilterCtrl">
    <div class="grid-filter"
         style="min-width: 1900px; margin: 0 0 0 -19px; padding: 0 0 0 21px;">
        <div data-aplana-collapse data-is-collapsed="searchFilter.hideExtendedFilter"
             data-label="'filterPanelLabel' | translate">
            <form class="form-horizontal info-wrapper" role="form" novalidate>
                <div class="row">
                    <div class="filter-col w450">
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">{{::'ndflJournal.filter.periodType' | translate}}:</label>
                            </div>
                            <div data-ng-controller="SelectCorrectionTagCtrl"
                                 data-ui-select2="correctionTagSelect.options"
                                 data-ng-model="searchFilter.params.correctionTag"
                                 class="col-md-8">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">{{::'ndflJournal.filter.period' | translate}}:</label>
                            </div>
                            <div data-ng-controller="SelectPeriodCtrl"
                                 data-ui-select2="periodSelect.options"
                                 data-ng-init="initSelectWithAllPeriods()"
                                 data-ng-model="searchFilter.params.periods"
                                 class="col-md-8"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">{{::'ndflJournal.filter.department' | translate}}:</label>
                            </div>
                            <div data-ng-controller="SelectDepartmentCtrl"
                                 data-ui-select2="departmentsSelect.options"
                                 data-ng-init="initSelectWithAllDepartments()"
                                 data-ng-model="searchFilter.params.departments"
                                 class="col-md-8"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">{{::'ndflJournal.filter.declarationNumber' |
                                    translate}}:</label>
                            </div>
                            <div class="col-md-8">
                                <input data-ng-model="searchFilter.params.declarationNumber"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       type="text" class="form-control"
                                       title="{{ndflJournal.filter.declarationNumber}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="filter-col w500">
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">{{::'ndflJournal.filter.declarationKind' |
                                    translate}}:</label>
                            </div>
                            <div data-ng-controller="SelectDeclarationKindCtrl"
                                 data-ui-select2="declarationKindSelect.options"
                                 data-ng-model="searchFilter.params.declarationKinds"
                                 class="col-md-8"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">{{::'ndflJournal.filter.declarationType' |
                                    translate}}:</label>
                            </div>
                            <div data-ng-controller="SelectDeclarationTypeCtrl"
                                 data-ui-select2="declarationTypeSelect.options"
                                 data-ng-init="initSelectWithAllDeclarationTypes()"
                                 data-ng-model="searchFilter.params.declarationTypes"
                                 class="col-md-8"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">{{::'ndflJournal.filter.asnu' | translate}}:</label>
                            </div>
                            <div data-ng-controller="SelectAsnuCtrl"
                                 data-ui-select2="asnuSelect.options"
                                 data-ng-model="searchFilter.params.asnuList"
                                 class="col-md-8"></div>
                        </div>
                    </div>
                    <div class="filter-col w350">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label">{{::'ndflJournal.filter.state' | translate}}:</label>
                            </div>
                            <div data-ng-controller="SelectDeclarationStateCtrl"
                                 data-ui-select2="stateSelect.options"
                                 data-ng-model="searchFilter.params.state"
                                 class="col-md-9"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label">{{::'ndflJournal.filter.file' | translate}}:</label>
                            </div>
                            <div class="col-md-9">
                                <input data-ng-model="searchFilter.params.file"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       type="text" class="form-control"
                                       title="{{ndflJournal.filter.file}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="filter-col">
                        <!--Кнопка Найти-->
                        <button type="button"
                                class="btn btn-default"
                                id="searchButton"
                                data-ng-click="submitSearch('declarationList')">
                            <span data-translate-once="common.button.search"></span>
                        </button>
                        <!--Кнопка Сбросить-->
                        <button type="button" data-ng-show="searchFilter.isClear"
                                class="btn btn-default"
                                id="clearButton"
                                data-ng-click="resetFilter('declarationList')">
                            <span data-translate-once="common.button.clear"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>