<div class="grid-filter" style="min-width: 1400px;">
    <div data-aplana-collapse data-is-collapsed="false" data-label="'filterPanelLabel' | translate">
        <form class="form-horizontal" role="form" novalidate>
            <div class="row">
                <div class="filter-col w400">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label">{{::'title.period' | translate}}:</label>
                        </div>
                        <div class="col-md-8" data-ui-select2="selects.periodSelect.options"
                             data-ng-model="searchFilter.params.period">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label">{{::'title.department' | translate}}:</label>
                        </div>
                        <div class="col-md-8" data-ui-select2="selects.departmentSelect.options"
                             data-ng-model="searchFilter.params.department">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label">{{::'title.formNumber' | translate}}:</label>
                        </div>
                        <div class="col-md-8">
                            <input data-ng-model="searchFilter.params.formNumber"
                                   placeholder="{{'filter.placeholder.search' | translate}}"
                                   type="text" class="form-control"
                                   title="{{dataOptions.filter.formNumber}}"/>
                        </div>
                    </div>
                </div>
                <div class="filter-col w500">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label">{{::'title.formType' | translate}}:</label>
                        </div>
                        <div class="col-md-8" data-ui-select2="selects.formTypeSelect.options"
                             data-ng-model="searchFilter.params.formType">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label">{{::'title.formKind' | translate}}:</label>
                        </div>
                        <div class="col-md-8" data-ui-select2="selects.formKindSelect.options"
                             data-ng-model="searchFilter.params.formKind">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label">{{::'title.asnu' | translate}}:</label>
                        </div>
                        <div class="col-md-8" data-ui-select2="selects.asnuSelect.options"
                             data-ng-model="searchFilter.params.asnu">
                        </div>
                    </div>
                </div>
                <div class="filter-col w300">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label">{{::'title.state' | translate}}:</label>
                        </div>
                        <div class="col-md-8" data-ui-select2="selects.stateSelect.options"
                             data-ng-model="searchFilter.params.state">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label">{{::'title.file' | translate}}:</label>
                        </div>
                        <div class="col-md-8">
                            <input data-ng-model="searchFilter.params.file"
                                   placeholder="{{'filter.placeholder.search' | translate}}"
                                   type="text" class="form-control"
                                   title="{{dataOptions.filter.file}}"/>
                        </div>
                    </div>
                </div>
                <div class="filter-col">
                    <!--Кнопка Найти-->
                    <button type="button"
                            class="btn btn-danger"
                            id="searchButton"
                            data-ng-click="searchClick()">
                        <span data-translate-once="common.button.search"></span>
                    </button>
                    <!--Кнопка Сбросить-->
                    <button type="button" data-ng-show="searchFilter.isClear"
                            class="btn btn-default"
                            id="clearButton"
                            data-ng-click="resetFilter()">
                        <span data-translate-once="common.button.clear"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>