<div id="ndfl" style="height: 90%;">
    <!--Заголовок-->
    <div class="row" style="min-width: 1400px;">
        <div class="header-col" style="margin-left: 15px;">
            <h1><a href="{{'Main.jsp' + gwtMode + '#!declarationList;nType=NDFL'}}">{{::'menu.taxes.ndfl' |
                translate}}:</a> - {{::'header.ndfl.forms' | translate}}:</h1>
        </div>
        <div class="header-col w200" style="float: right; margin-top: 20px;">
            <div class="btn-group" data-uib-dropdown>
                <button id="single-button" type="button" class="btn btn-danger" data-uib-dropdown-toggle>
                    <span data-translate-once="link.ndfl.reporting"></span>
                </button>
                <ul class="dropdown-menu" data-uib-dropdown-menu role="menu" aria-labelledby="single-button"
                    style="margin-left: -180px;">
                    <li role="menuitem"><a ng-click="showToDoDialog()">{{::'link.ndfl.reporting.uploadXml' |
                        translate}}</a></li>
                    <li role="menuitem"><a ng-click="showToDoDialog()">{{::'link.ndfl.reporting.formXLSX' |
                        translate}}</a></li>
                    <li role="menuitem"><a ng-click="showToDoDialog()">{{::'link.ndfl.reporting.formForFL' |
                        translate}}</a></li>
                    <li role="menuitem"><a ng-click="showToDoDialog()">{{::'link.ndfl.reporting.formForFLs' |
                        translate}}</a></li>
                    <li role="menuitem"><a ng-click="showToDoDialog()">{{::'link.ndfl.reporting.formExcel' |
                        translate}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="grid-filter" style="min-width: 1400px;">
        <div data-aplana-collapse data-is-collapsed="false" data-label="'infoPanelLabel' | translate">
            <!--Основная информация-->
            <div class="header-details">
                <div class="row">
                    <div class="header-col w400">
                        <div>
                            <label class="w100">{{::'title.department' | translate}}:</label>
                            <label class="font-normal">{{declarationData.department}}</label>
                        </div>
                        <div>
                            <label class="w100">{{::'title.formNumber' | translate}}:</label>
                            <label class="font-normal">{{formNumber}}</label>
                        </div>
                        <div>
                            <label class="w100">{{::'title.creator' | translate}}:</label>
                            <label class="font-normal">{{declarationData.creationUserName}}</label>
                        </div>
                    </div>
                    <div class="header-col w300">
                        <div>
                            <label>{{::'title.formType' | translate}}:</label>
                            <label class="font-normal">{{declarationData.declarationFormKind}}</label>
                        </div>
                        <div>
                            <label>{{::'title.period' | translate}}:</label>
                            <label class="font-normal">{{declarationData.reportPeriodYear}}, {{declarationData.reportPeriod}}</label>
                        </div>
                        <div>
                            <label>{{::'title.state' | translate}}:</label>
                            <label class="font-normal">{{declarationData.state}}</label>
                        </div>
                    </div>
                    <div class="header-col w350">
                        <div>
                            <label>{{::'title.nameAsnu' | translate}}:</label>
                            <label class="font-normal">{{declarationData.asnuName}}</label>
                        </div>
                        <div>
                            <label>{{::'title.dateAndTimeCreate' | translate}}:</label>
                            <label class="font-normal">{{declarationData.creationDate}}</label>
                        </div>
                    </div>
                    <div class="header-col w200" style="float: right;">
                        <!-- ссылка на модальное окно измениий по налоговой форме -->
                        <button type="button" class="btn btn-danger" style="width: 145px;"
                                data-ng-click="openHistoryOfChange()">
                            <span data-translate-once="link.ndfl.historyOfChange"></span>
                        </button>
                        <button type="button" class="btn btn-danger" style="margin-top: 5px; width: 145px;"
                                data-ng-click="filesAndComments()">
                            <span data-translate-once="link.ndfl.filesAndComment"></span>
                        </button>
                        <button type="button" class="btn btn-danger" style="margin-top: 5px; width: 145px;"
                                data-ng-click="showSourcesClick()">
                            <span data-translate-once="link.ndfl.sources"></span>
                        </button>
                    </div>
                </div>
            </div>
            <!--Панель кнопок -->
            <div class="button_panel">
                <div class="btn-toolbar" role="toolbar">
                    <!--Рассчитать -->
                    <span>
                        <button type="button" class="btn btn-danger"
                                data-ng-click="calculate()">
                            <span data-translate-once="button.calculate"></span>
                        </button>
                    </span>
                    <!--Принять -->
                    <span>
                        <button type="button" class="btn btn-danger"
                                data-ng-click="accept()">
                            <span data-translate-once="button.accept"></span>
                        </button>
                    </span>
                    <!--Проверить -->
                    <span>
                        <button type="button" class="btn btn-danger"
                                data-ng-click="check()">
                            <span data-translate-once="button.check"></span>
                        </button>
                    </span>
                    <!--Вернуть в Создана -->
                    <span>
                        <button type="button" class="btn btn-danger"
                                data-ng-click="returnToCreated()">
                            <span data-translate-once="button.return"></span>
                        </button>
                    </span>
                    <!--Удалить-->
                    <span>
                        <button type="button" class="btn btn-danger"
                                data-ng-click="delete()">
                            <span data-translate-once="button.delete"></span>
                        </button>
                    </span>
                </div>
            </div>
            <hr/>
        </div>
    </div>

    <data-uib-tabset active="activeForm" class="form100" style="height:66%;">

        <data-uib-tab index="0" heading="1. {{::'tab.ndfl.requisites' | translate}}" select="selectTab('requisites')">
            <div data-ng-controller="ndflFLCtrl">
                <div class="container-grid" style="height: 100%">
                    <div class='container-grid-top'>
                        <span data-ng-include="'client/app/taxes/ndfl/ndflFLFilter.html'"></span>
                        <div>
                            <button type="button" class="btn btn-danger"
                                    data-ng-click="showToDoDialog()">
                                <span data-translate-once="button.updateFLData"></span>
                            </button>
                        </div>

                    </div>
                </div>
                <div data-aplana-grid
                     data-grid-fill-space="true"
                     data-grid-fill-space-container-selector=".form100"
                     data-grid-fill-space-container-selector-top=".container-grid-top"
                     data-grid-options="ndflPersonGrid.options"
                     data-grid-ctrl="ndflPersonGrid.ctrl"
                     data-ng-model="ndflPersonGrid.value"
                     id="ndflPersonTable"
                     style="float: left; width: 100%; margin-top: 5px;"></div>
            </div>
        </data-uib-tab>

        <data-uib-tab index="1" heading="2. {{::'tab.ndfl.informationOnIncomesAndNdfl' | translate}}"
                      select="selectTab('incomesAndTax')">
            <div data-ng-controller="incomesAndTaxCtrl">
                <div class="container-grid" style="height: 100%;">
                    <div class='container-grid-top'>
                        <span data-ng-include="'client/app/taxes/ndfl/incomesAndTaxFilter.html'"></span>
                        <div class="row" style="margin: 0;">
                            <button type="button" class="btn btn-danger"
                                    data-ng-click="showToDoDialog()">
                                <span data-translate-once="button.fillTransferTerm"></span>
                            </button>
                            <button type="button" class="btn btn-danger" style="margin: 0 0 0 10px"
                                    data-ng-click="showToDoDialog()">
                                <span data-translate-once="button.fillIncomeAttr"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div data-aplana-grid
                     data-grid-fill-space="true"
                     data-grid-fill-space-container-selector=".form100"
                     data-grid-fill-space-container-selector-top=".container-grid-top"
                     data-grid-options="incomesAndTaxGrid.options"
                     data-grid-ctrl="incomesAndTaxGrid.ctrl"
                     data-ng-model="incomesAndTaxGrid.value"
                     id="incomesAndTaxTable"
                     style="float: left; width: 100%; margin-top: 5px;"></div>

            </div>
        </data-uib-tab>

        <data-uib-tab index="2" heading="3. {{::'tab.ndfl.informationOnDeductions' | translate}}"
                      select="selectTab('deductions')">
            <div data-ng-controller="deductionCtrl">
                <div class="container-grid" style="height: 100%">
                    <div class='container-grid-top'>
                        <span data-ng-include="'client/app/taxes/ndfl/deductionFilter.html'"></span>
                    </div>
                    <div data-aplana-grid
                         data-grid-fill-space="true"
                         data-grid-fill-space-container-selector=".form100"
                         data-grid-fill-space-container-selector-top=".container-grid-top"
                         data-grid-options="deductionGrid.options"
                         data-grid-ctrl="deductionGrid.ctrl"
                         data-ng-model="deductionGrid.value"
                         id="deductionTable"></div>
                </div>
            </div>
        </data-uib-tab>

        <data-uib-tab index="3" heading="4. {{::'tab.ndfl.informationOnAdvancePayments' | translate}}"
                      select="selectTab('advancePayments')">
            <div data-ng-controller="prepaymentCtrl">
                <div class="container-grid" style="height: 100%">
                    <div class='container-grid-top'>
                        <span data-ng-include="'client/app/taxes/ndfl/prepaymentFilter.html'"></span>
                    </div>
                    <div data-aplana-grid
                         data-grid-fill-space="true"
                         data-grid-fill-space-container-selector=".form100"
                         data-grid-fill-space-container-selector-top=".container-grid-top"
                         data-grid-options="prepaymentGrid.options"
                         data-grid-ctrl="prepaymentGrid.ctrl"
                         data-ng-model="prepaymentGrid.value"
                         id="prepaymentTable"></div>
                </div>
            </div>
        </data-uib-tab>

    </data-uib-tabset>
</div>
