<div class="collapseLeftPlus"
     data-aplana-collapse data-label="'ndfl.filter.prepayments' | translate">
    <div class="row-fluid pull-control-label-right">
        <div class="span4">
            <div class="row-fluid form-group">
                <div class="span5">
                    <label class="control-label">{{::'title.prepayment.notifNum' |
                        translate}}:</label>
                </div>
                <div class="span7">
                    <input data-ng-model="searchFilter.params.notifNum"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           type="text" class="form-control"
                           title="{{searchFilter.params.notifNum}}"/>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="row-fluid form-group">
                <div class="span5">
                    <label class="control-label">{{::'title.prepayment.filter.notifSource' |
                        translate}}:</label>
                </div>
                <div class="span7">
                    <input data-ng-model="searchFilter.params.notifSource"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           type="text" class="form-control"
                           title="{{searchFilter.params.notifSource}}"/>
                </div>
            </div>
        </div>
        <div class="span4 datepicker-block">
            <div class="row-fluid form-group long-label">
                <date-from-to-filter
                        data-label-width="4"
                        ng-period-model="searchFilter.params"
                        ng-from-param="notifDateFrom"
                        ng-to-param="notifDateTo"
                        ng-label="title.prepayment.notifDateFrom"></date-from-to-filter>
            </div>
        </div>
    </div>
</div>