<form class="form-horizontal" role="form">

    <div class="modal-header">
        <button type="button" class="close" data-ng-click="close()">×</button>
        <h4 class="modal-title">
            <span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{::'rnuPersonFace.title' |
            translate}}:
        </h4>
    </div>

    <div class="row">


        <div class="filter-col w450" style="height: 300px;">
            <div class="form-group">
                <div class="col-md-3">
                    <label class="control-label">{{::'title.lastName' |
                        translate}}:</label>
                </div>
                <div class="col-md-9">
                    <input data-ng-model="searchFilter.params.lastName"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           type="text" class="form-control"
                           title="{{searchFilter.params.lastName}}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <label class="control-label">{{::'title.firstName' |
                        translate}}:</label>
                </div>
                <div class="col-md-9">
                    <input data-ng-model="searchFilter.params.firstName"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           type="text" class="form-control"
                           title="{{searchFilter.params.firstName}}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <label class="control-label">{{::'title.middleName' |
                        translate}}:</label>
                </div>
                <div class="col-md-9">
                    <input data-ng-model="searchFilter.params.middleName"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           type="text" class="form-control"
                           title="{{searchFilter.params.middleName}}"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <label class="control-label">{{::'title.inn' |
                        translate}}: </label>
                </div>
                <div class="col-md-9">
                    <input data-ng-model="searchFilter.params.inn"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           type="text" class="form-control"
                           title="{{searchFilter.params.inn}}"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <label class="control-label">{{::'title.inp' |
                        translate}}:</label>
                </div>
                <div class="col-md-9">
                    <input data-ng-model="searchFilter.params.inp"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           type="text" class="form-control"
                           title="{{searchFilter.params.inp}}"/>
                </div>
            </div>

            <div class="form-group">
                <date-from-to-filter
                        data-label-width="4"
                        ng-from-model="searchFilter.params.dateFrom"
                        ng-to-model="searchFilter.params.dateTo"
                        ng-label="title.dateOfBirthFrom">
                </date-from-to-filter>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <label class="control-label">{{::'title.idDocNumber' |
                        translate}}: </label>
                </div>
                <div class="col-md-9">
                    <input data-ng-model="searchFilter.params.idDocNumber"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           type="text" class="form-control"
                           title="{{searchFilter.params.idDocNumber}}"/>
                </div>
            </div>

        </div>
    </div>
</form>

<div class="modal-body" id="FindGrid" style="height: 300px;" data-ng-show="enabledGrid">

    <div data-aplana-grid
         data-grid-options="notificationsGrid.options"
         data-grid-ctrl="notificationsGrid.ctrl"
         data-ng-model="notificationsGrid.value"
         data-ng-click="chekRow()"
         id="notificationsTable"
         style="float: left; width: 100%;"></div>
</div>

<div class="modal-footer" style="margin-right: 20px;">
    <!--Кнопка Найти-->
    <button type="button"
            class="btn btn-danger"
            data-ng-click="searchPerson()">
        <span data-translate-once="common.button.search"></span>
    </button>

    <!--Кнопка Сформировать-->
    <button type="button"
            class="btn btn-danger"
            data-ng-show="enabledCreateReport"
            data-ng-click="createRNU()">
        <span data-translate-once="common.button.create"></span>


    </button>
    <!--Кнопка Выход-->
    <button type="button"
            class="btn btn-danger"
            data-ng-click="close()">
        <span data-translate-once="button.close"></span>
    </button>


</div>