<div class="modal-body">

    <form class="form-horizontal" role="form" style="width: 100%; display: flex;"
          data-aplana-submit-valid="searchPerson()" novalidate>
        <div class="grid-filter flex-fill flex-row" style="margin-bottom: 20px;">
            <div class="flex-fill">

                <div class="row-fluid form-group">
                    <div class="span4">
                        <label class="control-label">{{::'title.lastName' | translate}}:</label>
                    </div>
                    <div class="span8">
                        <input data-ng-model="searchFilter.params.lastName"
                               placeholder="{{'filter.placeholder.search' | translate}}"
                               type="text" class="form-control"
                               title="{{searchFilter.params.lastName}}"
                               ng-style="fieldStyles.lastName"/>
                    </div>
                </div>

                <div class="row-fluid form-group">
                    <div class="span4">
                        <label class="control-label">{{::'title.snils' | translate}}: </label>
                    </div>
                    <div class="span8">
                        <input data-ng-model="searchFilter.params.snils"
                               placeholder="{{'filter.placeholder.search' | translate}}"
                               type="text" class="form-control"
                               title="{{searchFilter.params.snils}}"
                               ng-style="fieldStyles.snils"/>
                    </div>
                </div>

                <date-from-to-filter
                        data-label-width="4"
                        ng-period-model="searchFilter.params"
                        ng-from-param="dateFrom"
                        ng-to-param="dateTo"
                        ng-label="title.dateOfBirthFrom"
                        paragraph="personRnuParagraphForDate">
                </date-from-to-filter>

            </div>

            <div class="flex-fill">

                <div class="row-fluid form-group">
                    <div class="span3">
                        <label class="control-label">{{::'title.firstName' |
                            translate}}:</label>
                    </div>
                    <div class="span9">
                        <input data-ng-model="searchFilter.params.firstName"
                               placeholder="{{'filter.placeholder.search' | translate}}"
                               type="text" class="form-control"
                               title="{{searchFilter.params.firstName}}"
                               ng-style="fieldStyles.firstName"/>
                    </div>
                </div>

                <div class="row-fluid form-group">
                    <div class="span3">
                        <label class="control-label">{{::'title.inn' |
                            translate}}: </label>
                    </div>
                    <div class="span9">
                        <input data-ng-model="searchFilter.params.inn"
                               placeholder="{{'filter.placeholder.search' | translate}}"
                               type="text" class="form-control"
                               title="{{searchFilter.params.inn}}"
                               ng-style="fieldStyles.inn"/>
                    </div>
                </div>

                <div class="row-fluid form-group">
                    <div class="span3">
                        <label class="control-label">{{::'title.inp' |
                            translate}}:</label>
                    </div>
                    <div class="span9">
                        <input data-ng-model="searchFilter.params.inp"
                               placeholder="{{'filter.placeholder.search' | translate}}"
                               type="text" class="form-control"
                               title="{{searchFilter.params.inp}}"
                               ng-style="fieldStyles.inp"/>
                    </div>
                </div>


            </div>

            <div class="flex-fill">

                <div class="row-fluid form-group">
                    <div class="span3">
                        <label class="control-label">{{::'title.middleName' |
                            translate}}:</label>
                    </div>
                    <div class="span9">
                        <input data-ng-model="searchFilter.params.middleName"
                               placeholder="{{'filter.placeholder.search' | translate}}"
                               type="text" class="form-control"
                               title="{{searchFilter.params.middleName}}"
                               ng-style="fieldStyles.middleName"/>
                    </div>
                </div>

                <div class="row-fluid form-group">
                    <div class="span3">
                        <label class="control-label">{{::'title.idDocNumber' |
                            translate}}: </label>
                    </div>
                    <div class="span9">
                        <input data-ng-model="searchFilter.params.idDocNumber"
                               placeholder="{{'filter.placeholder.search' | translate}}"
                               type="text" class="form-control"
                               title="{{searchFilter.params.idDocNumber}}"
                               ng-style="fieldStyles.idDocNumber"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="vertical-btn-group" style="flex: 0 80px; padding-left: 20px">
            <!--Кнопка Найти-->
            <button type="submit" class="btn btn-default search-button">
                <span data-translate-once="common.button.search"></span>
            </button>
        </div>
    </form>

    <!-- Блок информации -->
    <div style="margin: auto; padding-bottom: 15px;">
        <div data-ng-show="showInfo">
            <div style="min-height: 40px; min-width: 750px; border: 1px solid #aeaeac; border-radius: 6px;  background-color: #f0f8d1">
                <div style="margin: 10px 0 10px 20px;">
                    <span> {{infoMessage}}</span>
                </div>
            </div>
        </div>
    </div>

    <div data-aplana-grid
         data-grid-fill-space="true"
         data-grid-options="rnuNdflGrid.options"
         data-grid-ctrl="rnuNdflGrid.ctrl"
         data-init-grid="rnuNdflGrid.init(ctrl)"
         data-ng-model="rnuNdflGrid.value"
         id="rnuNdflTable"
         style="width: 100%;"></div>
</div>

<div class="modal-footer">
    <!--Кнопка Сформировать-->
    <button type="button"
            class="btn btn-default"
            data-ng-show="rnuNdflGrid.value.length"
            data-ng-click="formationRNU()">
        <span data-translate-once="common.button.formation"></span>
    </button>
    <!--Кнопка Выход-->
    <button type="button"
            class="btn btn-default-nonBg iconed-btn"
            data-ng-click="close()">
        <span data-translate-once="button.close"></span>
        <span class="btn-icon-noneBg-close"></span>
    </button>
</div>