<div>
    <div class="cbr-picker cbr-timepicker">
		<div class="cbr-picker-button">
			<button type="button" class="btn btn-popover btn-default btn-sm" tabindex="-1"
				data-aplana-popover-template='<div class="popover"><div class="arrow"></div>
										  <div class="popover-content" style="padding: 2px;"></div></div>'
				data-placement="bottom-right" data-container="body">

				<i class="icon-white icon-time"></i>
			</button>
		</div>
		<div class="cbr-picker-input">
            <input type="text">
        </div>
    </div>
</div>