.aplanaLink {
    cursor: pointer;
}

.aplanaLink .caret {
    border-top-color: #004eaa;
    border-bottom-color: #004eaa;
    margin-top: 6px;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}