.aplanaTreeviewContainer {
    border: 1px solid transparent;
}

.control-group.error div.aplanaTreeviewContainer {
    border-color: red;
}

.aplanaTreeview {
    list-style-type: none;
}

ul.aplanaTreeview li {
    cursor: pointer;
}

div[data-tree-data] li .selected {
    background-color: #aaddff;
    font-weight: bold;
    padding: 1px 5px;
}