.comments {
    display: block;
    padding: 0 8px;
    font-size: 11px;
    line-height: 18px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-y: auto;
    position: relative;
    height: 150px;
    width: 500px;
}

.comments ul {
    list-style-type: none;
    margin: 0 0 0 0;
}

.comments li {
    border-bottom: 1px solid #e5e5e5;
    border-radius: 3px;
}

.comments li:hover {
    background-color: #f5f5f5;
}

.comment-head {
    font-weight: bold;
    display: block;
}

.comment-body {
    padding: 0 10px;
    display: block;
}
