<nav id="app-header" class="navbar navbar-default" style="min-width: 1300px;">
    <div class="nav navbar-nav">
        <a href="#">
            <div class="logo"></div>
        </a>
    </div>
    <div class="nav navbar-nav">
        <span class="sub-logo">АС «Учет налогов»</span>
    </div>
    <ul class="nav navbar-nav" ng-if="permissionChecker.check(user, APP_CONSTANTS.USER_PERMISSION.VIEW_TAXES)">
        <li class="dropdown">
            <a data-toggle="dropdown">{{::'menu.taxes' | translate}}</a>
            <tree tree='treeTaxes'></tree>
        </li>
    </ul>
    <ul class="nav navbar-nav" ng-if="permissionChecker.check(user, APP_CONSTANTS.USER_PERMISSION.VIEW_NSI)">
        <li class="dropdown">
            <a data-toggle="dropdown">{{::'main.menu.nsi' | translate}}</a>
            <tree tree='treeNsi'></tree>
        </li>
    </ul>
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a data-toggle="dropdown">{{::'main.menu.administration' | translate}}</a>
            <tree tree='treeAdministration'></tree>
        </li>
    </ul>
    <ul class="nav navbar-nav pull-right">
        <li type="button" id="btnNotif" class="btn btn-link width66" data-toggle="button"
            data-ng-click="openNotifications()" style="color: white; font-size: 11pt;">
            <span ng-class="notificationsCountClass">{{notificationsCount}}</span>
        </li>
        <li class="width66">
            <a href="{{aboutHref}}"><span class="info-icon"></span></a>
        <li class="border-none width66">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a data-toggle="dropdown"><span class="question-icon"></span></a>
                    <tree tree='treeManual'></tree>
                </li>
            </ul>
        </li>
        <li class="app-header-user-info" style="padding-top: 4px;">
            <div data-aplana-tooltip="{{security.user.department.name}}">{{security.user.department.name}}</div>
            <div data-aplana-tooltip="{{security.user.name + '</br>'}}{{::security.user.roles | joinObjectsPropFormatter : '; '}}">
                {{security.user.name}}
            </div>
        </li>
        <li><a class="logout_link" data-ng-click="logout()"></a></li>
    </ul>

    <div class="build_info">
        <div>{{::'main.footer.version' | translate}}: {{version}}; {{::'main.footer.revision' | translate}}:
            {{revision}}; {{::'main.footer.server' | translate}}: {{serverName}}; {{::'main.footer.browser' |
            translate}}: {{browser}}
        </div>
    </div>
</nav>