<div class="modal-body notificationForm" style="height: 462px;">
    <div class="row container-grid-top">
        <a class="btn btn-default" data-aplana-link-click="delete()"
           data-aplana-link="'notifications.title.deleteLink' | translate"
           style="line-height: 13px;margin: 0 0 12px 13px;">
            <i class="glyphicon glyphicon-remove" style="color: red;"></i>
        </a>
    </div>
    <div data-aplana-grid
         data-grid-fill-space="true"
         data-grid-fill-space-container-selector=".notificationForm"
         data-grid-fill-space-container-selector-top=".container-grid-top"
         data-grid-options="notificationsGrid.options"
         data-grid-ctrl="notificationsGrid.ctrl"
         data-ng-model="notificationsGrid.value"
         id="notificationsTable"></div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" id="closeButton" data-ng-click="close()">
        <span data-translate-once="button.close"></span>
    </button>
</div>