<div class="modal-body notificationForm flex-column" style="height: 450px;">
    <div class="notification-top">
        <a class="btn btn-default-nonBg" data-aplana-link-click="delete()"
           data-aplana-link="'notifications.title.deleteLink' | translate"
           style="line-height: 13px;margin: 0 0 12px 0;">
        </a>
    </div>
    <div class="flex-grid flex-fill"
         data-aplana-grid
         data-grid-fill-space="true"
         data-grid-fill-space-container-selector=".modal-body"
         data-grid-fill-space-container-selector-top=".notification-top"
         data-grid-options="notificationsGrid.options"
         data-grid-ctrl="notificationsGrid.ctrl"
         data-ng-model="notificationsGrid.value"
         id="notificationsTable"></div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default iconed-btn" id="closeButton" data-ng-click="close()">
        <span data-translate-once="button.close"></span>
        <span class="btn-icon-close"></span>
    </button>
</div>