<div class="form-group">
    <div class="{{labelGridClass}}">
        <label class="control-label">{{ngLabel | translate}}</label>
    </div>
    <div class="{{pickerGridClass}}">
        <div style="width: 120px; float: left;">
            <p class="input-group">
                <input type="text" class="form-control" datetime="dd.MM.yyyy" datepicker-timezone
                       uib-datepicker-popup="dd.MM.yyyy"
                       is-open="dateFromOpened"
                       close-text="Выбрать"
                       current-text="Сегодня"
                       clear-text="Очистить"
                       data-ng-model="ngFromModel"
                       data-ng-pattern="/^(0[1-9]|[12][0-9]|3[01])[.](0[1-9]|1[012])[.]\d\d\d\d$/"
                       title="{{ngFromModel}}">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-sm" ng-click="dateFromSelectClick()">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
            </p>
        </div>
        <div style="width: 30px; float: left; margin-left: -5px;">
            <label class="control-label">{{'title.dateToFilterLabel' | translate}}</label>
        </div>
        <div style="width: 120px; float: right;">
            <p class="input-group">
                <input type="text" class="form-control" datetime="dd.MM.yyyy" datepicker-timezone
                       uib-datepicker-popup="dd.MM.yyyy"
                       is-open="dateToOpened"
                       close-text="Выбрать"
                       current-text="Сегодня"
                       clear-text="Очистить"
                       datepicker-options="dateToOptions"
                       data-ng-model="ngToModel"
                       data-ng-pattern="/^(0[1-9]|[12][0-9]|3[01])[.](0[1-9]|1[012])[.]\d\d\d\d$/"
                       title="{{ngToModel}}">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-sm" ng-click="dateToSelectClick()">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
            </p>
        </div>
    </div>
</div>