@CHARSET "UTF-8";

/* для заголовка */
.msiHeader {
    padding-left: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #949494;
    color: #ffffff;
    height: 25px;
}

/* для узла дерева */
.msiTreeItem {

}

/* для узла дерева при фокусе/выборе */
.msiTreeItem:focus {
    background-color: #FFDB7F;
}

.msiTreeItem:hover {
    background-color: #FFDB7F;
}

/* для дерева */
.msiTree {

}

/* для общей панели. */
.msiMainPanel {
    float: left;
    border-color: #949494;
    border-width: 1px;
    border-style: solid;
}

/* для панели с деревом */
.msiTreePanel {
    background-color: #FFFFFF;
    vertical-align: top;
}

.msiTableTag {
    width: 100%;
}

.msiImg {
    width: 16px;
}