.cbr-picker-button .btn-popover {
    padding: 4px !important;
}

.cbr-picker-button [class^="icon-"],
.cbr-picker-button [class*=" icon-"] {
    margin: 0;
    background-image: url("../../img/glyphicons-halflings-white.png");
}