<p class="input-group">
    <input type="text" class="form-control" data-datetime="{{format}}" data-uib-datepicker-popup="{{format}}" data-datepicker-timezone
           data-is-open="isOpen" data-close-text="{{'button.close' | translate}}" data-current-text="{{'button.today' | translate}}" data-clear-text="{{'button.select' | translate}}"
           data-ng-blur="onBlur()"
           data-ng-model="model"
           data-datepicker-options="datePickerOptions"
           data-ng-required="required ? required : false"
           data-ng-pattern="/^(0[1-9]|[12][0-9]|3[01])[.](0[1-9]|1[012])[.]\d\d\d\d$/"
           title="{{model}}">
            <span class="input-group-btn">
                <button style="height: 25px" type="button" class="btn btn-default" data-ng-click="click()">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
</p>