<div>
    <div class="cbr-picker">
        <div class="cbr-picker-button">
            <button type="button" class="btn btn-popover btn-default btn-sm"
                    data-aplana-popover-template='<div class="popover"><div class="arrow"></div>
                                              <div class="popover-content" style="padding: 2px;"></div></div>'
                    data-placement="bottom-right"
                    data-container="body"
                    data-unique="true">
                <i class="icon-calendar"></i>
            </button>
        </div>
        <div class="cbr-picker-input">
            <input ui-mask="99.99.9999"  type="text" data-aplana-date-input>
        </div>
    </div>
</div>