<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.google.gdt.eclipse.suite.webapp">
<stringAttribute key="com.google.gdt.eclipse.suiteMainTypeProcessor.PREVIOUSLY_SET_MAIN_TYPE_NAME" value="com.google.gwt.dev.DevMode"/>
<booleanAttribute key="com.google.gdt.eclipse.suiteWarArgumentProcessor.IS_WAR_FROM_PROJECT_PROPERTIES" value="true"/>
<stringAttribute key="com.google.gwt.eclipse.core.URL" value="TaxAccounting.html"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/gwtapp"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="com.google.gdt.eclipse.maven.mavenClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.google.gwt.dev.DevMode"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-startupUrl TaxAccounting.html -remoteUI &quot;${gwt_remote_ui_server_port}:${unique_id}&quot; -logLevel INFO -port 8888 -codeServerPort 9997 com.aplana.sbrf.taxaccounting.web.main.entry.MainEntry com.aplana.sbrf.taxaccounting.web.main.Main com.aplana.sbrf.taxaccounting.web.module.Module com.aplana.sbrf.taxaccounting.web.module.admin.Admin com.aplana.sbrf.taxaccounting.web.widget.Widget com.aplana.sbrf.taxaccounting.web.widget.dictionarypicker.DictionaryPicker com.aplana.sbrf.taxaccounting.web.module.formdatalist.FormDataList com.aplana.sbrf.taxaccounting.web.module.formdata.FormData com.aplana.sbrf.taxaccounting.web.main.page.MainPage com.aplana.sbrf.taxaccounting.web.module.declarationtemplate.DeclarationTemplate"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="gwtapp"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx512m -Dgwt.nowarn.legacy.tools"/>
</launchConfiguration>
