<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 class="modal-title">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;{{header}}
    </h4>
</div>
<div class="modal-body information-dialog-body" style="height: 500px; width: 800px;">
    <form role="form" name="InformationDialogForm" novalidate class="modal-form form-horizontal">
        <div>

            <div style="overflow: hidden;" >
                <div style="width: 200px; float: left;">
                    <div>
                        <label class="control-label">{{::'title.inp' | translate}}</label>
                    </div>
                    <div>
                        <input type="text" class="form-control" data-ng-model="entity.inp" />
                    </div>
                </div>
                <div style="width: 200px; float: left; margin-left: 20px;">
                    <div>
                        <label class="control-label">{{::'title.idOperation' | translate}}</label>
                    </div>
                    <div>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div style="width: 200px; float: left; margin-left: 20px;">
                    <div>
                        <label class="control-label">{{::'title.deductionCode' | translate}}</label>
                    </div>
                    <div>
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </div>

            <div style="margin-top: 30px;" >
                <fieldset class="form-fieldset" style="width: 200px; float: left" >
                    <legend>{{::'title.documentOnTheRightToDeduct' | translate}}</legend>
                    <div>
                        <label class="control-label">{{::'title.type' | translate}}</label>
                    </div>
                    <div>
                        <input type="text" class="form-control" />
                    </div>
                    <div>
                        <label class="control-label">{{::'title.documentDate' | translate}}</label>
                    </div>
                    <div>
                        <input type="text" class="form-control" />
                    </div>
                    <div>
                        <label class="control-label" >{{::'title.number' | translate}}</label>
                    </div>
                    <div>
                        <input type="text" class="form-control"/>
                    </div>
                    <div>
                        <label class="control-label" >{{::'title.sourceCode' | translate}}</label>
                    </div>
                    <div>
                        <input type="text" class="form-control"/>
                    </div>
                    <div>
                        <label class="control-label" >{{::'title.documentAmount' | translate}}</label>
                    </div>
                    <div>
                        <input type="text" class="form-control"/>
                    </div>
                </fieldset>
                <fieldset class="form-fieldset" style="width: 200px; float: left; margin-left: 20px;" >
                    <legend>{{::'title.income' | translate}}</legend>
                    <div>
                        <label class="control-label" >{{::'title.incomeCode' | translate}}</label>
                    </div>
                    <div>
                        <input type="text" class="form-control"/>
                    </div>
                    <div>
                        <label class="control-label" >{{::'title.incomeDate' | translate}}</label>
                    </div>
                    <div>
                        <input type="text" class="form-control"/>
                    </div>
                    <div>
                        <label class="control-label" >{{::'title.incomeAmount' | translate}}</label>
                    </div>
                    <div>
                        <input type="text" class="form-control"/>
                    </div>
                </fieldset>
                <fieldset class="form-fieldset" style="width: 250px; float: left; margin-left: 20px;" >
                    <legend>{{::'title.applicationOfDeduction' | translate}}</legend>
                    <fieldset class="form-fieldset" >
                        <legend>{{::'title.previousPeriod' | translate}}</legend>
                        <div>
                            <label class="control-label">{{::'title.previousDeductionDate' | translate}}</label>
                        </div>
                        <div>
                            <input type="text" class="form-control"/>
                        </div>
                        <div>
                            <label class="control-label">{{::'title.previousDeductionAmount' | translate}}</label>
                        </div>
                        <div>
                            <input type="text" class="form-control" />
                        </div>
                    </fieldset>
                    <fieldset class="form-fieldset" >
                        <legend>{{::'title.currentPeriod' | translate}}</legend>
                        <div>
                            <label class="control-label">{{::'title.currentDeductionDate' | translate}}</label>
                        </div>
                        <div>
                            <input type="text"  class="form-control" />
                        </div>
                        <div>
                            <label class="control-label">{{::'title.currentDeductionAmount' | translate}}</label>
                        </div>
                        <div>
                            <input type="text" class="form-control" />
                        </div>
                    </fieldset>
                </fieldset>
            </div>

        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button"
            class="btn btn-danger"
            data-ng-disabled="InformationDialogForm.$invalid"
            ng-click="save()">
        <span data-translate-once="common.button.add"></span>
    </button>
    <button type="button" class="btn btn-default" id="cancelButton" ng-click="cancel()">
        <span data-translate-once="common.button.cancel"></span>
    </button>
</div>