<div class="flex-column">
    <div class="content-header">
        <h1>{{::'refBooks.refBooksList.title' | translate}}</h1>
    </div>
    <div class="container-grid box-shadow-block flex-fill flex-column">
        <!-- Строка поиска -->
        <form data-ng-controller="CommonFilterCtrl" role="form">
            <div class="btn-toolbar pull-left grid-filter"
                 role="toolbar">
                <span class="pull-left">
                    <input data-ng-model="searchFilter.params.text"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           type="text"
                           class="form-control"
                           style="margin-top: 3px"/>
                </span>
                <span style="margin-left: 10px">
                    <button type="button"
                            class="btn btn-default"
                            id="searchButton"
                            data-ng-click="submitSearch()">
                        <span data-translate-once="common.button.search"></span>
                    </button>
                </span>
            </div>
        </form>
        <!-- Таблица -->
        <div class="flex-grid flex-fill"
             data-aplana-grid
             data-grid-fill-space="true"
             data-grid-options="refBookListGrid.options"
             data-grid-ctrl="refBookListGrid.ctrl"
             data-ng-model="refBookListGrid.value"
             data-grid-no-paging
             id="refBookListTable"
             style="float: left; width: 100%;">
        </div>
    </div>
</div>