<div class="flex-column">
    <!--Заголовок-->
    <div class="content-header pull-left" data-ng-hide="versionMode">
        <a href="index.html#/refbooks/refBookList">{{::'refBooks.title' | translate}}</a>
        <h1>— {{refBook.name}}</h1>
    </div>
    <div class="content-header pull-left" data-ng-show="versionMode">
        <a href="index.html#/refBooks/linearRefBook/{{refBook.id}}">{{::'refBook.title' | translate}} "{{refBook.name}}"</a>
        <h1>— {{::'refBook.version.title' | translate}}</h1>
    </div>
    <div id="refBookFLGridContainer" class="container-grid box-shadow-block flex-fill flex-column">
        <div id="refBookFLRecordsGridTop">
            <div class="row">
                <!--Поиск-->
                <div class="btn-toolbar grid-filter" style="margin-left: 40px;" role="toolbar" data-ng-hide="versionMode">
                    <span data-ng-show="refBook.versioned && !versionMode">
                        <!-- Выбор даты актуальности -->
                        <label style="float:left; margin: 8px 5px 5px;" class="control-label">{{::'refBook.version' | translate}}:</label>
                        <div style="width: 150px;float:left;margin-right: 50px;margin-top: 3px">
                            <span data-aplana-datepicker data-ng-model="data.recordVersion"
                                  data-ng-change="onChangeVersion()"></span>
                        </div>
                    </span>
                    <span class="pull-left" style="margin-left: 10px">
                        <label style="float:left; margin: 8px 5px 5px;" class="control-label">{{::'title.lastName' | translate}}:</label>
                        <input data-ng-model="search.lastName" style="margin-top: 4px" type="text"
                               placeholder="{{'filter.placeholder.search' | translate}}"/>
                    </span>
                    <span class="pull-left" style="margin-left: 10px">
                        <label style="float:left; margin: 8px 5px 5px;" class="control-label">{{::'title.firstName' | translate}}:</label>
                        <input data-ng-model="search.firstName" style="margin-top: 4px" type="text"
                               placeholder="{{'filter.placeholder.search' | translate}}"/>
                    </span>
                    <span class="pull-left" style="margin-left: 10px">
                        <input data-ng-model="search.text"
                               placeholder="{{'filter.placeholder.search' | translate}}"
                               type="text" style="margin-top: 4px"/>
                    </span>
                    <span style="margin-left: 10px">
                        <button type="button"
                                class="btn btn-default"
                                id="searchButton"
                                data-ng-click="searchRecords()">
                            <span data-translate-once="common.button.search"></span>
                        </button>
                    </span>
                    <span style="margin-left: 10px">
                        <label style="margin-bottom: 0">
                            <input class="cbox" type="checkbox" data-ng-model="search.precise"/>
                            <span>{{::'refBook.checkbox.search' | translate}}</span>
                        </label>
                    </span>
                </div>
            </div>

            <div class="row">
                <!--Панель кнопок -->
                <div class="btn-toolbar pull-left" style="margin-left: 40px;" role="toolbar">
                    <!-- Создать -->
                    <button type="button" class="btn btn-default" data-ng-hide="refBook.readOnly"
                            data-ng-click="createRecord()">
                        <span data-translate-once="button.create"></span>
                    </button>
                    <!-- Открыть -->
                    <button type="button" class="btn btn-default" data-ng-disabled="personGrid.value.length != 1"
                            data-ng-click="showRecord()">
                        <span data-translate-once="button.open"></span>
                    </button>
                    <!-- Редактировать -->
                    <button type="button" class="btn btn-default"
                            data-ng-hide="refBook.readOnly"
                            data-ng-disabled="personGrid.value.length != 1"
                            data-ng-click="editRecord()">
                        <span data-translate-once="button.edit"></span>
                    </button>
                    <!-- Удалить -->
                    <button type="button" class="btn btn-default"
                            data-ng-hide="refBook.readOnly"
                            data-ng-disabled="personGrid.value.length == 0"
                            data-ng-click="deleteRecords()">
                        <span data-translate-once="button.delete"></span>
                    </button>
                    <!-- Версии -->
                    <button type="button" class="btn btn-default"
                            data-ng-hide="!refBook.versioned"
                            data-ng-disabled="personGrid.value.length != 1"
                            data-ng-click="showVersions()">
                        <span data-translate-once="refBooks.button.versions"></span>
                    </button>
                </div>

                <div class="w400 pull-right" style="margin: 5px 10px 10px 0;" data-ng-hide="versionMode">
                    <div class="pull-right">
                        <!--Оригинал/дубли-->
                        <button type="button" class="btn btn-default"
                                data-ng-disabled="personGrid.value.length != 1"
                                data-ng-click="setOriginalAndDuplicate()">
                            <span data-translate-once="refBook.button.originalAndDuplicate"></span>
                        </button>
                        <!--Формирование отчетов-->
                        <div class="btn-group">
                            <div id="single-button"
                                 data-aplana-dropdown
                                 data-placement="bottom-right"
                                 class="btn btn-default">
                                <span data-translate-once="link.ndfl.reporting"></span>
                            </div>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                                <li role="menuitem">
                                    <div class="row menuitem">
                                        <a ng-click="createReportXlsx()">{{::'refBook.button.reportXlsx' | translate}}</a>
                                    </div>
                                </li>
                                <li role="menuitem">
                                    <div class="row menuitem">
                                        <a ng-click="createReportCsv()">{{::'refBook.button.reportCsv' | translate}}</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>