<div class="flex-column">
    <div class="content-header">
        <h1>{{::'refBook.fl.title' | translate}}</h1>
    </div>
    <div id="registryFLGridContainer" class="container-grid box-shadow-block flex-fill flex-column">
        <div id="usersGridTop">
            <!-- Кнопка выгрузки в Excel -->
            <div style="float: right; padding-top: 10px" ng-show="permissionChecker.check(user, APP_CONSTANTS.USER_PERMISSION.EXPORT_PERSONS)">
                <img src='resources/img/unload-white-16.png'>
                <a ng-click="createPersonsExcel()">{{'refBook.fl.button.download.title' | translate}}</a>
            </div>
            <!-- Панель фильтра -->
            <div>
                <span data-ng-include="'client/app/refbooks/registryFLFilter.html'"></span>
            </div>
        </div>

        <!-- Таблица -->
        <div class="flex-grid flex-fill"
             data-aplana-grid
             data-grid-fill-space="true"
             data-grid-fill-space-container-selector="#registryFLGridContainer"
             data-grid-fill-space-container-selector-top="#registryFLGridTop"
             data-grid-options="flGrid.options"
             data-grid-ctrl="flGrid.ctrl"
             data-ng-model="flGrid.value"
             id="registryFLTable">
        </div>
    </div>
</div>