<div data-ng-controller="CommonFilterCtrl">
    <div class="grid-filter">
        <div data-aplana-collapse
             data-is-collapsed="searchFilter.hideExtendedFilter"
             data-label="(!searchFilter.isClear ? 'filterPanelLabel' : 'filterPanelLabel.set') | translate">
            <form id="ndfl_group_filter"
                  class="form-horizontal info-wrapper"
                  role="form"
                  style="display: flex; padding-top: 0;"
                  novalidate>
                <div class="row-fluid">
                    <div class="span11 child-margin0">
                        <!--Реквизиты ФЛ-->
                        <div data-aplana-collapse data-label="'refBook.fl.filter.title.fl' | translate">
                            <div class="ndfl-subfilter row-fluid">
                                <div class="span4">
                                    <!--Фамилия-->
                                    <div class="row-fluid form-group">
                                        <div class="span4">
                                            <label class="control-label">{{::'title.lastName' | translate}}:</label>
                                        </div>
                                        <div class="span8">
                                            <input data-ng-model="searchFilter.params.lastName"
                                                   type="text"
                                                   placeholder="{{'filter.placeholder.search' | translate}}"
                                                   class="form-control"/>
                                        </div>
                                    </div>
                                    <!--Имя-->
                                    <div class="row-fluid form-group">
                                        <div class="span4">
                                            <label class="control-label">{{::'title.firstName' | translate}}:</label>
                                        </div>
                                        <div class="span8">
                                            <input data-ng-model="searchFilter.params.firstName"
                                                   type="text"
                                                   placeholder="{{'filter.placeholder.search' | translate}}"
                                                   class="form-control"/>
                                        </div>
                                    </div>
                                    <!--Отчество-->
                                    <div class="row-fluid form-group">
                                        <div class="span4">
                                            <label class="control-label">{{::'title.middleName' | translate}}:</label>
                                        </div>
                                        <div class="span8">
                                            <input data-ng-model="searchFilter.params.middleName"
                                                   type="text"
                                                   placeholder="{{'filter.placeholder.search' | translate}}"
                                                   class="form-control"/>
                                        </div>
                                    </div>
                                    <!--Дата рождения-->
                                    <div class="row-fluid form-group">
                                        <date-from-to-filter
                                                data-label-width="4"
                                                ng-period-model="searchFilter.params"
                                                ng-from-param="birthDateFrom"
                                                ng-to-param="birthDateTo"
                                                ng-label="title.dateOfBirthFrom">
                                        </date-from-to-filter>
                                    </div>
                                    <!-- Тербанк -->
                                    <div class="row-fluid form-group">
                                        <div class="span4">
                                            <label class="control-label">{{::'title.terBank' | translate}}:</label>
                                        </div>
                                        <div class="span8"
                                             data-ng-controller="SelectDepartmentCtrl"
                                             data-ui-select2="departmentsSelect.options"
                                             data-ng-init="initTBMultiSelect()"
                                             data-ng-model="searchFilter.params.departments">
                                        </div>
                                    </div>
                                    <!-- Важность -->
                                    <div class="row-fluid form-group">
                                        <div class="span4">
                                            <label class="control-label">{{::'title.importance' | translate}}:</label>
                                        </div>
                                        <div class="span8">
                                            <div class="span5"
                                                 data-ng-controller="SelectPersonImportanceCtrl"
                                                 data-ui-select2="select.options"
                                                 data-ng-model="searchFilter.params.importance">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span4">
                                    <!--Тип ДУЛ-->
                                    <div class="row-fluid form-group">
                                        <div class="span4">
                                            <label class="control-label">{{::'refBook.fl.filter.label.documentType' | translate}}:</label>
                                        </div>
                                        <div class="span8"
                                             data-ng-controller="SelectRefBookCtrl"
                                             data-ui-select2="select.options"
                                             data-ng-init="initSelect(APP_CONSTANTS.REFBOOK.DOC_TYPE)"
                                             data-ng-model="searchFilter.params.documentTypes">
                                        </div>
                                    </div>
                                    <!--Серия и № ДУЛ-->
                                    <div class="row-fluid form-group">
                                        <div class="span4">
                                            <label class="control-label">
                                                {{::'refBook.fl.filter.label.documentNumber' | translate}}:</label>
                                        </div>
                                        <div class="span8">
                                            <input data-ng-model="searchFilter.params.documentNumber"
                                                   type="text"
                                                   placeholder="{{'filter.placeholder.search' | translate}}"
                                                   class="form-control"/>
                                        </div>
                                    </div>
                                    <!--Гражданство-->
                                    <div class="row-fluid form-group">
                                        <div class="span4">
                                            <label class="control-label">{{::'refBook.fl.filter.label.citizenship' | translate}}:</label>
                                        </div>
                                        <div class="span8"
                                             data-ng-controller="SelectRefBookCtrl"
                                             data-ui-select2="select.options"
                                             data-ng-init="initSelect(APP_CONSTANTS.REFBOOK.COUNTRY)"
                                             data-ng-model="searchFilter.params.citizenshipCountries">
                                        </div>
                                    </div>
                                    <!--Статус НП-->
                                    <div class="row-fluid form-group">
                                        <div class="span4">
                                            <label class="control-label">{{::'refBook.fl.filter.label.status' | translate}}:</label>
                                        </div>
                                        <div class="span8"
                                             data-ng-controller="SelectRefBookCtrl"
                                             data-ui-select2="select.options"
                                             data-ng-init="initSelect(APP_CONSTANTS.REFBOOK.TAXPAYER_STATUS)"
                                             data-ng-model="searchFilter.params.taxpayerStates">
                                        </div>
                                    </div>
                                    <!--Система-источник-->
                                    <div class="row-fluid form-group">
                                        <div class="span4">
                                            <label class="control-label">{{::'refBook.fl.filter.label.sourceSystem' | translate}}:</label>
                                        </div>
                                        <div class="span8"
                                             data-ng-controller="SelectRefBookCtrl"
                                             data-ui-select2="select.options"
                                             data-ng-init="initSelect(APP_CONSTANTS.REFBOOK.ASNU)"
                                             data-ng-model="searchFilter.params.sourceSystems">
                                        </div>
                                    </div>
                                </div>
                                <div class="span4">
                                    <!--ИД ФЛ-->
                                    <div class="row-fluid form-group">
                                        <div class="span4">
                                            <label class="control-label">
                                                {{::'refBook.fl.filter.label.id' | translate}}:</label>
                                        </div>
                                        <div class="span8">
                                            <input data-ng-model="searchFilter.params.id"
                                                   type="text"
                                                   placeholder="{{'filter.placeholder.search' | translate}}"
                                                   class="form-control"/>
                                        </div>
                                    </div>
                                    <!--ИНП-->
                                    <div class="row-fluid form-group">
                                        <div class="span4">
                                            <label class="control-label">{{::'title.inp' | translate}}:</label>
                                        </div>
                                        <div class="span8">
                                            <input data-ng-model="searchFilter.params.inp"
                                                   type="text"
                                                   placeholder="{{'filter.placeholder.search' | translate}}"
                                                   class="form-control"/>
                                        </div>
                                    </div>
                                    <!--ИНН РФ-->
                                    <div class="row-fluid form-group">
                                        <div class="span4">
                                            <label class="control-label">{{::'title.innNp' | translate}}:</label>
                                        </div>
                                        <div class="span8">
                                            <input data-ng-model="searchFilter.params.inn"
                                                   type="text"
                                                   placeholder="{{'filter.placeholder.search' | translate}}"
                                                   class="form-control"/>
                                        </div>
                                    </div>
                                    <!--ИНН Ино-->
                                    <div class="row-fluid form-group">
                                        <div class="span4">
                                            <label class="control-label">{{::'title.innForeign' | translate}}:</label>
                                        </div>
                                        <div class="span8">
                                            <input data-ng-model="searchFilter.params.innForeign"
                                                   type="text"
                                                   placeholder="{{'filter.placeholder.search' | translate}}"
                                                   class="form-control"/>
                                        </div>
                                    </div>
                                    <!--СНИЛС-->
                                    <div class="row-fluid form-group">
                                        <div class="span4">
                                            <label class="control-label">{{::'title.snils' | translate}}:</label>
                                        </div>
                                        <div class="span8">
                                            <input data-ng-model="searchFilter.params.snils"
                                                   type="text"
                                                   placeholder="{{'filter.placeholder.search' | translate}}"
                                                   class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Адрес в РФ-->
                        <div data-aplana-collapse data-label="'refBook.fl.filter.title.russianAddress' | translate">
                            <div class="ndfl-subfilter row-fluid">
                                <div class="span4">
                                    <!--Индекс-->
                                    <div class="span4">
                                        <label class="control-label">{{::'title.index' | translate}}:</label>
                                    </div>
                                    <div class="span2">
                                        <input data-ng-model="searchFilter.params.postCode"
                                               type="text"
                                               placeholder="{{'filter.placeholder.search' | translate}}"
                                               class="form-control"/>
                                    </div>
                                    <!--Регион-->
                                    <div class="span2">
                                        <label class="control-label">{{::'title.region' | translate}}:</label>
                                    </div>
                                    <div class="span4">
                                        <input data-ng-model="searchFilter.params.regionCode"
                                               type="text"
                                               placeholder="{{'filter.placeholder.search' | translate}}"
                                               class="form-control"/>
                                    </div>
                                </div>
                                <div class="span8">
                                    <!--Район-->
                                    <div class="span1">
                                        <label class="control-label">{{::'title.area' | translate}}:</label>
                                    </div>
                                    <div class="span2">
                                        <input data-ng-model="searchFilter.params.district"
                                               type="text"
                                               placeholder="{{'filter.placeholder.search' | translate}}"
                                               class="form-control"/>
                                    </div>
                                    <!--Город-->
                                    <div class="span1">
                                        <label class="control-label">{{::'title.city' | translate}}:</label>
                                    </div>
                                    <div class="span2">
                                        <input data-ng-model="searchFilter.params.city"
                                               type="text"
                                               placeholder="{{'filter.placeholder.search' | translate}}"
                                               class="form-control"/>
                                    </div>
                                    <!--Населенный пункт-->
                                    <div class="span1">
                                        <label class="control-label">{{::'refBook.fl.filter.label.locality' | translate}}:</label>
                                    </div>
                                    <div class="span2">
                                        <input data-ng-model="searchFilter.params.locality"
                                               type="text"
                                               placeholder="{{'filter.placeholder.search' | translate}}"
                                               class="form-control"/>
                                    </div>
                                    <!--Улица-->
                                    <div class="span1">
                                        <label class="control-label">{{::'title.street' | translate}}:</label>
                                    </div>
                                    <div class="span2">
                                        <input data-ng-model="searchFilter.params.street"
                                               type="text"
                                               placeholder="{{'filter.placeholder.search' | translate}}"
                                               class="form-control"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Адрес за пределами РФ-->
                        <div data-aplana-collapse data-label="'refBook.fl.filter.title.foreignAddress' | translate">
                            <div class="ndfl-subfilter row-fluid">
                                <!--Страна проживания-->
                                <div class="span4">
                                    <div class="span4">
                                        <label class="control-label">{{::'refBook.fl.filter.label.country' | translate}}:</label>
                                    </div>
                                    <div class="span8"
                                         data-ng-controller="SelectRefBookCtrl"
                                         data-ui-select2="select.options"
                                         data-ng-init="initSelect(APP_CONSTANTS.REFBOOK.COUNTRY)"
                                         data-ng-model="searchFilter.params.countries">
                                    </div>
                                </div>
                                <!--Адрес-->
                                <div class="span8">
                                    <div class="span2">
                                        <label class="control-label">{{::'refBook.fl.filter.label.address' | translate}}:</label>
                                    </div>
                                    <div class="span10" style="margin-left: 1.55%; width: 83.55%;">
                                        <input data-ng-model="searchFilter.params.foreignAddress"
                                               type="text"
                                               placeholder="{{'filter.placeholder.search' | translate}}"
                                               class="form-control"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Параметры версий-->
                        <div data-aplana-collapse
                             data-is-collapsed="false"
                             data-label="'refBook.fl.filter.title.versions' | translate">
                            <div class="ndfl-subfilter row-fluid">
                                <!--Отображать версию-->
                                <div class="span4 row-fluid form-group">
                                    <div class="span4">
                                        <label class="control-label">
                                            {{::'refBook.fl.filter.label.versions' | translate}}:</label>
                                    </div>
                                    <div class="span8">
                                        <div class="span5"
                                             data-ng-controller="SelectShowVersionsCtrl"
                                             data-ui-select2="versionSelect.options"
                                             data-ng-model="searchFilter.params.allVersions">
                                        </div>
                                        <div class="span5 offset2"
                                             data-ng-if="searchFilter.params.allVersions.id == APP_CONSTANTS.SHOW_VERSIONS.BY_DATE.id">
                                            <div data-aplana-datepicker
                                                 data-ng-model="searchFilter.params.versionDate">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Дубликаты-->
                                <div class="span4 form-group">
                                    <div class="span4">
                                        <label class="control-label">{{::'refBook.fl.filter.label.duplicates' | translate}}:</label>
                                    </div>
                                    <div class="span8"
                                         data-ng-controller="SelectDuplicatesCtrl"
                                         data-ui-select2="select.options"
                                         data-ng-model="searchFilter.params.showDuplicates">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span1 vertical-btn-group" style="padding-top: 20px">
                        <!--Кнопка Найти-->
                        <button type="button"
                                class="btn btn-default"
                                id="searchButton"
                                data-ng-click="submitSearch()">
                            <span data-translate-once="common.button.search"></span>
                        </button>
                        <!--Кнопка Сбросить-->
                        <button type="button"
                                class="btn btn-default"
                                id="clearButton"
                                data-ng-click="resetFilter()"
                                data-ng-disabled="!searchFilter.isClear">
                            <span data-translate-once="common.button.clear"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>