<form class="form-horizontal" name="createDeclarationTypeAssignment" data-aplana-submit-valid="save()">
    <div class="modal-body" style="min-height: 150px">
        <table class="horizontal-input-table gray-label-table auto-width-uneditable-input-table nowrap-label-table"
               style="height: 100px;">
            <tbody>
            <tr>
                <td>
                    <label class="control-label">{{::'declarationTypeAssignment.modal.field.department' |
                        translate}}:</label>
                </td>
                <td>
                    <div data-aplana-field id="field-outer">
                        <div id="field-inner-select" style="width: 355px;"
                             data-ng-controller="SelectDepartmentCtrl"
                             data-ui-select2="departmentsSelect.options"
                             data-ng-init="initSelectWithBADepartments()"
                             data-ng-model="assignmentData.departments"
                             class="required"
                             data-ui-validate="{requiredMultiple : 'assignmentData.departments.length>0'}"
                             data-ui-validate-watch="['assignmentData.departments']">
                        </div>
                        <div data-aplana-validator data-key='requiredMultiple'>{{::'common.validation.required' |
                            translate}}
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">{{::'declarationTypeAssignment.modal.field.declarationType' |
                        translate}}:</label>
                </td>
                <td>
                    <div data-aplana-field>
                        <div style="width: 355px;"
                             data-ng-controller="SelectDeclarationTypeCtrl"
                             data-ui-select2="declarationTypeSelect.options"
                             data-ng-init="initSelectWithTaxAndReportDeclarationTypes()"
                             data-ng-model="assignmentData.declarationTypes"
                             class="required"
                             data-ui-validate="{requiredMultiple : 'assignmentData.declarationTypes.length>0'}"
                             data-ui-validate-watch="['assignmentData.declarationTypes']">
                        </div>
                        <div data-aplana-validator data-key='requiredMultiple'>{{::'common.validation.required' |
                            translate}}
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">{{::'declarationTypeAssignment.modal.field.performer' |
                        translate}}:</label>
                </td>
                <td>
                    <div data-aplana-field>
                        <div style="width: 355px;"
                             data-ng-controller="SelectDepartmentCtrl"
                             data-ui-select2="departmentsSelect.options"
                             data-ng-init="initSelectWithDestinationDepartments()"
                             data-ng-model="assignmentData.performers">
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default iconed-btn" id="saveButton">
            <span data-translate-once="button.create"></span>
            <span class="btn-icon-ok"></span>
        </button>
        <button type="button" class="btn btn-default-nonBg iconed-btn" id="closeButton" data-ng-click="close()">
            <span data-translate-once="button.close"></span>
            <span class="btn-icon-noneBg-close"></span>
        </button>
    </div>
</form>