<div>
    <div class="cbr-fileUpload">
        <div class="cbr-fileUpload-button">
            <button class="cbr-btn cbr-btn_prim cbr-fileUpload-removeButton" type='button' ng-click='remove()'>&times;</button>
            <label class="cbr-btn cbr-btn_prim cbr-fileUpload-viewButton">Обзор...</label>
        </div>
        <div class="cbr-fileUpload-input">
            <div class="cbr-fileUpload-hidden" style="height: 0; width: 0; overflow: hidden;">
            </div>
            <input class="cbr-fileUpload-fileName" type="text" data-aplana-file-upload-implementation readonly required>
        </div>
    </div>
</div>