<div class="flex-column">
    <div class="content-header">
        <h1>{{::'departmentConfig.title' | translate}}</h1>
    </div>
    <div class="container-grid box-shadow-block flex-fill flex-column" style="overflow-y: auto">
        <div id="departmentConfigTop">
            <!--Выгрузка-->
            <div style="float: right; padding-top: 10px" ng-show="searchFilter.params.department && permissionChecker.check(user, APP_CONSTANTS.USER_PERMISSION.EXPORT_DEPARTMENT_CONFIG)">
                <img src='resources/img/unload-white-16.png'>
                <a data-ng-click="exportDepartmentConfig()">{{'departmentConfig.export.excel' | translate}}</a>
            </div>
            <!--Фильтр-->
            <span data-ng-include="'client/app/taxes/ndfl/departmentConfig/departmentConfigFilter.html'"></span>
            <div class="button_panel" style="padding: 10px 12px 0;">
                <div class="btn-toolbar" role="toolbar">
                    <!--Создать-->
                    <span>
                        <button type="button" class="btn btn-default"
                                data-ng-click="createDepartmentConfig()"
                                data-ng-disabled="!permissionChecker.check(user, APP_CONSTANTS.USER_PERMISSION.CREATE_DEPARTMENT_CONFIG)">
                            <span data-translate-once="button.create"></span>
                        </button>
                    </span>
                    <!--Открыть-->
                    <span>
                        <button type="button" class="btn btn-default"
                                data-ng-click="openDepartmentConfig()"
                                data-ng-disabled="departmentConfigGrid.value.length != 1">
                            <span data-translate-once="button.open"></span>
                        </button>
                    </span>
                    <!--Удалить-->
                    <span>
                        <button type="button" class="btn btn-default"
                                data-ng-click="deleteDepartmentConfig()"
                                data-ng-disabled="departmentConfigGrid.value.length === 0 || !checkPermissionForSelectedItems(APP_CONSTANTS.DEPARTMENT_CONFIG_PERMISSION.DELETE)">
                            <span data-translate-once="button.delete"></span>
                        </button>
                    </span>
                    <!--Загрузить-->
                    <span style="float: right;">
                        <button type="file" class="btn btn-default" ngf-select="importDepartmentConfig($file)"
                                data-ng-disabled="!permissionChecker.check(user, APP_CONSTANTS.USER_PERMISSION.IMPORT_DEPARTMENT_CONFIG)">
                            <span data-translate-once="departmentConfig.import.excel"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="container-grid box-shadow-block flex-fill flex-column">
            <div class="flex-grid flex-fill"
                 data-aplana-grid
                 data-grid-fill-space="true"
                 data-grid-fill-space-container-selector="#departmentConfig"
                 data-grid-fill-space-container-selector-top="#departmentConfigTop"
                 data-grid-options="departmentConfigGrid.options"
                 data-grid-ctrl="departmentConfigGrid.ctrl"
                 data-ng-model="departmentConfigGrid.value"
                 id="departmentConfigTable"
                 style="float: left; width: 100%;"></div>
        </div>
    </div>
</div>