<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 class="modal-title">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;{{header}}
    </h4>
</div>
<div class="modal-body" style="width: 600px;margin-left: 90px;">
    <form role="form" name="createForm" novalidate class="modal-form form-horizontal">
        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label">{{'title.period' | translate}}</label>
            </div>
            <div class="col-md-8">
                <ui-select ng-model="entity.period" required>
                    <ui-select-match allow-clear="false">
                        <span data-ng-bind="$select.selected.name" title="{{$select.selected.name}}"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in parentScope.filterList.periodList track by $index">
                        <span data-ng-bind-html="item.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label">{{'title.department' | translate}}</label>
            </div>
            <div class="col-md-8">
                <ui-select ng-model="entity.department" required>
                    <ui-select-match allow-clear="false">
                        <span data-ng-bind="$select.selected.name" title="{{$select.selected.name}}"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in parentScope.filterList.departmentList track by $index">
                        <span data-ng-bind-html="item.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label">{{'title.formKind' | translate}}</label>
            </div>
            <div class="col-md-8">
                <ui-select ng-model="entity.formKind" required>
                    <ui-select-match allow-clear="false">
                        <span data-ng-bind="$select.selected.name" title="{{$select.selected.name}}"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in parentScope.filterList.formKindList track by $index">
                        <span data-ng-bind-html="item.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-ng-disabled="createForm.$invalid" ng-click="save()">{{'common.button.add' | translate}}</button>
    <button type="button" class="btn btn-default" id="cancelButton" ng-click="cancel()">{{'common.button.cancel' | translate}}</button>
</div>
