<div class="row" style="margin: 14px 0 0 28px;">
    <div class="header-col">
        <h1>{{::'header.CommonParams' | translate}}:</h1>
    </div>
</div>

<div class="row" style="margin: 14px 0 0 28px;">
    <button type="button" class="btn btn-danger" data-ng-click="changeToDefault()">{{::'commonParams.default' |
        translate}}
    </button>
    <button type="button" class="btn btn-danger" data-ng-show="enabledRedact" data-ng-click="redact()">{{::'button.edit'
        | translate}}
    </button>

</div>

<div class="modal-body" style="height: 350px;">
    <div data-aplana-grid
         data-grid-options="CommonParamsGrid.options"
         data-grid-ctrl="CommonParamsGrid.ctrl"
         data-ng-model="CommonParamsGrid.value"
         data-ng-click="chekRow()"
         id="CommonParamsGrid"
         style="float: left; width: 100%;"></div>
</div>


<div class="modal-body" id="FindGrid" style="height: 300px;" data-ng-show="enabledGrid">
    <div data-aplana-grid
         data-grid-options="rnuNdflGrid.options"
         data-grid-ctrl="rnuNdflGrid.ctrl"
         data-ng-model="rnuNdflGrid.value"
         data-ng-click="chekRow()"
         id="rnuNdflTable"
         style="float: left; width: 100%;"></div>
</div>




