<div class="row" style="margin: 14px 0 0 28px;">
    <div class="header-col">
        <h1>{{::'header.CommonParams' | translate}}:</h1>
    </div>
</div>

<div class="row" style="margin: 14px 0 0 28px;">
    <button type="button" class="btn btn-danger" data-ng-click="changeToDefault()">{{::'commonParams.default' |
        translate}}
    </button>
    <button type="button" class="btn btn-danger" data-ng-show="commonParamsGrid.value.length !== 0" data-ng-click="upload()">{{::'button.edit'
        | translate}}
    </button>

</div>

<div class="modal-body" style="height: 350px;">
    <div data-aplana-grid
         data-grid-options="commonParamsGrid.options"
         data-grid-ctrl="commonParamsGrid.ctrl"
         data-ng-model="commonParamsGrid.value"
         data-ng-click="checkRow()"
         id="commonParamsGrid"
         style="float: left; width: 100%;"></div>
</div>







