
<div class="row">
    <div class="header-col" style="margin: 14px 0 0 28px;">
        <h1>{{::'header.CommonParams' | translate}}</h1>
    </div>
</div>
<div id="commonParams" class="container-grid box-shadow-block" >
    <div class="top-wrapper" style="min-height: 50px; margin-bottom: -17px">

        <!--Панель кнопок -->
        <div class="button_panel">
            <div class="btn-toolbar" role="toolbar">
                <span>
                     <button type="button" class="btn btn-default" data-ng-click="changeToDefault()">
                         {{::'commonParams.default' | translate}}
                      </button>

                      <button type="button" class="btn btn-default" ng-disabled="commonParamsGrid.value.length == 0" data-ng-click="upload()">
                          {{::'button.edit' | translate}}
                      </button>

                </span>
            </div>
        </div>
    </div>


        <div data-aplana-grid
             data-grid-fill-space="true"
             data-grid-fill-space-container-selector=".cbr-page-layout__view"
             data-grid-fill-space-container-selector-top=".top-wrapper"

             data-grid-options="commonParamsGrid.options"
             data-grid-ctrl="commonParamsGrid.ctrl"
             data-ng-model="commonParamsGrid.value"
             id="commonParamsGrid"
             style="float: left; width: 100%;"></div>

</div>