<div class="filter-col w450" style=" width: 800px;">
    <div class="form-group" style=" height : 70px;  display: flex; align-items: center">
        <label style="width: 480px; margin-left: 25px; vertical-align: middle" class="control-label">{{::'title.acceptCommonParamsDefault'
            |
            translate}}</label>
    </div>
</div>

<div class="modal-footer">

    <button type="button" class="btn btn-danger" id="saveButton" style="width: 60px" data-ng-click="save()">
        <span data-translate-once="common.button.yes"></span>
    </button>
    <button type="button" class="btn btn-danger" id="closeButton" data-ng-click="close()">
        <span data-translate-once="DIALOGS_CANCELLATION"></span>
    </button>
</div>
