<form data-aplana-submit-valid="save()">
    <div class="modal-body">
        <div class="row-fluid" style="padding: 20px; display: flex; align-items: center;">
            <div class="span4">
                <label class="control-label">{{parameter.description}}:</label>
            </div>
            <div class="span8">
                <div data-aplana-field>
                    <input
                           data-ng-model="parameter.value"
                           value={{parameter.value}}
                           type="text"
                           title="value"
                           data-ng-required="true"
                           style="width: 100%"/>
                    <div data-aplana-validator data-key='required'>{{::'common.validation.required' |
                        translate}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default iconed-btn" id="saveButton">
            <span data-translate-once="button.save"></span>
            <span class="btn-icon-ok"></span>
        </button>
        <button type="button" class="btn btn-default-nonBg iconed-btn" id="closeButton" data-ng-click="close()">
            <span data-translate-once="button.cancel"></span>
            <span class="btn-icon-noneBg-close"></span>
        </button>
    </div>
</form>