<div class="flex-column">
    <div class="content-header flex-row">
        <h1 class="flex-column" style="flex-grow: 1">{{::'transportMessages.title' | translate}}</h1>
        <div class="flex-column" style="padding-right: 5px" >
            <!--Выгрузить в Excel-->
            <span>
                        <button id="download-excel-button" type="button" class="btn btn-default"
                                data-bs-dropdown
                                data-placement="bottom-right"
                                data-ng-disabled="!user.hasRole(APP_CONSTANTS.USER_ROLE.N_ROLE_CONTROL_UNP, APP_CONSTANTS.USER_ROLE.N_ROLE_CONTROL_NS)">
                            <span>Выгрузить в Excel</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-block" role="menu"
                            aria-labelledby="download-excel-button">
                            <li role="menuitem">
                                <a ng-click="downloadExcelAll()">{{::'transportMessages.excelButton.all' | translate}}</a>
                            </li>
                            <li role="menuitem">
                                <a ng-class="searchFilter.isClear && transportMessageGrid.ctrl.getCountRecords() > 0 ? '' : 'disabled'"
                                   ng-click="downloadExcelByFilter()">{{::'transportMessages.excelButton.byFilter' | translate}}</a>
                            </li>
                            <li role="menuitem">
                                <a ng-class="transportMessageGrid.value.length > 0 ? '' : 'disabled'"
                                   ng-click="downloadExcelBySelected()">{{::'transportMessages.excelButton.selected' | translate}}</a>
                            </li>
                        </ul>
              </span>
        </div>
    </div>

    <div id="transportMessageGridContainer"
         class="container-grid box-shadow-block flex-fill flex-column"
         style="overflow-y: auto;">
        <div id="transportMessageGridTop" style="flex-shrink: 0;">
            <!--Фильтр-->
            <span data-ng-include="'client/app/administration/transportMessage/transportMessageJournalFilter.html'"></span>

            <div class="btn-toolbar" role="toolbar">
                <!-- Кнопка "Открыть" -->
                <span>
                    <button type="button"
                            class="btn btn-default"
                            data-ng-click="openMessage(transportMessageGrid.value[0])"
                            data-ng-disabled="transportMessageGrid.value.length !== 1">
                        <span data-translate-once="button.open"></span>
                    </button>
                </span>
            </div>
        </div>

        <!-- Таблица -->
        <div class="flex-grid flex-fill"
             style="min-height: calc(100% - 100px);"
             data-aplana-grid
             data-grid-fill-space="true"
             data-grid-fill-space-container-selector="#transportMessageGridContainer"
             data-grid-fill-space-container-selector-top="#transportMessageGridTop"
             data-grid-options="transportMessageGrid.options"
             data-grid-ctrl="transportMessageGrid.ctrl"
             data-ng-model="transportMessageGrid.value"
             id="transportMessageTable">
        </div>
    </div>
</div>
