<div class="modal-header">
    <button type="button" class="close" data-ng-click="close()">×</button>
    <h4 class="modal-title">
        <span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{title}}
    </h4>
</div>
<div class="modal-body">
    <div class="form-horizontal">

        <div class="row">
            <div class="filter-col w450">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="control-label">{{::'reportPeriod.modal.deadline' | translate}}:</label>
                    </div>
                    <div class="col-md-8">
                        <date-picker model="filter.deadline"
                                     style="width:100px;">
                        </date-picker>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="control-label">{{::'title.department' | translate}}:</label>
                    </div>
                    <div class="col-md-8">
                        <div data-ng-controller="SelectDepartmentCtrl"
                             data-ui-select2="departmentsSelect.options"
                             data-ng-init="initSingleSelectWithAllDepartments()"
                             data-ng-model="filter.department"
                             style="width:250px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-danger" id="openButton" ng-click="save()">
        <span data-translate-once="button.create"></span>
    </button>
    <button type="button" class="btn btn-danger" id="closeButton" ng-click="close()">
        <span data-translate-once="button.close"></span>
    </button>
</div>