<div class="modal-header">
    <button type="button" class="close" data-ng-click="close()">×</button>
    <h4 class="modal-title">
        <span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{title}}
    </h4>
</div>
<div class="modal-body" style="height: 320px; width: 400px">
    <div class="form-horizontal">
        <table class="horizontal-input-table gray-label-table auto-width-uneditable-input-table nowrap-label-table tetete">
            <tbody>
            <tr>
                <td>
                    <label class="control-label">{{::'reportPeriod.department' |
                        translate}}:</label>
                </td>
                <td>
                    {{department.name}}
                    <!--<div data-aplana-field>-->
                        <!--<div data-ng-controller="SelectDepartmentCtrl"-->
                             <!--data-ui-select2="departmentsSelect.options"-->
                             <!--data-ng-init="initSelectWithAllDepartments()"-->
                             <!--data-ng-model="department"-->
                             <!--id="department"-->
                             <!--data-ng-required="true">-->
                        <!--</div>-->
                    <!--</div>-->
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label" for="period.reportPeriod.taxPeriod.year">{{::'reportPeriod.modal.year'
                        | translate
                        }}:</label>
                </td>
                <td>
                    <div data-aplana-field>
                        <input data-ng-model="period.reportPeriod.taxPeriod.year"
                               type="number"
                               class="form-control"
                               style="width: 75px"
                               id="period.reportPeriod.taxPeriod.year"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label" for="period_reportperiod_name">{{::'reportPeriod.grid.period' |
                        translate}}:</label>
                </td>
                <td>
                    <div data-aplana-field>
                        <input type="text"
                               disabled
                               class="form-control"
                               style="width: 150px; float: none;"
                               data-ng-model="period.reportPeriod.name"
                               id="period_reportperiod_name"/>
                        <input type="button"
                               class="btn btn-default"
                               data-ng-click="openPeriodType()"
                               value="{{::'button.select' | translate}}"/>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-danger" id="openButton" ng-click="save()" data-ng-if="isAdd">
        <span data-translate-once="button.create"></span>
    </button>
    <button type="submit" class="btn btn-danger" id="editButton" ng-click="save()" data-ng-if="!isAdd">
        <span data-translate-once="button.edit"></span>
    </button>
    <button type="button" class="btn btn-danger" id="closeButton" ng-click="close()">
        <span data-translate-once="button.close"></span>
    </button>
</div>