<form class="form-horizontal" data-aplana-submit-valid="save()">
    <div class="modal-body" style="height: 320px; width: 400px">
        <table class="horizontal-input-table gray-label-table auto-width-uneditable-input-table nowrap-label-table tetete">
            <tbody>
            <tr>
                <td>
                    <label class="control-label">{{::'reportPeriod.department' |
                        translate}}:</label>
                </td>
                <td>
                    {{department.name}}
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label" for="period.reportPeriod.taxPeriod.year">{{::'reportPeriod.modal.year'
                        | translate
                        }}:</label>
                </td>
                <td>
                    <div data-aplana-field>
                        <input data-ng-model="period.reportPeriod.taxPeriod.year"
                               type="number"
                               class="form-control"
                               style="width: 75px"
                               id="period.reportPeriod.taxPeriod.year"
                               data-ng-required="true"
                               max="2099"
                               min="1900"
                        />
                        <div data-aplana-validator data-key='required'>{{::'field.ndfl.requiredField' |
                            translate}}
                        </div>
                        <div data-aplana-validator data-key="pattern">{{::'common.validation.year' |
                            translate}}
                        </div>
                        <div data-aplana-validator data-key='min'>
                            {{:: 'common.validation.min.value' | translate:'{ minValue: ' +
                            1900 + ' }'}}
                        </div>
                        <div data-aplana-validator data-key='max'>
                            {{:: 'common.validation.max.value' | translate:'{ maxValue: ' +
                            2099 + ' }'}}
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">{{::'reportPeriod.grid.period' |
                        translate}}:</label>
                </td>
                <td>
                    <div data-aplana-field>
                        <div style="width: 355px;" data-ng-controller="SelectCorrectPeriodCtrl"
                             data-ui-select2="periodSelect.options"
                             data-ng-init="initReportPeriodType()"
                             data-ng-model="period.reportPeriod.dictPeriod"
                             data-ng-required="true">
                        </div>
                        <div data-aplana-validator data-key='required'>{{::'field.ndfl.requiredField' |
                            translate}}
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default" id="openButton" data-ng-if="isAdd">
            <span data-translate-once="reportPeriod.pils.openPeriod"></span>
        </button>
        <button type="submit" class="btn btn-default" id="editButton" data-ng-if="!isAdd">
            <span data-translate-once="reportPeriod.pils.editPeriod"></span>
        </button>
        <button type="button" class="btn btn-default" id="closeButton" ng-click="close()">
            <span data-translate-once="button.close"></span>
        </button>
    </div>
</form>
