<form class="form-horizontal" data-aplana-submit-valid="save()">
    <div class="modal-body">
        <table class="horizontal-input-table gray-label-table auto-width-uneditable-input-table nowrap-label-table tetete">
            <tbody>
            <tr>
                <td>
                    <label class="control-label">{{::'reportPeriod.department' |
                        translate}}:</label>
                </td>
                <td>
                    {{form.department.name}}
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">{{::'reportPeriod.correctionPeriod' |
                        translate}}:</label>
                </td>
                <td>
                    {{form.reportPeriod}}
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label" for="correctionDate">{{::'reportPeriod.grid.correctionDate' |
                        translate}}:</label>
                </td>
                <td style="margin-left: 10px">
                    <div data-aplana-field>
                        <div id="correctionDate"
                             data-aplana-datepicker
                             data-ng-model="form.correctionDate"
                             data-ng-required="true"></div>
                        <div data-aplana-validator data-key='required'>
                            {{:: 'common.validation.required' | translate}}
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default iconed-btn" id="openButton">
            <span data-translate-once="button.open"></span>
            <span class="btn-icon-ok"></span>
        </button>
        <button type="button" class="btn btn-default-nonBg iconed-btn" id="closeButton" ng-click="close()">
            <span data-translate-once="button.cancel"></span>
            <span class="btn-icon-noneBg-close"></span>
        </button>
    </div>
</form>