<form class="form-horizontal" data-aplana-submit-valid="save()">
    <div class="modal-body">

        <table class="horizontal-input-table">

            <tr>
                <td>
                    <label class="control-label">{{::'reportPeriod.modal.deadline' | translate}}:</label>
                </td>
                <td>
                    <div data-aplana-field>
                        <div data-aplana-datepicker
                             data-ng-model="filter.deadline"
                             data-ng-required="true"></div>
                        <div data-aplana-validator data-key='required'>
                            {{:: 'common.validation.required' | translate}}
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <label class="control-label">{{::'title.department' | translate}}:</label>
                </td>
                <td>
                    <div data-aplana-field>
                        <div data-ng-controller="SelectDepartmentCtrl"
                             data-ui-select2="departmentsSelect.options"
                             data-ng-init="initSingleSelectWithAllDepartments()"
                             data-ng-model="filter.department"
                             style="width:220px;"
                             data-ng-required="true">
                        </div>
                        <div data-aplana-validator data-key='required'>{{::'field.ndfl.requiredField' |
                            translate}}
                        </div>
                    </div>
                </td>
            </tr>

        </table>

    </div>
    <div class="modal-footer" style="text-align: left">
        <div style="width: 100%">
            <div data-ng-show="isEdit" style="text-align: left; float: left">
                <button type="submit" class="btn btn-default iconed-btn" id="saveButton">
                    <span data-translate-once="button.create"></span>
                    <span class="btn-icon-ok"></span>
                </button>
                <button type="button" class="btn btn-default" id="cancelButton" ng-click="cancel()">
                    <span data-translate-once="button.cancel"></span>
                </button>
            </div>
            <div style="text-align: right">
                <button type="button" class="btn btn-default-nonBg iconed-btn" id="closeButton" ng-click="close()">
                    <span data-translate-once="button.close"></span>
                    <span class="btn-icon-noneBg-close"></span>
                </button>
            </div>
        </div>
    </div>
</form>