<form class="form-horizontal" name="createReportForm" data-aplana-submit-valid="save()">
    <div class="modal-body">
        <table class="horizontal-input-table gray-label-table auto-width-uneditable-input-table nowrap-label-table">
            <colgroup>
                <col style="width:35%">
                <col style="width:65%">
            </colgroup>
            <tbody>
            <!--Подразделение-->
            <tr>
                <td>
                    <label class="control-label">{{::'createReport.department' | translate}}:</label>
                </td>
                <td>
                    <div data-ng-if="knf">
                        <label class="bold-text">{{knf.department}}</label>
                    </div>
                    <div data-ng-if="!knf">
                        <div data-aplana-field>
                            <div style="width: 375px;" data-ng-controller="SelectDepartmentCtrl"
                                 data-ui-select2="departmentsSelect.options"
                                 data-ng-init="initAvailableTBSelect(reportData)"
                                 data-ng-model="reportData.department"
                                 data-required>
                            </div>
                            <div data-aplana-validator data-key='required'>
                                {{::'common.validation.required' | translate}}
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <!--Период-->
            <tr>
                <td>
                    <label class="control-label">{{::'createReport.period' | translate}}:</label>
                </td>
                <td>
                    <div data-ng-if="knf">
                        <label class="bold-text" data-ng-bind-html="knf | ndflPeriodFormatter"></label>
                    </div>
                    <div data-ng-if="!knf">
                        <div data-aplana-field>
                            <div style="width: 375px;" data-ng-controller="SelectPeriodCtrl"
                                 data-ui-select2="periodSelect.options"
                                 data-ng-init="initSelectWithOpenDepartmentPeriods('reportData.department', 'reportData.period')"
                                 data-ng-model="reportData.period"
                                 data-ng-disabled="!reportData.department"
                                 data-required>
                            </div>
                            <div data-aplana-validator data-key='required'>
                                {{::'common.validation.required' | translate}}
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <!--Вид отчетности-->
            <tr>
                <td>
                    <label class="control-label">{{::'createReport.reportType' | translate}}:</label>
                </td>
                <td>
                    <div data-aplana-field>
                        <div style="width: 375px;" data-ng-controller="SelectDeclarationTypeCtrl"
                             data-ui-select2="declarationTypeSelect.options"
                             data-ng-model="reportData.declarationType"
                             data-ng-init="initSelectWithReportDeclarationTypesForCreate(knf,  'reportData.department', 'reportData.period')"
                             data-ng-disabled="!reportData.department || !reportData.period"
                             data-required>
                        </div>
                        <div data-aplana-validator data-key='required'>
                            {{::'common.validation.required' | translate}}
                        </div>
                    </div>
                </td>
            </tr>
            <!--Отрицательные значения Раздела 2-->
            <tr data-ng-if="reportData.declarationType && reportData.declarationType.id === APP_CONSTANTS.DECLARATION_TYPE.REPORT_6_NDFL.id">
                <td>
                    <label class="control-label" style="white-space: normal">{{::'createReport.section2Negative' |
                        translate}}:</label>
                </td>
                <td>
                    <div data-aplana-field>
                        <div style="width: 375px;" data-ng-controller="SelectFromArrayCtrl"
                             data-ui-select2="selectFromArray.options"
                             data-ng-model="reportData.negativeValuesAdjustment"
                             data-ng-init="initBasicSingleSelectFromArray(APP_CONSTANTS.NEGATIVE_VALUE_ADJUSTMENT)">
                        </div>
                    </div>
                </td>
            </tr>
            <!--Возвращенный налог-->
            <tr data-ng-if="reportData.declarationType && reportData.declarationType.id === APP_CONSTANTS.DECLARATION_TYPE.REPORT_6_NDFL.id">
                <td>
                    <label class="control-label" style="white-space: normal">
                        {{::'createReport.taxRefund' | translate}}:
                    </label>
                </td>
                <td>
                    <div data-aplana-field>
                        <div style="width: 375px;" data-ng-controller="SelectFromArrayCtrl"
                             data-ui-select2="selectFromArray.options"
                             data-ng-init="initBasicSingleSelectFromArray(APP_CONSTANTS.TAX_REFUND_REFLECT_MODE)"
                             data-ng-model="reportData.taxRefundReflectionMode"
                             data-required>
                        </div>
                        <div data-aplana-validator data-key='required'>
                            {{::'common.validation.required' | translate}}
                        </div>
                    </div>
                </td>
            </tr>
            <!--Формировать отчетность-->
            <tr data-ng-if="reportData.declarationType && reportData.declarationType.id === APP_CONSTANTS.DECLARATION_TYPE.REPORT_6_NDFL.id">
                <td>
                    <label class="control-label" style="white-space: normal">
                        {{::'createReport.reportFormCreateType' | translate}}:
                    </label>
                </td>
                <td>
                    <div data-aplana-field>
                        <div style="width: 375px;" data-ng-controller="SelectFromArrayCtrl"
                             data-ui-select2="selectFromArray.options"
                             data-ng-init="initBasicSingleSelectFromArray(APP_CONSTANTS.REPORT_FORM_CREATION_MODE)"
                             data-ng-model="reportData.reportFormCreationMode"
                             data-required>
                        </div>
                        <div data-aplana-validator data-key='required'>
                            {{::'common.validation.required' | translate}}
                        </div>
                    </div>
                </td>
            </tr>
            <!--КПП/ОКТМО-->
            <tr data-ng-if="reportData.declarationType && reportData.declarationType.id === APP_CONSTANTS.DECLARATION_TYPE.REPORT_6_NDFL.id">
                <td>
                    <label class="control-label" style="white-space: normal">
                        {{::'createReport.kppOktmo' | translate}}:
                    </label>
                </td>
                <td>
                    <div data-aplana-field>
                        <div style="width: 375px;" data-ng-controller="SelectKppOktmoPairsCtrl"
                             data-ui-select2="kppOkmtoPairsSelect.options"
                             data-ng-model="reportData.kppOktmoPairs"
                             data-ng-init="initSelectKppOktmoPairsByParams('reportData.kppOktmoPairs', knf, 'reportData.department', 'reportData.period')">
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default iconed-btn">
            <span data-translate-once="button.create"></span>
            <span class="btn-icon-ok"></span>
        </button>
        <button type="button" class="btn btn-default-nonBg iconed-btn" id="cancelButton" ng-click="cancel()">
            <span data-translate-once="button.cancel"></span>
            <span class="btn-icon-noneBg-close"></span>
        </button>
    </div>
</form>