<div class="flex-column">
    <div>
        <div class="content-header pull-left">
            <h1>{{::'header.ndflReportJournal.forms' | translate}}</h1>
        </div>
        <div class="pull-right" style="margin: 5px 10px 10px 0;">
            <button type="button" class="btn btn-default"
                    data-ng-click="createReport()"
                    data-ng-show="reportCreateAllowed">
                <span data-translate-once="ndflReportJournal.button.createReport"></span>
            </button>
        </div>
    </div>
    <div id="ndflReportJournal" class="container-grid box-shadow-block flex-fill flex-column" style="overflow-y: auto">
        <!-- Фильтр -->
        <div id="ndflReportJournalTop" style="flex-shrink: 0;">
            <span data-ng-include="'client/app/taxes/ndfl/reportForm/ndflReportJournalFilter.html'"></span>

            <!--Панель кнопок -->
            <div class="button_panel">
                <div class="btn-toolbar" role="toolbar">
                    <!--Проверить -->
                    <span>
                        <button type="button" class="btn btn-default"
                                data-ng-disabled="!checkPermissionForSelectedItems(APP_CONSTANTS.DECLARATION_PERMISSION.CHECK)"
                                data-ng-click="check()">
                            <span data-translate-once="button.check"></span>
                        </button>
                    </span>
                    <!--Принять -->
                    <span>
                        <button type="button" class="btn btn-default"
                                data-ng-disabled="!checkPermissionForSelectedItems(APP_CONSTANTS.DECLARATION_PERMISSION.ACCEPTED)"
                                data-ng-click="accept()">
                            <span data-translate-once="button.accept"></span>
                        </button>
                    </span>
                    <!--Вернуть в Создана -->
                    <span>
                        <button type="button" class="btn btn-default"
                                data-ng-disabled="!checkPermissionForSelectedItems(APP_CONSTANTS.DECLARATION_PERMISSION.RETURN_TO_CREATED)"
                                data-ng-click="returnToCreated()">
                            <span data-translate-once="button.return"></span>
                        </button>
                    </span>
                    <!--Удалить-->
                    <span>
                        <button type="button" class="btn btn-default"
                                data-ng-disabled="!checkPermissionForSelectedItems(APP_CONSTANTS.DECLARATION_PERMISSION.DELETE)"
                                data-ng-click="delete()">
                            <span data-translate-once="button.delete"></span>
                        </button>
                    </span>
                    <!--Выгрузить отчетность-->
                    <span>
                        <button id="download-reports-button" type="button" class="btn btn-default"
                                data-bs-dropdown
                                data-placement="bottom-left"
                                data-ng-disabled="!user.hasRole(APP_CONSTANTS.USER_ROLE.N_ROLE_CONTROL_UNP, APP_CONSTANTS.USER_ROLE.N_ROLE_CONTROL_NS)">
                            <span data-translate-once="ndflReportJournal.button.downloadReport"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-block" role="menu"
                            aria-labelledby="download-reports-button">
                            <li role="menuitem">
                                <a ng-class="ndflReportJournalGrid.ctrl.getCountRecords() > 0 ? '' : 'disabled'"
                                   ng-click="downloadReportsByFilter()">{{::'ndflReportJournal.button.byFilter' | translate}}</a>
                            </li>
                            <li role="menuitem">
                                <a ng-class="ndflReportJournalGrid.value.length > 0 ? '' : 'disabled'"
                                   ng-click="downloadReportsBySelected()">{{::'ndflReportJournal.button.selected' | translate}}</a>
                            </li>
                        </ul>
                    </span>
                    <!--Изменить состояние ЭД-->
                    <span>
                        <button id="update-doc-state-button" type="button" class="btn btn-default"
                                data-bs-dropdown
                                data-placement="bottom-left">
                            <span data-translate-once="ndflReportJournal.button.updateDocState"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-block" role="menu"
                            aria-labelledby="update-doc-state-button">
                            <li role="menuitem">
                                <a ng-class="ndflReportJournalGrid.ctrl.getCountRecords() > 0 ? '' : 'disabled'"
                                   ng-click="updateDocStateByFilter()">{{::'ndflReportJournal.button.byFilter' | translate}}</a>
                            </li>
                            <li role="menuitem">
                                <a ng-class="ndflReportJournalGrid.value.length > 0 ? '' : 'disabled'"
                                   ng-click="updateDocStateBySelected()">{{::'ndflReportJournal.button.selected' | translate}}</a>
                            </li>
                        </ul>
                    </span>
                    <!--Отправить в ЭДО-->
                    <!-- Скрыл для версии 3.8-->
                    <span>
                        <button id="send_edo-button" type="button" class="btn btn-default"
                                data-bs-dropdown
                                data-placement="bottom-left"
                                data-ng-show="false">
                            <span data-translate-once="ndflReportJournal.button.sendEdo"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-block" role="menu"
                            aria-labelledby="send_edo-button">
                            <li role="menuitem">
                                <a ng-class="ndflReportJournalGrid.ctrl.getCountRecords() > 0 ? '' : 'disabled'"
                                   ng-click="sendEdoByFilter()">{{::'ndflReportJournal.button.byFilter' | translate}}</a>
                            </li>
                            <li role="menuitem">
                                <a ng-class="ndflReportJournalGrid.value.length > 0 ? '' : 'disabled'"
                                   ng-click="sendEdoBySelected()">{{::'ndflReportJournal.button.selected' | translate}}</a>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
        <div class="flex-grid flex-fill" style="min-height: calc(100% - 100px);"
             data-aplana-grid
             data-grid-fill-space="true"
             data-grid-store-page-settings="true"
             data-grid-fill-space-container-selector="#ndflReportJournal"
             data-grid-fill-space-container-selector-top="#ndflReportJournalTop"
             data-grid-options="ndflReportJournalGrid.options"
             data-grid-ctrl="ndflReportJournalGrid.ctrl"
             data-ng-model="ndflReportJournalGrid.value"
             id="ndflReportJournalTable"></div>
    </div>
</div>