<div id="ndflReport" class="flex-column">
    <div>
        <!--Заголовок-->
        <div data-ng-show="declarationData.declarationType === APP_CONSTANTS.DECLARATION_TYPE.REPORT_2_NDFL_FL.id" class="content-header pull-left">
            <h1><a href="index.html#/taxes/2ndflFLJournal">{{::'move_back' |
                translate}}</a>— {{declarationTypeName}}, №{{declarationDataId}}</h1>
        </div>
        <div data-ng-show="declarationData.declarationType !== APP_CONSTANTS.DECLARATION_TYPE.REPORT_2_NDFL_FL.id" class="content-header pull-left">
            <h1><a href="index.html#/taxes/ndflReportJournal">{{::'move_back' |
                translate}}</a>— {{declarationTypeName}}, №{{declarationDataId}}</h1>
        </div>
        <!--Формирование отчетов-->
        <div class="w200 pull-right" style="margin: 5px 10px 10px 0;">
            <div class="btn-group" style="float: right;">
                <button id="single-button" type="button" class="btn btn-default-nonBg"
                        data-bs-dropdown
                        data-placement="bottom-right">
                    <span data-translate-once="link.ndfl.reporting"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                    <li role="menuitem"
                        ng-if="availableXml && declarationData.declarationType !== APP_CONSTANTS.DECLARATION_TYPE.REPORT_2_NDFL_FL.id">
                        <div class="row menuitem">
                            <a ng-click="downloadXml()">{{::'link.ndfl.reporting.uploadXml' | translate}}</a>
                        </div>
                    </li>
                    <li role="menuitem">
                        <div class="row menuitem">
                            <a ng-click="createPdf()" ng-show="!availablePdf">{{::'link.ndfl.reporting.createPdf' |
                                translate}}</a>
                            <a ng-click="downloadPdf()" ng-show="availablePdf">{{::'link.ndfl.reporting.downloadPdf' |
                                translate}}</a>
                        </div>
                    </li>
                    <li role="menuitem"
                        ng-if="declarationData.declarationType == APP_CONSTANTS.DECLARATION_TYPE.REPORT_2_NDFL_2.id || declarationData.declarationType == APP_CONSTANTS.DECLARATION_TYPE.REPORT_2_NDFL_1.id">
                        <div class="row menuitem"
                             ng-if="declarationData.declarationType == APP_CONSTANTS.DECLARATION_TYPE.REPORT_2_NDFL_2.id">
                            <a ng-click="createReportNdflByPersonReport()">{{::'link.ndflReport.reporting.formForFL22' |
                                translate}}</a>
                        </div>
                        <div class="row menuitem"
                             ng-if="declarationData.declarationType == APP_CONSTANTS.DECLARATION_TYPE.REPORT_2_NDFL_1.id">
                            <a ng-click="createReportNdflByPersonReport()">{{::'link.ndflReport.reporting.formForFL21' |
                                translate}}</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="box-shadow-block flex-fill flex-column">
        <div class="grid-filter"
             style="min-width: 100%; background: #ffffff; padding-bottom: 1px;">
            <div class="header-col " style="float: right; margin-top: 10px;">
                <!-- ссылка на модальное окно измениий по налоговой форме -->
                <button type="button" class="btn btn-default-nonBg" style="float: right;"
                        data-ng-click="openHistoryOfChange()">
                    <span data-translate-once="link.ndfl.historyOfChange"></span>
                </button>
                <button type="button" class="btn btn-default-nonBg" style="margin: 0 13px; float: right;"
                        ng-if="declarationData.declarationType !== APP_CONSTANTS.DECLARATION_TYPE.REPORT_2_NDFL_FL.id"
                        data-ng-click="filesAndComments()"
                        data-ng-disabled="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.VIEW)">
                    <span data-translate-once="link.ndfl.filesAndComment"></span>
                </button>
                <button type="button" class="btn btn-default-nonBg" style="float: right;"
                        data-ng-click="showSourcesClick()">
                    <span data-translate-once="link.ndfl.sources"></span>
                </button>
            </div>
            <div data-aplana-collapse data-is-collapsed="false" data-label="'infoPanelLabel' | translate"
                 style="padding: 0 12px 0 12px;">
                <!--Основная информация-->
                <div class="form-horizontal header-details">
                    <div class="row-fluid info-wrapper">
                        <div class="span3">
                            <div class="row-fluid">
                                <div class="span5">
                                    <label class="control-label">{{::'title.department' | translate}}:</label>
                                </div>
                                <div class="span7">
                                    <label class="font-normal info-text">{{declarationData.department}}</label>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span5">
                                    <label class="control-label">{{::'title.formNumber' | translate}}:</label>
                                </div>
                                <div class="span7">
                                    <label class="font-normal info-text">{{declarationDataId}}</label>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span5">
                                    <label class="control-label">{{::'title.period' | translate}}:</label>
                                </div>
                                <div class="span7">
                                    <label class="font-normal info-text"
                                           data-ng-bind-html="declarationData | ndflPeriodFormatter"></label>
                                </div>
                            </div>
                            <div class="row-fluid"
                                 ng-if="declarationData.declarationType == APP_CONSTANTS.DECLARATION_TYPE.REPORT_6_NDFL.id">
                                <div class="span5">
                                    <label class="control-label">{{::'title.negativeIncome' | translate}}:</label>
                                </div>
                                <div class="span7">
                                    <label class="font-normal info-text">{{declarationData.negativeIncome}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="span3" style="margin: 0;">
                            <div class="row-fluid">
                                <div class="span6">
                                    <label class="control-label">{{::'title.state' | translate}}:</label>
                                </div>
                                <div class="span6">
                                    <label class="font-normal info-text">{{declarationData.state}}</label>
                                </div>
                            </div>
                            <div class="row-fluid"
                                 ng-if="declarationData.declarationType !== APP_CONSTANTS.DECLARATION_TYPE.REPORT_2_NDFL_FL.id">
                                <div class="span6">
                                    <label class="control-label">{{::'title.stateDoc' | translate}}:</label>
                                </div>
                                <div class="span6">
                                    <label class="font-normal info-text">{{declarationData.docState}}</label>
                                </div>
                            </div>
                            <div class="row-fluid"
                                 ng-if="declarationData.declarationType !== APP_CONSTANTS.DECLARATION_TYPE.REPORT_2_NDFL_FL.id">
                                <div class="span6">
                                    <label class="control-label">{{::'title.correctionNum' | translate}}:</label>
                                </div>
                                <div class="span6">
                                    <label class="font-normal info-text">{{declarationData.correctionNum}}</label>
                                </div>
                            </div>
                            <div class="row-fluid"
                                 ng-if="declarationData.declarationType == APP_CONSTANTS.DECLARATION_TYPE.REPORT_6_NDFL.id">
                                <div class="span6">
                                    <label class="control-label">{{::'title.negativeTax' | translate}}:</label>
                                </div>
                                <div class="span6">
                                    <label class="font-normal info-text">{{declarationData.negativeTax}}</label>
                                </div>
                            </div>
                            <div class="row-fluid"
                                 ng-if="declarationData.declarationType == APP_CONSTANTS.DECLARATION_TYPE.REPORT_2_NDFL_FL.id">
                                <div class="span6">
                                    <label class="control-label">{{::'title.person' | translate}}:</label>
                                </div>
                                <div class="span6"
                                     ng-if="permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.PERSON_VIEW)">
                                    <a class="font-normal info-text" href="{{'index.html#/personRegistry/personCard/' + declarationData.personId}}" target="_blank">{{declarationData.person}}</a>
                                </div>
                                <div class="span6"
                                     ng-if="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.PERSON_VIEW)">
                                    <label class="font-normal info-text">{{declarationData.person}}</label>
                                </div>
                            </div>
                            <div class="row-fluid"
                                 ng-if="declarationData.declarationType == APP_CONSTANTS.DECLARATION_TYPE.REPORT_2_NDFL_FL.id">
                                <div class="span6">
                                    <label class="control-label">{{::'title.signatory' | translate}}:</label>
                                </div>
                                <div class="span6">
                                    <label class="font-normal info-text">{{declarationData.signatory}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="span3" style="margin: 0;">
                            <div class="row-fluid">
                                <div class="span6">
                                    <label class="control-label">{{::'title.kpp' | translate}}:</label>
                                </div>
                                <div class="span6">
                                    <label class="font-normal info-text">{{declarationData.kpp}}</label>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span6">
                                    <label class="control-label">{{::'title.oktmo' | translate}}:</label>
                                </div>
                                <div class="span6">
                                    <label class="font-normal info-text">{{declarationData.oktmo}}</label>
                                </div>
                            </div>
                            <div class="row-fluid"
                                 ng-if="declarationData.declarationType !== APP_CONSTANTS.DECLARATION_TYPE.REPORT_2_NDFL_FL.id">
                                <div class="span6">
                                    <label class="control-label">{{::'title.codeNO' | translate}}:</label>
                                </div>
                                <div class="span6">
                                    <label class="font-normal info-text">{{declarationData.taxOrganCode}}</label>
                                </div>
                            </div>
                            <div class="row-fluid"
                                 ng-if="declarationData.declarationType == APP_CONSTANTS.DECLARATION_TYPE.REPORT_6_NDFL.id">
                                <div class="span6">
                                    <label class="control-label">{{::'title.negativeSumsSign' | translate}}:</label>
                                </div>
                                <div class="span6">
                                    <label class="font-normal info-text"
                                           data-ng-bind-html="declarationData.negativeSumsSign | negativeSumsSignFormatter"></label>
                                </div>
                            </div>
                        </div>
                        <div class="span3" style="margin: 0;">
                            <div class="row-fluid">
                                <div class="span6">
                                    <label class="control-label">{{::'title.creator' | translate}}:</label>
                                </div>
                                <div class="span6">
                                    <label class="font-normal info-text">{{declarationData.creationUserName}}</label>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span6">
                                    <label class="control-label">{{::'title.dateAndTimeCreate' | translate}}:</label>
                                </div>
                                <div class="span6">
                                    <label class="font-normal info-text">{{declarationData.creationDate |
                                        dateTimeFormatter}}</label>
                                </div>
                            </div>
                            <div class="row-fluid"
                                 ng-if="declarationData.declarationType == APP_CONSTANTS.DECLARATION_TYPE.REPORT_6_NDFL.id">
                                <div class="span6 control-label-no-wrap1600">
                                    <label class="control-label">{{::'title.adjustNegativeValues' | translate}}:</label>
                                </div>
                                <div class="span6">
                                    <label class="font-normal info-text">{{('negativeValuesAdjustment.' +
                                        !!declarationData.adjustNegativeValues) | translate}}</label>
                                </div>
                            </div>
                            <div class="row-fluid"
                                 ng-if="declarationData.declarationType == APP_CONSTANTS.DECLARATION_TYPE.REPORT_6_NDFL.id">
                                <div class="span6">
                                    <label class="control-label">{{::'title.taxRefund' | translate}}:</label>
                                </div>
                                <div class="span6">
                                    <label class="font-normal info-text">{{declarationData.taxRefundReflectionMode |
                                        taxRefundReflectModeEnumFormatter}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Панель кнопок -->
            <div class="button_panel" style="padding: 10px 12px 0;">
                <div class="btn-toolbar" role="toolbar">
                    <!--Проверить -->
                    <span ng-if="declarationData.declarationType !== APP_CONSTANTS.DECLARATION_TYPE.REPORT_2_NDFL_FL.id">
                        <button type="button" class="btn btn-default"
                                data-ng-click="check()"
                                data-ng-disabled="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.CHECK)">
                            <span data-translate-once="button.check"></span>
                        </button>
                    </span>
                    <!--Принять -->
                    <span ng-if="declarationData.declarationType !== APP_CONSTANTS.DECLARATION_TYPE.REPORT_2_NDFL_FL.id">
                        <button type="button" class="btn btn-default"
                                data-ng-click="accept()"
                                data-ng-disabled="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.ACCEPTED)">
                            <span data-translate-once="button.accept"></span>
                        </button>
                    </span>
                    <!--Вернуть в Создана -->
                    <span ng-if="declarationData.declarationType !== APP_CONSTANTS.DECLARATION_TYPE.REPORT_2_NDFL_FL.id">
                        <button type="button" class="btn btn-default"
                                data-ng-click="returnToCreated()"
                                data-ng-disabled="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.RETURN_TO_CREATED)">
                            <span data-translate-once="button.return"></span>
                        </button>
                    </span>
                    <!--Удалить-->
                    <span>
                        <button type="button" class="btn btn-default"
                                data-ng-click="delete()"
                                data-ng-disabled="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.DELETE)">
                            <span data-translate-once="button.delete"></span>
                        </button>
                    </span>
                    <!-- Показать -->
                    <span ng-if="declarationData.declarationType !== APP_CONSTANTS.DECLARATION_TYPE.REPORT_2_NDFL_FL.id">
                        <button type="button" class="btn btn-default"
                                data-ng-click="createPdf()"
                                data-ng-disabled="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.SHOW) || availablePdf">
                            <span data-translate-once="button.show"></span>
                        </button>
                    </span>
                    <!-- Изменить состояние ЭД -->
                    <span ng-if="declarationData.declarationType !== APP_CONSTANTS.DECLARATION_TYPE.REPORT_2_NDFL_FL.id">
                        <button type="button" class="btn btn-default"
                                data-ng-click="updateDocState()"
                                data-ng-disabled="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.UPDATE_DOC_STATE)">
                            <span data-translate-once="ndflReportJournal.button.updateDocState"></span>
                        </button>
                    </span>
                    <!-- Отправить в ЭДО -->
                    <span data-ng-if="documentsSendingEnabled == 1 && !isCurrentForm2NDFLFL">
                        <button type="button" class="btn btn-default"
                                data-ng-click="sendEdo()"
                                data-ng-disabled="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.UPDATE_DOC_STATE)">
                            <span data-translate-once="ndflReportJournal.button.sendEdo"></span>
                        </button>
                    </span>
                    <!-- Аннулирующая 2-НДФЛ -->
                    <span data-ng-if="isCurrentForm2NDFL_1_OR_2">
                        <button type="button" class="btn btn-default"
                                data-ng-click="create2NDFL()"
                                data-ng-disabled="!user.hasRole(APP_CONSTANTS.USER_ROLE.N_ROLE_CONTROL_UNP, APP_CONSTANTS.USER_ROLE.N_ROLE_CONTROL_NS)">
                            <span data-translate-once="ndflReportJournal.button.create2ndfl"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="flex-fill"
             style="display: flex;  align-items: flex-start;  align-content: flex-start;  flex-shrink: 0;  width: 100%;">
            <div ng-if="!availablePdf">
                <div style="min-height: 600px; text-align: center" class="report-wrapper">
                    <h1>{{pdfMessage}}</h1>
                </div>
            </div>
            <div ng-if="availablePdf" class="flex-column" style="width: 100%;  flex-shrink: 0;">
                <div class="flex-fill"
                     style="overflow: auto; width: 100%; padding: 10px 12px 0; background-color: lightgray; text-align: center">
                    <img id="pdfImage" style="width: 793px; height: auto; margin: 0 auto;" ng-src="{{reportImage}}">
                </div>
                <div style="text-align: center; border-top: 1px solid #ccc; padding-top: 7px;">
                    <div data-resizer
                         data-element-selector="#pdfImage">
                    </div>
                    <div data-app-pager style="float: right;"
                         data-on-page-change="onPageChange()"
                         data-ng-model="pager"
                         data-pages-total="pagesTotal">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>