<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aplana.sbrf.taxaccounting.dao.mapper.DepartmentMapper">
	<resultMap type="com.aplana.sbrf.taxaccounting.model.Department" id="departmentMap">
		<result property="id"/>
		<result property="name"/>
		<result property="parentId" column="parent_id"/>
		<result property="type"/>
        <result property="sbrfCode" column="sbrf_code"/>
        <result property="shortname"/>
        <result property="tbIndex" column="tb_index"/>
	</resultMap>
</mapper>