<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aplana.sbrf.taxaccounting.dao.mapper.ReportPeriodMapper">
    <resultMap type="com.aplana.sbrf.taxaccounting.model.ReportPeriod" id="reportPeriodMap">
        <result property="id"/>
        <result property="name"/>
        <result property="active" column="is_active"/>
        <result property="months"/>
        <result property="taxPeriodId" column="tax_period_id"/>
        <result property="order" column="ord"/>
        <result property="balancePeriod" column="is_balance_period"/>
    </resultMap>
</mapper>