<div class="accordion">
    <div class="accordion-group"
         data-ng-repeat="accordion in accordionsModel"
         data-aplana-accordion-group data-accordion-group-model="accordion">
        <div class="accordion-heading">
            <a class="accordion-toggle collapsed" unselectable="on">{{accordion.title}}</a>
        </div>

        <div class="accordion-body collapse">
            <div class="accordion-inner">
                <div ng-switch="$getContent(accordion)">
                    <div ng-switch-when="content">
                        <div data-ng-bind="accordion.content"></div>
                    </div>
                    <div ng-switch-when="htmlContent">
                        <div data-ng-bind-html="accordion.htmlContent"></div>
                    </div>
                    <div ng-switch-default>
                        <div data-ng-include="accordion.contentUrl"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
