<form class="flex-column" id="personCardForm" name="personCardForm" data-aplana-submit-valid="save()" novalidate>
    <div>
        <div class="content-header pull-left" data-ng-show="mode == 'VIEW'">
            <a href="index.html#/refbooks/registryFL">{{::'move_back' | translate}}</a>
            <h1>{{'— (' + person.recordId + ')' + (person.lastName ? ' ' + person.lastName:"") + (person.firstName ? ' '
                + person.firstName :"") + (person.middleName ? ' ' + person.middleName :"" ) +
                ', ' + (person.birthDate | dateFormatter) + (person.recordId !== person.oldId ?', ' +
                ('refBook.fl.table.label.duplicateString' | translate):'')}}</h1>
        </div>
        <div class="content-header pull-left" data-ng-show="mode == 'EDIT'">
            <h1>{{('refBook.fl.table.label.editing' | translate) + ' - (' + person.recordId + ') ' + person.lastName + ' ' + person.firstName + ' ' + person.middleName + ', ' + (person.birthDate | dateFormatter)}}</h1>
        </div>
        <div class="pull-right" style="margin: 5px 10px 10px 0;" data-ng-show="mode == 'VIEW'">
            <button data-ng-disabled="!userHasEditPermission" type="button" class="btn btn-default"
                    data-ng-click="editMode()">
                <span>{{:: 'refBook.fl.card.button.edit' | translate}}</span>
            </button>
        </div>
        <div class="pull-right" style="margin: 5px 10px 10px 0;" data-ng-show="mode == 'EDIT'">
            <button type="submit" class="btn btn-default iconed-btn">
                <span>{{:: 'refBook.fl.card.button.save' | translate}}</span>
                <span class="btn-icon-ok"></span>
            </button>
            <button type="button" class="btn btn-default-nonBg iconed-btn" id="cancelButton"
                    style="border: 1px solid #279238"
                    data-ng-click="cancel()">
                <span>{{:: 'refBook.fl.card.button.cancel' | translate}}</span>
                <span class="btn-icon-noneBg-close"></span>
            </button>
        </div>
    </div>

    <div class="info-wrapper" style="height: 50px;">
        <div style="display: inline-block;">
            <span style="margin-left: 20px;">{{::'refBook.fl.card.label.version' | translate}}</span>
            <span class="strong" style="margin-left: 5px;">{{person.id}}</span>
        </div>
        <div style="display: inline-block;">
            <span style="margin-left: 30px;">{{::'refBook.fl.card.label.versionFrom' | translate}}</span>
            <span class="strong" data-ng-show="mode == 'VIEW'" style="margin-left: 5px;">{{person.startDate | dateFormatter}}</span>
            <div data-ng-show="mode == 'EDIT'" style="display: inline-block; margin-left: 5px; width: 120px;">
                <div data-aplana-field>
                    <div data-aplana-datepicker
                         data-max-date="personParam.endDate"
                         data-ng-model="personParam.startDate"
                         required>
                    </div>
                    <div data-aplana-validator data-key='required'>{{::'common.validation.required' |
                        translate}}
                    </div>
                    <div data-aplana-validator data-key='versionDate'>{{::'refBook.versionDates.validates' |
                        translate}}
                    </div>
                </div>
            </div>
        </div>
        <div style="display: inline-block;">
            <span style="margin-left: 20px;">{{::'refBook.fl.card.label.versionTo' | translate}}</span>
            <span class="strong" data-ng-show="mode == 'VIEW'" style="margin-left: 5px;">
                {{person.endDate ? (person.endDate | dateFormatter) : " -"}}
            </span>
            <div data-ng-show="mode == 'EDIT'" style="display: inline-block; margin-left: 5px; width: 120px;">
                <div data-aplana-field>
                    <div data-aplana-datepicker
                         data-ng-model="personParam.endDate"
                         data-min-date="personParam.startDate">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="person_reg_tabs" class="tab-wrapper flex-fill" style="overflow: visible;"
         data-aplana-tabs="personRegTabsCtrl"
         data-tab-model="personRegTabs">
    </div>
</form>