<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 class="modal-title">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;{{dialog.header}}
    </h4>
</div>
<div class="modal-body">
    <form name="messageDialogForm" novalidate role="form">
        <span data-ng-include="'js/refbook/addFieldRow.html'" data-ng-repeat="field in dialogData.fields"></span>
        <ng-include src="dialog.bodyTemplate"></ng-include>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="save()"
            ng-disabled="(messageDialogForm.$dirty && messageDialogForm.$invalid) || messageDialogForm.$pristine || !saveButtonEnable">
        {{"DIALOGS_SAVE" | translate}}
    </button>
    <button type="button" class="btn btn-default" id="cancelButton" ng-click="cancel()">{{"DIALOGS_CANCEL" | translate}}</button>
</div>