<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 class="modal-title">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;{{header}}
    </h4>
</div>
<div class="modal-body">
    <div class="row">
        <mu-file-uploader required="required" label="{{label ? label : 'Выберите Excel-файл для загрузки'}}" model="uploader"></mu-file-uploader>
    </div>
</div>
<div class="modal-footer">
    <button
            type="button"
            class="btn btn-danger"
            id="selecButton"
            data-ng-disabled="saveButtonAvailable === undefined ? uploader.queue.length == 0 : !saveButtonAvailable"
            ng-click="save()">
        {{saveButtonLabel ? saveButtonLabel : 'Создать'}}
    </button>
    <button type="button" class="btn btn-default" id="cancelButton" ng-click="cancel()">Отменить</button>
</div>