<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 class="modal-title">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;{{header}}
    </h4>
</div>
<div class="modal-body">
    <form name="messageDialogForm" novalidate role="form">
        <div class="row">
            <mu-textarea label="{{msg}}" model="inputMessage" required="true"></mu-textarea>
        </div>
        <div class="row">
            <mu-file-uploader label="Прикрепить файл" model="uploader" required="true"></mu-file-uploader>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="save()"
            ng-disabled="(messageDialogForm.$dirty && messageDialogForm.$invalid) || messageDialogForm.$pristine || !inputMessage || uploader.queue.length == 0">
        {{"DIALOGS_CONTINUE" | translate}}
    </button>
    <button type="button" class="btn btn-default" id="cancelButton" ng-click="cancel()">{{"DIALOGS_CANCEL" | translate}}</button>
</div>