@CHARSET "UTF-8";

/**
 * Override default cell css from file com/google/gwt/user/cellview/client/CellTable.css 
 */
.cellTableWidget {
	background-color: #a9a5a2;
	border: none;
}

.cellTableFirstColumn {
    border-left: 1px solid #cfcfcf !important;
    border-bottom: 1px solid #cfcfcf;
}

.cellTableLastColumn {
	
}

a, a:visited, a:hover {
    color: #0000FF;
}

.cellTableFooter {
	border-bottom: 1px solid #9CC2EF;
	font-size: 12px;
	font-weight: normal;
	height: 4em;
	padding: 0 2px;
	text-shadow: none;
}

.cellTableHeader {
	font-size: 12px;
	font-weight: bold;
	height: 3em;
	padding: 0 2px;
	text-shadow: none;
	border: none;
	border-bottom: 1px solid #828282;
	border-right: 1px solid #828282;
    border-top: 1px solid #828282;
	color: white;
	background-color: #949494;
	text-align: left;
}

.cellTableCell {
    font-weight: normal;
	overflow: hidden;
	font-size: 11px;
	height: 10px;
	padding: 2px;
	color: #222222;
	border-top: none ;
    border-left: none;
	border-bottom: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
}

.cellTableFirstColumnFooter {
	
}

.cellTableFirstColumnHeader {
    border-left: 1px solid #828282 !important;
}

.cellTableLastColumnFooter {
	
}

.cellTableLastColumnHeader {
	
}

.cellTableSortableHeader {
	cursor: pointer;
	cursor: hand;
}

.cellTableSortableHeader:hover {
	
}

.cellTableSortedHeaderAscending {
	
}

.cellTableSortedHeaderDescending {
	
}

.cellTableEvenRow {
	background-color: #FFFFFF;
}

.cellTableEvenRowCell {
	background-color: #FFFFFF;
}

.cellTableOddRow {
	background-color: #F4F3F3;
}

.cellTableOddRowCell {
	background-color: #F4F3F3;
}

.cellTableHoveredRow {
	
}

.cellTableHoveredRowCell {
	
}

.cellTableKeyboardSelectedRow {
	background-color: #FFFFCC;
}

.cellTableKeyboardSelectedRowCell {
	background-color: #FFFFCC;
}

.cellTableSelectedRow {
	background-color: #FFFFCC;
	border: none;
}

.cellTableSelectedRowCell {
	background-color: #FFFFCC;
}

/**
 * The keyboard selected cell is visible over selection.
 */
.cellTableKeyboardSelectedCell {
	background-color: #9A9CFF;
	border-color: #373AD7;
}

.cellTableLoading {
	margin: 30px;
}