@CHARSET "UTF-8";

/**
 * Override default cell css from file com/google/gwt/user/cellview/client/DataGrid.css 
 */
.dataGridWidget {
    background-color: #a9a5a2;
    border: none;
}

.dataGridFirstColumn {
    border-left: 1px solid #cfcfcf !important;
    border-bottom: 1px solid #cfcfcf;
}

.dataGridLastColumn {
    /*padding-right: 20px !important;*/
}

.dataGridFooter {
	border-top: 2px solid #6f7277;
	padding: 3px 15px;
	text-align: left;
	color: #4b4a4a;
	text-shadow: #ddf 1px 1px 0;
	overflow: hidden;
	white-space: nowrap;
}

.dataGridHeader {
	font-size: 11px;
	font-weight: normal;
	height: 2em;
	padding: 0 2px;
	text-shadow: none;
	color: white;
	background-color: #959595;
    border: none;
    border-bottom: 1px solid #828282;
    border-right: 1px solid #828282;
    /*border-top: 1px solid #828282;*/
	text-align: center;
    word-wrap: break-word;
}

.dataGridCell {
	overflow: hidden;
    height: 14px;
	font-size: 11px;
    font-weight: normal;
	padding: 0 2px;
	color: #222222;
    border-top: none ;
    border-left: none;
    border-bottom: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    word-wrap: break-word;
}

.dataGridCell input {
	width: 100%;
    margin: 0;
    padding: 0 1px;
    border-width: 0;
    height: 12px;
    font-size:11px;
    outline: none;
}

.dataGridFirstColumnFooter {
	
}

.dataGridFirstColumnHeader {
    border-left: 1px solid #828282 !important;
}

.dataGridLastColumnFooter {
	
}

.dataGridLastColumnHeader {
	
}

.dataGridSortableHeader {
	cursor: pointer;
	cursor: hand;
}

.dataGridSortableHeader:hover {
	
}

.dataGridSortedHeaderAscending {
	
}

.dataGridSortedHeaderDescending {
	
}

.dataGridEvenRow {
	background-color: #FFFFFF;
}

.dataGridEvenRowCell {
	background-color: #FFFFFF;
}

.dataGridOddRow {
	background-color: #FBFAFA;
}

.dataGridOddRowCell {
	background-color: #FBFAFA;
}

.dataGridHoveredRow {

}

.dataGridHoveredRowCell {

}

.dataGridKeyboardSelectedRow {
	background-color: #FFFFCC;
}

.dataGridKeyboardSelectedRowCell {
	background-color: #FFFFCC;
}

/*.dataGridKeyboardSelectedRowCell .order {*/
    /*background-color: #444444 !important;*/
/*}*/

.dataGridSelectedRow {
    background-color: #FFFFCC;
    border-top: 1px solid !important;
    border-color: orange !important;
}

.dataGridSelectedRowCell {
    border-top: 1px solid !important;
    border-color: inherit !important;
}

/**
 * The keyboard selected cell is visible over selection.
 */
.dataGridKeyboardSelectedCell {
	background-color: #E4E4FF;
    border-left: 1px solid !important;
    border-top: 1px solid !important;
    border-color: #373AD7 !important;
}