<div class="modal-body" data-ng-bind-html="options.content">
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-ng-click="okBtnClick()"
            data-ng-bind="options.okBtnCaption" data-aplana-focus="true">
    </button>
    <button type="button" class="btn btn-default-nonBg" data-ng-click="noBtnClick()"
            data-ng-bind="options.noBtnCaption">
    </button>
    <button type="button" class="btn btn-default-nonBg " data-ng-bind="options.cancelBtnCaption"
            data-ng-click="cancelBtnClick()">
    </button>
</div>