/* Overrides style from ui.jqgrid.css, jquery-ui.css and new styles*/
.ui-jqgrid {
    border: 1px solid #C8C8C8;
}

.ui-jqgrid .ui-jqgrid-titlebar {
    padding: 2px 0;
}

.ui-jqgrid .ui-jqgrid-bdiv {
    background-color: #FFFFFF;
}

.ui-jqgrid .ui-jqgrid-hdiv {
    background-color: #E5E5E5;
}

.ui-jqgrid .ui-jqgrid-pager {
    /*  background-color: #E8E2CF;*/
    background: #ffffff;
    border-top: 1px solid #c8c8c8;
    height: 30px;
}

.ui-jqgrid-legend {
    background-color: #E8E2CF;
    border-top: 1px solid #c8c8c8;
    height: 30px;
}

.ui-jqgrid .ui-jqgrid-htable {
    /*background-color: #515e5e;*/
    background: #ffffff;
}

.ui-jqgrid .ui-jqgrid-htable th div {
    height: auto;
    padding: 0 1px;
    min-height: 20px;
}

.ui-jqgrid .ui-jqgrid-htable th div.ui-jqgrid-sortable {
    white-space: nowrap;
    border-right: 2px dotted rgba(0, 0, 0, 0.2);
    /*font-weight: 700;*/
    font-weight: 100;
    padding: 8px 0 8px 6px;
    border-left: 2px dotted rgba(0, 0, 0, 0.2);
    margin: 0 0 0 -4px;
}
.ui-jqgrid .ui-jqgrid-htable th:nth-child(2) div.ui-jqgrid-sortable{
    border-left: none;
    border-right: 2px dotted rgba(0, 0, 0, 0.2);
}
.ui-jqgrid .ui-jqgrid-htable th.ui-th-column .ui-jqgrid-sortable .s-ico {
    height: 18px;
    width: 13px;
/*    border: 1px solid #828282;
    background-color: white;*/
.border-radius(4px);
    /*float: right;*/
    position: absolute;
    right: 7px;
    top: 8px;
}

.ui-th-column,
.ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
    font-weight: normal;
    color: #333;
    text-align: left;
    white-space: normal;
    border-left: none;
    /*border-right: 1px solid #231f20;*/
    border-bottom: 2px solid #333;
}

.ui-jqgrid .ui-jqgrid-btable {
    border: none;
    background-color: white;
}

.ui-jqgrid tr.jqgrow td {
    border-color: #cfcfcf;
    padding: 10px 8px;
    height: 26px;
    vertical-align: middle;
    white-space: nowrap;
}

.ui-jqgrid tr.jqgrow td.image-column {
    vertical-align: middle;
    text-align: center;
}

.ui-jqgrid tr.jqgrow td.image-column [class^="icon-cbr-"],
.ui-jqgrid tr.jqgrow td.image-column [class*=" icon-cbr-"] {
    margin-top: -2px;
}

.ui-jqgrid tr.jqgrow td.success {
    background-color: #ccf8cc;
}

.ui-jqgrid tr.jqgrow td.notification {
    background-color: #ffd3a8;
}

.ui-jqgrid tr.jqgrow td.warning {
    background-color: #fafabb;
}

.ui-jqgrid tr.jqgrow td.error {
    background-color: #f9cccc;
}

.ui-jqgrid tr.jqgrow td.message {
    background-color: #9cf;
}

.ui-jqgrid tr.success {
    background-color: #ccf8cc;
}

.ui-jqgrid tr.notification {
    background-color: #ffd3a8;
}

.ui-jqgrid tr.warning {
    background-color: #fafabb;
}

.ui-jqgrid tr.error {
    background-color: #f9cccc;
}

.ui-jqgrid tr.message {
    background-color: #9cf;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
    background-image: none;
    /*opacity: 0.35;*/
.opacity(35);
}

.ui-state-default .ui-icon {
    background-image: url("paginator-sprite.png");
    /* background-image: url(../img/sprites_orange/next-prew-arrow.png);
     background-size: cover;*/
}

/*--------*/
/*background-size: cover;
background-position: -40px 0;*/


/*----------*/

.ui-jqgrid .ui-pg-table {
    height: 28px;
    margin: 1px auto 4px;
}

.ui-jqgrid .ui-pg-input {
    height: 20px;
    width: 28px;
    line-height: 18px;
    padding: 0 1px 0 0;
    text-align: center;
}

.ui-jqgrid .ui-pg-selbox {
    height: 25px;
    line-height: 26px;
    width: 54px;
    margin-left: 16px;
    padding: 3px 0px 4px 3px;
}

.ui-jqgrid .ui-pg-button .ui-separator {
    border: none;
    width: 4px;
}

.ui-jqgrid .ui-pg-button span {
    margin: -1px 1px 1px;
}

.ui-jqgrid .ui-paging-info {
    /*font-size: small;*/
    color: #999999;
    margin-top: 0;
}

.ui-jqgrid .ui-icon-asc {
    margin-left: -1px;
    margin-top: -3px;
}

.ui-jqgrid .ui-icon-desc {
    margin-left: -2px;
    margin-top: 4px;
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
    background-image: url("ui-icons_7d7d7d_256x240.png");
    /* background-image: url("../img/sprites_orange/next-prew-arrow.png");*/
}

.ui-state-disabled .ui-icon,
.ui-widget-content .ui-state-disabled .ui-icon,
.ui-widget-header .ui-state-disabled .ui-icon {
    background-image: url("paginator-sprite.png");
    /*background-image: url("../img/sprites_orange/next-prew-arrow.png");*/
.opacity(100);
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: #dee8f8;
}
.table-striped > tbody > tr[aria-selected="true"] td{
    background-color: #dee8f8;
}
.ui-jqgrid tr.jqgrow.ui-widget-content.ui-state-hover,
.ui-jqgrid tr.jqgrow.ui-widget-content.ui-state-hover td.success,
.ui-jqgrid tr.jqgrow.ui-widget-content.ui-state-hover td.notification,
.ui-jqgrid tr.jqgrow.ui-widget-content.ui-state-hover td.warning,
.ui-jqgrid tr.jqgrow.ui-widget-content.ui-state-hover td.error {
    background: #b3b3b3;
}

.ui-jqgrid tr.jqgrow.ui-widget-content.ui-state-highlight.success,
.ui-jqgrid tr.jqgrow.ui-widget-content.ui-state-highlight.notification,
.ui-jqgrid tr.jqgrow.ui-widget-content.ui-state-highlight.warning,
.ui-jqgrid tr.jqgrow.ui-widget-content.ui-state-highlight.message,
.ui-jqgrid tr.jqgrow.ui-widget-content.ui-state-highlight.error {
    background: #fff9cf;
}

.ui-jqgrid tr.jqgrow.ui-widget-content.ui-state-highlight td.success,
.ui-jqgrid tr.jqgrow.ui-widget-content.ui-state-highlight td.notification,
.ui-jqgrid tr.jqgrow.ui-widget-content.ui-state-highlight td.warning,
.ui-jqgrid tr.jqgrow.ui-widget-content.ui-state-highlight td.error {
    background: #fff9cf;
}

.ui-jqgrid tr.jqgrow.ui-widget-content.ui-state-hover.ui-state-highlight.success,
.ui-jqgrid tr.jqgrow.ui-widget-content.ui-state-hover.ui-state-highlight.notification,
.ui-jqgrid tr.jqgrow.ui-widget-content.ui-state-hover.ui-state-highlight.warning,
.ui-jqgrid tr.jqgrow.ui-widget-content.ui-state-hover.ui-state-highlight.message,
.ui-jqgrid tr.jqgrow.ui-widget-content.ui-state-hover.ui-state-highlight.error {
    background: #b3b3b3;
}

.ui-jqgrid tr.jqgrow.ui-widget-content.ui-state-hover.ui-state-highlight td.success,
.ui-jqgrid tr.jqgrow.ui-widget-content.ui-state-hover.ui-state-highlight td.notification,
.ui-jqgrid tr.jqgrow.ui-widget-content.ui-state-hover.ui-state-highlight td.warning,
.ui-jqgrid tr.jqgrow.ui-widget-content.ui-state-hover.ui-state-highlight td.error {
    background: #b3b3b3;
}

/* .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: #b3b3b3;
}*/

.ui-jqgrid tr.jqgrow td input.cbox[type="checkbox"] {
    width: 12px;
}

.ui-jqgrid tr.jqgrow td ul,
.ui-jqgrid tr.jqgrow td ol {
    margin: 0 0 0 16px;
}

.ui-jqgrid .ui-jqgrid-htable th.ui-th-column input.cbox[type="checkbox"] {
    width: 12px;
}

/* jquery-ui */
.ui-icon-seek-next {
    background-position: -34px 0;
    /*background-position: -40px 0;*/
}

.ui-icon-seek-prev {
    background-position: -14px 0;
    /*background-position: -28px 0;*/
}

.ui-icon-seek-first {
    background-position: 0 0;
    /*background-position: -14px 0;*/
}

.ui-icon-seek-end {
    background-position: -48px 0;
    /*background-position: -54px 0;*/
}

.ui-icon-triangle-1-s {
    background-position: -64px -16px;
}

.ui-icon-triangle-1-n {
    background-position: 0 -16px;
}

.ui-icon-refresh {
    background-position: -64px -80px;
}

.ui-icon {
    background-image: url("paginator-sprite.png");
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
    height: 16px;
    width: 16px;
}

/* first column check boxes grid */
.cbr-firstColCheckBox-grid .ui-jqgrid .ui-jqgrid-htable th.ui-th-column:first-child {
    text-align: center;
    vertical-align: middle;
    padding: 3px;
    border-right: 1px solid #ccc;
}

.cbr-firstColCheckBox-grid .ui-jqgrid tr.jqgrow td:first-child {
    text-align: center;
    vertical-align: middle;
    /*background-color: #f4f2eb;*/
    background: #ffffff;
}

.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
    position: relative;
    /*padding: 4px;*/
    padding: 5px 0 5px 7px;
    border-bottom-color: #9d9d9d;
}

/*
height: 2000px - for IE because height: 100% not work
*/
.ui-jqgrid .ui-jqgrid-resize {
    height: 2000px !important;
    position: absolute;
    top: 0;
    z-index: 5;
}

/*.ui-jqgrid .ui-jqgrid-resize:hover {
    background-color: #cfcfcf;
}*/

.ui-jqgrid .ui-jqgrid-resize-ltr {
    float: none;
    left: 100%;
    margin: 0 0 0 -5px;
    width: 11px;
}

.ui-jqgrid .ui-jqgrid-resize-rtl {
    float: none;
    left: 0;
    margin: 0 0 0 0;
    width: 3px;
}

.ui-jqgrid tr.jqgfirstrow td {
    padding: 0 3px 0 3px;
}