<div class="field-content">
    <table></table>
    <div class="footer"></div>
    <div class="viewrecords" data-ng-show="viewRecordWithNoPaging">
        <div class="ui-jqgrid-legend">
            <div dir="ltr" style="text-align:right; padding: 6px;" class="ui-paging-info"
                 data-ng-bind="'Всего ' + gridCtrl.getCountRecords()"></div>
        </div>
    </div>
    <div class="legend" data-ng-show="gridOptions.rowFilterParam.legend.length > 0">
        <div class="ui-jqgrid-legend" data-ng-hide="gridHideLegend">
            <table cellpadding="5">
                <tbody>
                <tr>
                    <td class="chbox-cell">
                        <label style="margin-bottom: 0;">
                            <input class="cbox" type="checkbox" data-ng-model="gridOptions.rowFilterShow"
                                   data-ng-change="gridCtrl.applyRowFilter()"/>
                            <span>Выделять цветом</span>
                        </label>
                    </td>
                    <td data-ng-show="gridOptions.rowFilterShow"
                        data-ng-repeat="item in gridOptions.rowFilterParam.legend">
                        <div data-ng-hide="item.hide">
                            <div style="display: inline-block; vertical-align: middle; border: 1px solid black;"
                                 class="colorBox {{item.className}}"></div>
                            <div style="display: inline-block; vertical-align: middle;">{{item.name}}</div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div data-ng-if="((gridStoreColSettings !== false) || gridStorePageSettings) && hasStoredSettings()" class="ui-jqgrid-restore">
    <div data-aplana-link="'Вернуть настройки таблицы по умолчанию'"
         data-ng-click="gridCtrl.resetSettings()">
    </div>
</div>