<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <import resource="classpath:com/aplana/sbrf/taxaccounting/version-info.xml"/>

	<context:annotation-config />
	<context:component-scan base-package="com.aplana.sbrf.taxaccounting.web.main.api.server"/>
	<bean class="com.aplana.sbrf.taxaccounting.web.main.entry.server.MainServerModule" />

	<bean id="logger" class="com.gwtplatform.dispatch.server.spring.LoggerFactoryBean">
		<constructor-arg>
			<bean class="java.util.logging.Logger" factory-method="getAnonymousLogger">
				<property name="level">
					<value>FINEST</value>
				</property>
			</bean>
		</constructor-arg>
	</bean>

    <!--Спринговая реализация для запросов на загрузку файлов.
    Получает файловый ресурс из запроса, позволяя инъктить его в метод-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <jee:jndi-lookup id="dataSource" jndi-name="java:comp/env/jdbc/TaxAccDS" />

    <aop:config proxy-target-class="true"/>

</beans>
