<form data-ng-controller="regPersonChangelogCtrl">
    <div style="height: 100%;">
        <div class="tab-block-title" style="margin-top: 10px; margin-bottom: 10px;">
            {{::'refBook.fl.card.tabs.title.changelog' | translate}}
        </div>
        <div style="margin-left: 20px; width: 1203px">
            <div data-aplana-grid
                 data-ng-if="changelogTab.active"
                 data-grid-fill-space="true"
                 data-grid-options="changelogGrid.options"
                 data-grid-ctrl="changelogGrid.ctrl"
                 data-ng-model="changelogGrid.value"
                 data-init-grid="changelog"
                 id = "changelogGrid">
            </div>
        </div>
    </div>
</form>