<form data-ng-controller="regPersonDuplicatesCtrl">
    <div style="height: 100%;">
        <div class="tab-block-title" style="margin-top: 20px; margin-bottom: 10px;">{{::'refBook.fl.card.label.original' |
            translate}}
        </div>
        <div style="padding-left: 20px" data-ng-if="mode == 'VIEW'">
            <a href="index.html#/personRegistry/personCard/{{person.original.id}}" target="_blank">{{person.original | originalFormatter}}</a>
        </div>
        <div style="padding-left: 20px" data-ng-if="mode == 'EDIT'">
            <a href="index.html#/personRegistry/personCard/{{personParam.original.id}}" target="_blank">{{personParam.original | originalFormatter}}</a>
        </div>
        <div class="row">
            <div class="pull-left">
                <div class="row-fluid" style="margin-left: 20px">
                    <button type="button" class="btn btn-default"
                            data-ng-disabled="mode !== 'EDIT' || personParam.original"
                            data-ng-click="addOriginal()">
                        <span>{{::'refBook.fl.card.button.choose' | translate}}</span>
                    </button>
                    <button type="button" class="btn btn-default"
                            data-ng-disabled="mode !== 'EDIT' || !personParam.original"
                            data-ng-click="deleteOriginal()">
                        <span>{{::'refBook.fl.card.button.delete' | translate}}</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="tab-block-title" style="margin-top: 20px; margin-bottom: 10px;">{{::'refBook.fl.card.label.duplicates' |
            translate}}
        </div>
        <div class="row">
            <div class="pull-left">
                <div class="row-fluid" style="margin-left: 20px">
                    <button type="button" class="btn btn-default"
                            data-ng-disabled="mode !== 'EDIT'"
                            data-ng-click="addDuplicate()">
                        <span>{{::'refBook.fl.card.button.add' | translate}}</span>
                    </button>
                    <button type="button" class="btn btn-default"
                            data-ng-disabled="mode !== 'EDIT' || duplicatesGrid.value.length === 0"
                            data-ng-click="deleteDuplicate()">
                        <span>{{::'refBook.fl.card.button.delete' | translate}}</span>
                    </button>
                </div>
            </div>
        </div>
        <div style="margin-left: 20px; width: 1203px">
            <div data-aplana-grid
                 data-ng-if="duplicatesTab.active"
                 data-grid-fill-space="false"
                 data-grid-options="duplicatesGrid.options"
                 data-grid-ctrl="duplicatesGrid.ctrl"
                 data-ng-model="duplicatesGrid.value"
                 data-init-grid="fetchDuplicates(ctrl)"
                 id = "duplicatesGrid">
            </div>
        </div>
    </div>
</form>