<form data-ng-controller="regPersonIdDocCtrl">
    <div style="height: 100%;">
        <div class="tab-block-title" style="margin-top: 10px; margin-bottom: 10px;">
            {{::'refBook.fl.card.tabs.lable.idDoc' | translate}}
        </div>
        <div class="row">
            <div class="pull-left">
                <div class="row-fluid" style="margin-left: 20px">
                    <button type="button" class="btn btn-default"
                            data-ng-click="addIdDoc()"
                            data-ng-disabled="mode !== 'EDIT'">
                        <span>{{::'refBook.fl.card.button.add' | translate}}</span>
                    </button>
                    <button type="button" class="btn btn-default"
                            data-ng-click="editIdDoc()"
                            data-ng-disabled="mode !== 'EDIT' || idDocsGrid.value.length != 1">
                        <span>{{::'refBook.fl.card.button.edit' | translate}}</span>
                    </button>
                    <button type="button" class="btn btn-default"
                            data-ng-click="deleteIdDoc()"
                            data-ng-disabled="mode !== 'EDIT' || idDocsGrid.value.length != 1">
                        <span>{{::'refBook.fl.card.button.delete' | translate}}</span>
                    </button>
                </div>
            </div>
        </div>
        <div style="margin-left: 20px; width: 803px">
            <div class="ng-cloak" data-aplana-grid
                 data-ng-if="idDocTab.active"
                 data-grid-fill-space="false"
                 data-grid-options="idDocsGrid.options"
                 data-grid-ctrl="idDocsGrid.ctrl"
                 data-ng-model="idDocsGrid.value"
                 data-init-grid="fetchIdDocs(ctrl)"
                 id="idDocsGrid">
            </div>
        </div>
    </div>
</form>