<form data-ng-controller="regPersonInpCtrl">
    <div >
        <div class="person-card" style="margin-top: 10px; margin-bottom: 10px;">
            {{::'refBook.fl.card.tabs.title.inp' | translate}}
        </div>
        <div style="margin-left: 20px; width: 624px">
            <div class="flex-grid" data-aplana-grid style="height: 100%;"
                 data-ng-if="inpTab.active"
                 data-grid-fill-space="false"
                 data-grid-options="inpListGrid.options"
                 data-grid-ctrl="inpListGrid.ctrl"
                 data-ng-model="inpListGrid.value"
                 data-init-grid="fetchInp(ctrl)"
                 id = "inpListGrid">
            </div>
        </div>
    </div>
</form>