<form data-ng-controller="regPersonCtrl" data-aplana-submit-valid="save()" novalidate>
    <div>
        <div class="tab-block-title" style="margin-top: 20px; margin-bottom: 10px;">{{::'refBook.fl.card.label.person' |
            translate}}
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="row-fluid form-group-view">
                    <span class="span4 person-card-left-column-label">{{::'refBook.fl.card.label.personId' | translate}}</span>
                    <span class="span8 person-card-data">{{person.recordId}}</span>
                </div>
                <div class="row-fluid form-group-view">
                    <div class="span4 person-card-left-column-label">{{::'refBook.fl.card.label.lastName' |
                        translate}}
                    </div>
                    <div class="span8 person-card-data" data-ng-if="mode == 'VIEW'">{{person.lastName}}</div>
                    <div class="span8 field-wrapper" data-ng-if="mode == 'EDIT'">
                        <div data-aplana-field>
                            <input data-ng-model="personParam.lastName"
                                   type="text" style="min-width: 370px"
                                   required/>
                            <div data-aplana-validator data-key='required'>{{::'common.validation.required' |
                                translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid form-group-view">
                    <span class="span4 person-card-left-column-label">{{::'refBook.fl.card.label.firstName' | translate}}</span>
                    <span class="span8 person-card-data"
                          data-ng-if="mode == 'VIEW'">{{person.firstName}}</span>
                    <div class="span8 field-wrapper" data-ng-if="mode == 'EDIT'">
                        <div data-aplana-field>
                            <input data-ng-model="personParam.firstName"
                                   type="text" style="min-width: 370px"
                                   required/>
                            <div data-aplana-validator data-key='required'>{{::'common.validation.required' |
                                translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid form-group-view">
                    <span class="span4 person-card-left-column-label">{{::'refBook.fl.card.label.middleName' | translate}}</span>
                    <span class="span8 person-card-data"
                          data-ng-if="mode == 'VIEW'">{{person.middleName}}</span>
                    <div class="span8 field-wrapper" data-ng-if="mode == 'EDIT'">
                        <div data-aplana-field>
                            <input data-ng-model="personParam.middleName"
                                   type="text" style="min-width: 370px"/>
                        </div>
                    </div>
                </div>
                <div class="row-fluid form-group-view">
                    <div class="span4 person-card-left-column-label">{{::'refBook.fl.card.label.birthDate' | translate}}
                    </div>
                    <div class="span8 person-card-data"
                         data-ng-if="mode == 'VIEW'">{{person.birthDate | dateFormatter}}
                    </div>
                    <div class="span8 field-wrapper" data-ng-if="mode == 'EDIT'" style="width: 120px">
                        <div data-aplana-field>
                            <div data-aplana-datepicker
                                 data-ng-model="personParam.birthDate">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid form-group-view">
                    <div class="span4 person-card-left-column-label">{{::'refBook.fl.card.label.reportDoc' | translate}}
                    </div>
                    <div class="span8 person-card-data" data-ng-if="mode == 'VIEW' && person.reportDoc.permission">
                        {{person.reportDoc.value ? (person.reportDoc.value |
                        idDocFormatter) : ""}}
                    </div>
                    <div class="span8" style="font-style: italic" data-ng-if="!person.reportDoc.permission">
                        {{::'refBook.fl.card.label.permissionDenied' | translate}}
                    </div>
                    <div class="span8" data-ng-controller="SelectRegistryPersonController"
                         data-ng-if="mode == 'EDIT' && person.reportDoc.permission"
                         data-ui-select2="selectedDocs.options"
                         data-ng-init="initIdDocs(personParam)"
                         data-ng-model="personParam.reportDoc.value"
                         style="width: 370px">
                    </div>
                </div>
                <div class="row-fluid form-group-view">
                    <div class="span4 person-card-left-column-label">{{::'refBook.fl.card.label.taxPayerState' |
                        translate}}
                    </div>
                    <div class="span8 person-card-data" data-ng-if="mode == 'VIEW' && person.taxPayerState.permission">
                        {{person.taxPayerState.value ? (person.taxPayerState.value |
                        codeNameFormatter) : ""}}
                    </div>
                    <div class="span8" style="font-style: italic" data-ng-if="!person.taxPayerState.permission">
                        {{::'refBook.fl.card.label.permissionDenied' | translate}}
                    </div>
                    <div class="span8" data-ng-controller="SelectRegistryPersonController"
                         data-ng-if="mode == 'EDIT' && person.taxPayerState.permission"
                         data-ui-select2="taxPayerStateSelected.options"
                         data-ng-model="personParam.taxPayerState.value"
                         data-ng-init="initTaxPayerState()"
                         style="width: 370px">
                    </div>

                </div>
                <div class="row-fluid form-group-view">
                    <div class="span4 person-card-left-column-label">{{::'refBook.fl.card.label.source' | translate}}
                    </div>
                    <div class="span8 person-card-data" data-ng-if="mode == 'VIEW'">{{person.source ? (person.source |
                        codeNameFormatter) : ""}}
                    </div>
                    <div class="span8" data-ng-controller="SelectRegistryPersonController" data-ng-if="mode == 'EDIT'"
                         data-ui-select2="asnuSelect.options"
                         data-ng-model="personParam.source"
                         data-ng-init="initAsnu()"
                         style="width: 370px">
                    </div>
                </div>
                <div class="row-fluid form-group-view">
                    <div class="span4 person-card-left-column-label">{{::'refBook.fl.card.label.vip' | translate}}</div>
                    <div class="span8 person-card-data" data-ng-if="mode == 'VIEW'">{{person.vip | vipTextFormatter}}
                    </div>
                    <div class="span8" data-ng-controller="SelectRegistryPersonController" data-ng-if="mode == 'EDIT'"
                         data-ui-select2="vipSelect.options"
                         data-ng-model="personParam.vipSelect"
                         data-ng-init="initVip(personParam)"
                         style="width: 370px">
                    </div>
                </div>
            </div>

            <div class="span6">
                <div class="row-fluid form-group-view">
                    <span class="span4" style="text-align: right">{{::'refBook.fl.card.label.oldId' | translate}}</span>
                    <span class="span8 person-card-data">{{person.oldId}}</span>
                </div>
                <div class="row-fluid form-group-view">
                    <span class="span4"
                          style="text-align: right">{{::'refBook.fl.card.label.citizenship' | translate}}</span>
                    <span class="span8 person-card-data" data-ng-if="mode == 'VIEW'">{{person.citizenship.value ? (person.citizenship.value | codeNameFormatter) : " "}}</span>
                    <div class="span8" data-ng-controller="SelectRegistryPersonController" data-ng-if="mode == 'EDIT'"
                         data-ui-select2="citizenshipSelected.options"
                         data-ng-model="personParam.citizenship.value"
                         data-ng-init="initCitizenship()"
                         style="width: 370px">
                    </div>
                </div>
                <div class="row-fluid form-group-view">
                    <div class="span4" style="text-align: right">{{::'refBook.fl.card.label.inn' | translate}}</div>
                    <div class="span8 person-card-data" data-ng-if="mode == 'VIEW' && person.inn.permission">
                        {{person.inn.value}}
                    </div>
                    <div class="span8" style="font-style: italic" data-ng-if="!person.inn.permission">
                        {{::'refBook.fl.card.label.permissionDenied' | translate}}
                    </div>
                    <div class="span8 field-wrapper" data-ng-if="mode == 'EDIT' && person.inn.permission">
                        <div data-aplana-field>
                            <input type="text" style="width: 370px"
                                   data-ng-model="personParam.inn.value"
                                   data-ng-pattern="/^\d{12}$/"
                                   maxlength="12"/>
                            <div data-aplana-validator data-key="pattern">{{::'refBook.fl.card.validation.inn' |
                                translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid form-group-view">
                    <div class="span4"
                         style="text-align: right">{{::'refBook.fl.card.label.innForeign' | translate}}
                    </div>
                    <div class="span8 person-card-data"
                         data-ng-if="mode == 'VIEW' && person.innForeign.permission">{{person.innForeign.value}}
                    </div>
                    <div class="span8" style="font-style: italic" data-ng-if="!person.innForeign.permission">
                        {{::'refBook.fl.card.label.permissionDenied' | translate}}
                    </div>
                    <div class="span8 field-wrapper" data-ng-if="mode == 'EDIT' && person.innForeign.permission">
                        <div data-aplana-field>
                            <input data-ng-model="personParam.innForeign.value"
                                   type="text"
                                   style="width: 370px"/>
                        </div>
                    </div>
                </div>
                <div class="row-fluid form-group-view">
                    <div class="span4" style="text-align: right">{{::'refBook.fl.card.label.snils' | translate}}</div>
                    <div class="span8 person-card-data" data-ng-if="mode == 'VIEW' && person.snils.permission">
                        {{person.snils.value}}
                    </div>
                    <div class="span8" style="font-style: italic" data-ng-if="!person.snils.permission">
                        {{::'refBook.fl.card.label.permissionDenied' | translate}}
                    </div>
                    <div class="span8 field-wrapper" data-ng-if="mode == 'EDIT' && person.snils.permission"
                         style="min-width: 370px">
                        <div data-aplana-field>
                            <input ui-mask="999-999-999-99" model-view-value="true" ui-options="{clearOnBlur: false}" data-ng-model="personParam.snils.value"
                                   type="text" style="width: 370px"/>
                            <div data-aplana-validator data-key="mask">{{::'refBook.fl.card.validation.snils.mask' |
                                translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-block-title" style="margin-top: 20px; margin-bottom: 10px;">{{::'refBook.fl.card.label.address'
            |
            translate}}
        </div>
        <div class="row-fluid">
            <div class="span3">
                <div class="row-fluid form-group-view">
                    <div class="span4 person-card-left-column-label">{{::'refBook.fl.card.label.region' | translate}}
                    </div>
                    <div class="span4 person-card-data"
                         data-ng-if="mode == 'VIEW' && person.address.permission">
                        {{person.address.value.regionCode}}
                    </div>
                    <div class="span4" style="font-style: italic" data-ng-if="!person.address.permission">
                        {{::'refBook.fl.card.label.permissionDenied' | translate}}
                    </div>
                    <div class="span4 field-wrapper" data-ng-if="mode == 'EDIT' && person.address.permission">
                        <div data-aplana-field>
                            <input data-ng-model="personParam.address.value.regionCode"
                                   type="text"
                                   style="width: 90px"
                                   data-ui-validate="{requiredByAddressItems : 'isAddressRequiredByAddressItems($value)'}"
                                   data-ui-validate-watch="['personParam.address.value.appartment',
                        'personParam.address.value.postalCode',
                        'personParam.address.value.district',
                        'personParam.address.value.city',
                        'personParam.address.value.locality',
                        'personParam.address.value.house',
                        'personParam.address.value.build']"/>
                            <div data-aplana-validator data-key='requiredByAddressItems'>
                                {{::'common.validation.required' |
                                translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid form-group-view">
                    <div class="span4 person-card-left-column-label">{{::'refBook.fl.card.label.postalCode' |
                        translate}}
                    </div>
                    <div class="span4 person-card-data"
                         data-ng-if="mode == 'VIEW' && person.address.permission">
                        {{person.address.value.postalCode}}
                    </div>
                    <div class="span4" style="font-style: italic" data-ng-if="!person.address.permission">
                        {{::'refBook.fl.card.label.permissionDenied' | translate}}
                    </div>
                    <div class="span4 field-wrapper" data-ng-if="mode == 'EDIT' && person.address.permission">
                        <div data-aplana-field>
                            <input data-ng-model="personParam.address.value.postalCode"
                                   type="text"
                                   style="width: 90px"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span2">
                <div class="row-fluid form-group-view">
                    <div class="span4" style="text-align: right">{{::'refBook.fl.card.label.district' | translate}}
                    </div>
                    <div class="span8 person-card-data"
                         data-ng-if="mode == 'VIEW' && person.address.permission">
                        {{person.address.value.district}}
                    </div>
                    <div class="span8" style="font-style: italic" data-ng-if="!person.address.permission">
                        {{::'refBook.fl.card.label.permissionDenied' | translate}}
                    </div>
                    <div class="span8 field-wrapper" data-ng-if="mode == 'EDIT' && person.address.permission">
                        <div data-aplana-field>
                            <input data-ng-model="personParam.address.value.district"
                                   type="text"
                                   style="width: 90px"/>
                        </div>
                    </div>
                </div>
                <div class="row-fluid form-group-view">
                    <div class="span4" style="text-align: right">{{::'refBook.fl.card.label.city' | translate}}</div>
                    <div class="span8 person-card-data"
                         data-ng-if="mode == 'VIEW' && person.address.permission">{{person.address.value.city}}
                    </div>
                    <div class="span8" style="font-style: italic" data-ng-if="!person.address.permission">
                        {{::'refBook.fl.card.label.permissionDenied' | translate}}
                    </div>
                    <div class="span8 field-wrapper" data-ng-if="mode == 'EDIT' && person.address.permission">
                        <div data-aplana-field>
                            <input data-ng-model="personParam.address.value.city"
                                   type="text"
                                   style="width: 90px"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span2">
                <div class="row-fluid form-group-view">
                    <div class="span4" style="text-align: right">{{::'refBook.fl.card.label.locality' | translate}}
                    </div>
                    <div class="span8 person-card-data"
                         data-ng-if="mode == 'VIEW' && person.address.permission">
                        {{person.address.value.locality}}
                    </div>
                    <div class="span8" style="font-style: italic" data-ng-if="!person.address.permission">
                        {{::'refBook.fl.card.label.permissionDenied' | translate}}
                    </div>
                    <div class="span8 field-wrapper" data-ng-if="mode == 'EDIT' && person.address.permission">
                        <div data-aplana-field>
                            <input data-ng-model="personParam.address.value.locality"
                                   type="text"
                                   style="width: 90px"/>
                        </div>
                    </div>
                </div>
                <div class="row-fluid form-group-view">
                    <div class="span4" style="text-align: right">{{::'refBook.fl.card.label.street' | translate}}</div>
                    <div class="span8 person-card-data" data-ng-if="mode == 'VIEW' && person.address.permission">
                        {{person.address.value.street}}
                    </div>
                    <div class="span8" style="font-style: italic" data-ng-if="!person.address.permission">
                        {{::'refBook.fl.card.label.permissionDenied' | translate}}
                    </div>
                    <div class="span8 field-wrapper" data-ng-if="mode == 'EDIT' && person.address.permission">
                        <div data-aplana-field>
                            <input data-ng-model="personParam.address.value.street"
                                   type="text"
                                   style="width: 90px"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span2">
                <div class="row-fluid form-group-view">
                    <div class="span4" style="text-align: right">{{::'refBook.fl.card.label.house' | translate}}</div>
                    <div class="span8 person-card-data"
                         data-ng-if="mode == 'VIEW' && person.address.permission">{{person.address.value.house}}
                    </div>
                    <div class="span8" style="font-style: italic" data-ng-if="!person.address.permission">
                        {{::'refBook.fl.card.label.permissionDenied' | translate}}
                    </div>
                    <div class="span8 field-wrapper" data-ng-if="mode == 'EDIT' && person.address.permission">
                        <div data-aplana-field>
                            <input data-ng-model="personParam.address.value.house"
                                   type="text"
                                   style="width: 90px"/>
                        </div>
                    </div>
                </div>
                <div class="row-fluid form-group-view">
                    <div class="span4" style="text-align: right">{{::'refBook.fl.card.label.apartment' | translate}}
                    </div>
                    <div class="span8 person-card-data" data-ng-if="mode == 'VIEW' && person.address.permission">
                        {{person.address.value.appartment}}
                    </div>
                    <div class="span8" style="font-style: italic" data-ng-if="!person.address.permission">
                        {{::'refBook.fl.card.label.permissionDenied' | translate}}
                    </div>
                    <div class="span8 field-wrapper" data-ng-if="mode == 'EDIT' && person.address.permission">
                        <div data-aplana-field>
                            <input data-ng-model="personParam.address.value.appartment"
                                   type="text"
                                   style="width: 90px"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="row-fluid form-group-view">
                    <div class="span4" style="text-align: right">{{::'refBook.fl.card.label.building' | translate}}
                    </div>
                    <div class="span8 person-card-data"
                         data-ng-if="mode == 'VIEW' && person.address.permission">
                        {{person.address.value.build}}
                    </div>
                    <div class="span8" style="font-style: italic" data-ng-if="!person.address.permission">
                        {{::'refBook.fl.card.label.permissionDenied' | translate}}
                    </div>
                    <div class="span8 field-wrapper" data-ng-if="mode == 'EDIT' && person.address.permission">
                        <div data-aplana-field>
                            <input data-ng-model="personParam.address.value.build"
                                   type="text"
                                   style="width: 90px"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-block-title" style="margin-top: 20px; margin-bottom: 10px;">
            {{::'refBook.fl.card.label.addressForeign' |
            translate}}
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid form-group-view">
                    <div class="span4 person-card-left-column-label">{{::'refBook.fl.card.label.residenceCountry' |
                        translate}}
                    </div>
                    <div class="span8 person-card-data"
                         data-ng-if="mode == 'VIEW' && person.address.permission">
                        {{person.address.value.country | codeNameFormatter}}
                    </div>
                    <div class="span8" style="font-style: italic" data-ng-if="!person.address.permission">
                        {{::'refBook.fl.card.label.permissionDenied' | translate}}
                    </div>

                    <div class="span8 person-card-data"
                         data-ng-controller="SelectRegistryPersonController"
                         data-ng-if="mode == 'EDIT' && person.address.permission">
                        <div data-aplana-field>
                            <div data-ui-select2="countrySelected.options"
                                 data-ng-model="personParam.address.value.country"
                                 data-ng-init="initCountry()"
                                 data-ui-validate="{requiredByAddress : 'isCountryValid($value)'}"
                                 data-ui-validate-watch="['personParam.address.value.addressIno']"
                                 style="width: 370px">
                            </div>
                            <div data-aplana-validator data-key='requiredByAddress'>{{::'common.validation.required' |
                                translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="row-fluid tab-column-left">
                        <div class="span4 person-card-left-column-label">{{::'refBook.fl.card.label.residenceAddress' |
                            translate}}
                        </div>
                        <div class="span8 person-card-data"
                             data-ng-if="mode == 'VIEW' && person.address.permission">
                            {{person.address.value.addressIno}}
                        </div>
                        <div class="span8" style="font-style: italic" data-ng-if="!person.address.permission">
                            {{::'refBook.fl.card.label.permissionDenied' | translate}}
                        </div>
                        <div class="span8 field-wrapper person-card-data"
                             data-ng-if="mode == 'EDIT' && person.address.permission">
                            <div data-aplana-field>
                                <input data-ng-model="personParam.address.value.addressIno"
                                       type="text" maxlength="255"
                                       style="width: 800px"
                                       data-ui-validate="{requiredByCountrId : 'isAddressValid($value)'}"
                                       data-ui-validate-watch="['personParam.address.value.country']"/>
                                <div data-aplana-validator data-key='requiredByCountrId'>
                                    {{::'common.validation.required' |
                                    translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
