<form data-ng-controller="regPersonTbCtrl">
    <div>
        <div class="tab-block-title" style="margin-top: 10px; margin-bottom: 10px;">
            {{::'refBook.fl.card.tabs.title.terbanks' | translate}}
        </div>
        <div class="row">
            <div class="pull-left">
                <div class="row-fluid" style="margin-left: 20px">
                    <button type="button" class="btn btn-default"
                            data-ng-click="addTb()"
                            data-ng-disabled="mode !== 'EDIT'">
                        <span>{{::'refBook.fl.card.button.add' | translate}}</span>
                    </button>
                    <button type="button" class="btn btn-default"
                            data-ng-click="editTb()"
                            data-ng-disabled="mode !== 'EDIT' || tbListGrid.value.length != 1">
                        <span>{{::'refBook.fl.card.button.edit' | translate}}</span>
                    </button>
                    <button type="button" class="btn btn-default"
                            data-ng-click="deleteTb()"
                            data-ng-disabled="mode !== 'EDIT' || tbListGrid.value.length != 1">
                        <span>{{::'refBook.fl.card.button.delete' | translate}}</span>
                    </button>
                </div>
            </div>
        </div>
        <div style="margin-left: 20px; width: 624px">
            <div class="ng-cloak" data-aplana-grid
                 data-ng-if="tbTab.active"
                 data-grid-fill-space="false"
                 data-grid-options="tbListGrid.options"
                 data-grid-ctrl="tbListGrid.ctrl"
                 data-ng-model="tbListGrid.value"
                 data-init-grid="fetchTb(ctrl)"
                 id = "tbListGrid">
            </div>
        </div>
    </div>
</form>