<div>
    <form class="modal-form margin: 0;" data-aplana-submit-valid="submitForm()" name="modalAddDirectionForm" novalidate>
        <div class="modal-body">
            <div>
                <span>
                 {{:: stackTrace.additionInfo.serverDate| date: 'dd.MM.yyyy HH:mm:ss.ms'}} {{:: stackTrace.exceptionCause[0].errorClass}}: {{::stackTrace.exceptionCause[0].message | translate}}
                </span>
            </div>
            <div data-ng-repeat="arrayStack in stackTrace.exceptionCause track by $index" >
                <div>
                    <span data-ng-if="!$first">
                        Cause by: {{::arrayStack.errorClass}}: {{:: arrayStack.message |translate }}
                    </span>
                    <div style="padding-left: 10px;">
                        <div data-ng-repeat="item in arrayStack.serverException track by $index" >
                            at {{:: item }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer form-actions">
            <button type="button" class="cbr-btn cbr-btn_sec cbr-btn_cross" data-ng-click="$dismiss()">
                <span data-translate-once="common.button.close"></span>
            </button>
        </div>
    </form>
</div>
