a.collapse-link-accordion {
    color: black;
    height: 17px;
    text-decoration: none;
    padding: 5px 0 5px 5px;
    font-weight: bold;
    display: inline-block;
    /*margin-bottom: 10px;*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.aplana-collapse-accordion{
    border: 1px solid #3B3E3C;
    background-color: rgba(128, 128, 128, 0.61);
}

.aplana-collapse-accordion-img {
    display: inline-block;
    float: right;
    padding: 5px;
    background-clip: content-box;
    background-origin: content-box;
}


