<form class="form-horizontal" name="createDeclarationForm" data-aplana-submit-valid="save()">
    <div class="modal-body" style="min-height: 155px">
        <table class="horizontal-input-table gray-label-table auto-width-uneditable-input-table nowrap-label-table">
            <tbody>
            <tr>
                <td>
                    <label class="control-label">{{::'createDeclaration.declarationType' |
                        translate}}:</label>
                </td>
                <td>
                    <div>
                        <div data-aplana-field>
                            <div style="width: 355px;"
                                 data-ng-controller="SelectDeclarationTypeCtrl"
                                 data-ui-select2="declarationTypeSelect.options"
                                 data-ng-init="initSelectWithDeclarationTypesForCreate()"
                                 data-ng-model="declarationData.declarationType"
                                 data-required>
                            </div>
                            <div data-aplana-validator data-key='required'>{{::'common.validation.required' |
                                translate}}
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">{{::'createDeclaration.department' | translate}}:</label>
                </td>
                <td>
                    <div>
                        <div data-aplana-field>
                            <div style="width: 355px;"
                                 data-ng-controller="SelectDepartmentCtrl"
                                 data-ui-select2="departmentsSelect.options"
                                 data-ng-init="declarationData.resetDepartmentToDefault=initActiveDepartmentSelectWithOpenPeriod(departmentSelectFilter, 'declarationData.department')"
                                 data-ng-model="declarationData.department"
                                 data-required>
                            </div>
                            <div data-aplana-validator data-key='required'>{{::'common.validation.required' |
                                translate}}
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr data-ng-if="declarationData.department">
                <td>
                    <label class="control-label">{{::'createDeclaration.period' | translate}}:</label>
                </td>
                <td>
                    <div>
                        <div data-aplana-field>
                            <div style="width: 355px;"
                                 data-ng-controller="SelectPeriodCtrl"
                                 data-ui-select2="periodSelect.options"
                                 data-ng-init="initSelectWithOpenDepartmentPeriods('declarationData.department', 'declarationData.period')"
                                 data-ng-model="declarationData.period"
                                 data-required>
                            </div>
                            <div data-aplana-validator data-key='required'>{{::'common.validation.required' |
                                translate}}
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr data-ng-if="declarationData.department && declarationData.declarationType && declarationData.declarationType.id === APP_CONSTANTS.DECLARATION_TYPE.RNU_NDFL_PRIMARY.id">
                <td>
                    <label class="control-label">{{::'createDeclaration.asnu' | translate}}:</label>
                </td>
                <td>
                    <div>
                        <div data-aplana-field>
                            <div style="width: 355px;"
                                 data-ng-controller="SelectAsnuCtrl"
                                 data-ui-select2="asnuSelect.options"
                                 data-ng-init="initSingleSelectAsnu()"
                                 data-ng-model="declarationData.asnu"
                                 data-required>
                            </div>
                            <div data-aplana-validator data-key='required'>{{::'common.validation.required' |
                                translate}}
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr data-ng-if="declarationData.department && declarationData.declarationType && declarationData.declarationType.id === APP_CONSTANTS.DECLARATION_TYPE.RNU_NDFL_CONSOLIDATED.id">
                <td>
                    <label class="control-label">{{::'createDeclaration.knfType' | translate}}:</label>
                </td>
                <td>
                    <div>
                        <div data-aplana-field>
                            <div style="width: 355px;"
                                 data-ng-controller="SelectKnfTypeCtrlByReportPeriod"
                                 data-ui-select2="result.options"
                                 data-ng-init="init('declarationData.period')"
                                 data-ng-model="declarationData.knfType"
                                 data-required>
                            </div>
                            <div data-aplana-validator data-key='required'>{{::'common.validation.required' |
                                translate}}
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr data-ng-if="declarationData.department && declarationData.declarationType && declarationData.knfType && declarationData.knfType.id === APP_CONSTANTS.KNF_TYPE.BY_KPP.id">
                <td>
                    <label class="control-label">{{::'createDeclaration.kpp' | translate}}:</label>
                </td>
                <td>
                    <div>
                        <div data-aplana-field>
                            <div style="width: 355px;"
                                 data-ng-controller="SelectFormKppCtrl"
                                 data-ui-select2="select.options"
                                 data-ng-init="initSelectKppByTB(kppSelectFilter)"
                                 data-ng-model="declarationData.kppList"
                                 data-ui-validate="{notEmpty : 'notEmpty($value)'}">
                            </div>
                            <div data-aplana-validator data-key='notEmpty'>{{::'common.validation.required' | translate}}</div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default iconed-btn" id="saveButton">
            <span data-translate-once="button.create"></span>
            <span class="btn-icon-ok"></span>
        </button>
        <button type="button" class="btn btn-default-nonBg iconed-btn" id="closeButton" data-ng-click="close()">
            <span data-translate-once="button.cancel"></span>
            <span class="btn-icon-noneBg-close"></span>
        </button>
    </div>
</form>