<div class="flex-column">
    <div>
        <div class="content-header pull-left">
            <h1>{{::'header.ndflJournal.forms' | translate}}</h1>
        </div>
        <div class="pull-right" style="margin: 5px 10px 10px 0;">
            <button type="button" class="btn btn-default" data-ng-click="showCreateDeclarationModal()"
                    data-ng-show="declarationCreateAllowed">
                <span data-translate-once="ndflJournal.button.create"></span>
            </button>
        </div>
    </div>
    <div id="ndflJournalGridContainer" class="container-grid box-shadow-block flex-fill flex-column"
         style="overflow-y: auto">
        <!-- Фильтр -->
        <div id="ndflJournalGridTop">
            <span data-ng-include="'client/app/taxes/ndfl/taxForm/ndflJournalFilter.html'"></span>
            <!--Панель кнопок -->
            <div class="button_panel">
                <div class="btn-toolbar" role="toolbar">
                    <!--Идентифицировать ФЛ -->
                    <span>
                        <button type="button" class="btn btn-default" data-ng-click="identify()"
                                data-ng-disabled="!checkPermissionForSelectedItems(APP_CONSTANTS.DECLARATION_PERMISSION.IDENTIFY)">
                            <span data-translate-once="button.identifyPersons"></span>
                        </button>
                    </span>
                    <!-- Консолидировать-->
                    <span>
                        <button type="button" class="btn btn-default" data-ng-click="consolidate()"
                                data-ng-disabled="!checkPermissionForSelectedItems(APP_CONSTANTS.DECLARATION_PERMISSION.CONSOLIDATE)">
                            <span data-translate-once="button.consolidate"></span>
                        </button>
                    </span>
                    <!--Проверить -->
                    <span>
                        <button type="button" class="btn btn-default" data-ng-click="check()"
                                data-ng-disabled="!checkPermissionForSelectedItems(APP_CONSTANTS.DECLARATION_PERMISSION.CHECK)">
                            <span data-translate-once="button.check"></span>
                        </button>
                    </span>
                    <!--Принять -->
                    <span>
                        <button type="button" class="btn btn-default" data-ng-click="accept()"
                                data-ng-disabled="!checkPermissionForSelectedItems(APP_CONSTANTS.DECLARATION_PERMISSION.ACCEPTED)">
                            <span data-translate-once="button.accept"></span>
                        </button>
                    </span>
                    <!--Вернуть в Создана -->
                    <span>
                        <button type="button" class="btn btn-default" data-ng-click="returnToCreated()"
                                data-ng-disabled="!checkPermissionForSelectedItems(APP_CONSTANTS.DECLARATION_PERMISSION.RETURN_TO_CREATED)">
                            <span data-translate-once="button.return"></span>
                        </button>
                    </span>
                    <!--Удалить-->
                    <span>
                        <button type="button" class="btn btn-default" data-ng-click="delete()"
                                data-ng-disabled="!checkPermissionForSelectedItems(APP_CONSTANTS.DECLARATION_PERMISSION.DELETE)">
                            <span data-translate-once="button.delete"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <!-- Таблица -->
        <div class="flex-grid flex-fill" style="min-height: calc(100% - 50px);"
             data-aplana-grid
             data-grid-fill-space="true"
             data-grid-store-page-settings="true"
             data-grid-options="ndflJournalGrid.options"
             data-grid-ctrl="ndflJournalGrid.ctrl"
             data-ng-model="ndflJournalGrid.value"
             id="ndflJournalTable">
        </div>
    </div>
</div>