<div id="ndfl" class="flex-column">
    <div>
        <!--Заголовок-->
        <div class="content-header pull-left">
            <a href="index.html#/taxes/ndflJournal">{{::'move_back' |
                translate}}</a>
            <h1>— {{declarationData.declarationTypeName}}, №{{declarationDataId}}</h1>
        </div>
        <!--Формирование отчетов-->
        <div class="w200 pull-right" style="margin: 5px 10px 10px 0;">
            <div class="btn-group" style="float: right;">
                <div id="single-button"
                     data-aplana-dropdown
                     data-placement="bottom-right"
                     class="btn btn-default">
                    <span data-translate-once="link.ndfl.reporting"></span>
                </div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                    <li role="menuitem">
                        <div class="row menuitem">
                            <a ng-click="createReportXlsx()" ng-show="declarationData.hasNdflPersons">
                                {{::'link.ndfl.reporting.formXLSX' | translate}}</a>
                            <div ng-show="!declarationData.hasNdflPersons">
                                {{::'link.ndfl.reporting.formXLSX' | translate}}
                            </div>
                            <a ng-click="downloadXlsx()"
                               ng-show="availableXlsxReport && declarationData.hasNdflPersons">
                                {{::'link.ndfl.reporting.download' | translate}}</a>
                        </div>
                    </li>
                    <li role="menuitem">
                        <div class="row menuitem">
                            <a ng-click="createRnuNdflByPersonReport()" ng-show="declarationData.hasNdflPersons">
                                {{::'link.ndfl.reporting.formForFL' | translate}}</a>
                            <div ng-show="!declarationData.hasNdflPersons">
                                {{::'link.ndfl.reporting.formForFL' | translate}}
                            </div>
                        </div>
                    </li>
                    <li role="menuitem">
                        <div class="row menuitem">
                            <a ng-click="createRnuNdflByAllPersonsReport()" ng-show="declarationData.hasNdflPersons">
                                {{::'link.ndfl.reporting.formForFLs' | translate}}</a>
                            <div ng-show="!declarationData.hasNdflPersons">
                                {{::'link.ndfl.reporting.formForFLs' | translate}}
                            </div>
                            <a ng-click="downloadRnuNdflByAllPersonsReport()"
                               ng-show="availableRnuNdflPersonAllDb && declarationData.hasNdflPersons">
                                {{::'link.ndfl.reporting.download' | translate}}</a>
                        </div>
                    </li>
                    <li role="menuitem">
                        <div class="row menuitem">
                            <a ng-click="createRateReport()" ng-show="declarationData.hasNdflPersons">
                                {{::'link.ndfl.reporting.rateReport' | translate}}</a>
                            <div ng-show="!declarationData.hasNdflPersons">
                                {{::'link.ndfl.reporting.rateReport' | translate}}
                            </div>
                            <a ng-click="downloadRateReport()"
                               ng-show="availableRateReport && declarationData.hasNdflPersons">
                                {{::'link.ndfl.reporting.download' | translate}}</a>
                        </div>
                    </li>
                    <li role="menuitem">
                        <div class="row menuitem">
                            <a ng-click="createPaymentReport()" ng-show="declarationData.hasNdflPersons">
                                {{::'link.ndfl.reporting.paymentReport' | translate}}</a>
                            <div ng-show="!declarationData.hasNdflPersons">
                                {{::'link.ndfl.reporting.paymentReport' | translate}}
                            </div>
                            <a ng-click="downloadPaymentReport()"
                               ng-show="availablePaymentReport && declarationData.hasNdflPersons">
                                {{::'link.ndfl.reporting.download' | translate}}</a>
                        </div>
                    </li>
                    <li role="menuitem">
                        <div class="row menuitem">
                            <a ng-click="createNdflDetailReport()" ng-show="declarationData.hasNdflPersons">
                                {{::'link.ndfl.reporting.ndflDetailReport' | translate}}</a>
                            <div ng-show="!declarationData.hasNdflPersons">
                                {{::'link.ndfl.reporting.ndflDetailReport' | translate}}
                            </div>
                            <a ng-click="downloadNdflDetailReport()"
                               ng-show="availableNdflDetailReport && declarationData.hasNdflPersons">
                                {{::'link.ndfl.reporting.download' | translate}}</a>
                        </div>
                    </li>
                    <li role="menuitem">
                        <div class="row menuitem">
                            <a ng-click="showCreateNdfl2_6DataReport('xlsx')" ng-show="declarationData.hasNdflPersons">
                                {{::'link.ndfl.reporting.ndfl2_6XlsxReport' | translate}}</a>
                            <div ng-show="!declarationData.hasNdflPersons">
                                {{::'link.ndfl.reporting.ndfl2_6XlsxReport' | translate}}
                            </div>
                            <a ng-click="downloadNdfl2_6DataXlsxReport()"
                               ng-show="availableNdfl2_6DataXlsxReport && declarationData.hasNdflPersons">
                                {{::'link.ndfl.reporting.download' | translate}}</a>
                        </div>
                    </li>
                    <li role="menuitem">
                        <div class="row menuitem">
                            <a ng-click="showCreateNdfl2_6DataReport('txt')" ng-show="declarationData.hasNdflPersons">
                                {{::'link.ndfl.reporting.ndfl2_6TxtReport' | translate}}</a>
                            <div ng-show="!declarationData.hasNdflPersons">
                                {{::'link.ndfl.reporting.ndfl2_6TxtReport' | translate}}
                            </div>
                            <a ng-click="downloadNdfl2_6DataTxtReport()"
                               ng-show="availableNdfl2_6DataTxtReport && declarationData.hasNdflPersons">
                                {{::'link.ndfl.reporting.download' | translate}}</a>
                        </div>
                    </li>
                    <li role="menuitem"
                        ng-show="declarationData.declarationType === APP_CONSTANTS.DECLARATION_TYPE.RNU_NDFL_CONSOLIDATED.id">
                        <div class="row menuitem">
                            <a ng-click="createPairKppOktmo()" ng-show="declarationData.hasNdflPersons">
                                {{::'link.ndfl.reporting.formForKppOktmo' | translate}}</a>
                            <div ng-show="!declarationData.hasNdflPersons">
                                {{::'link.ndfl.reporting.formForKppOktmo' | translate}}
                            </div>
                            <a ng-click="downloadPairKppOktmo()"
                               ng-show="availableReportKppOktmo && declarationData.hasNdflPersons">
                                {{::'link.ndfl.reporting.download' | translate}}</a>
                        </div>
                    </li>
                    <li role="menuitem"
                        ng-show="declarationData.declarationType === APP_CONSTANTS.DECLARATION_TYPE.RNU_NDFL_PRIMARY.id">
                        <div class="row menuitem">
                            <a ng-click="createExcelTemplate()">
                                {{::'link.ndfl.reporting.formTemplateExcel' | translate}}</a>
                            <a ng-click="downloadExcelTemplate()" ng-show="availableExcelTemplate">
                                {{::'link.ndfl.reporting.download' | translate}}</a>
                        </div>
                    </li>
                    <li role="menuitem"
                        ng-show="declarationData.declarationType === APP_CONSTANTS.DECLARATION_TYPE.RNU_NDFL_CONSOLIDATED.id">
                        <hr style="margin: 0;">
                        <div class="row menuitem">
                            <a ng-click="createNdflReport()" ng-show="canCreateNdflReport()">
                                {{::'link.ndfl.reporting.createNdflReport' | translate}}</a>
                            <div ng-show="!canCreateNdflReport()">
                                {{::'link.ndfl.reporting.createNdflReport' | translate}}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div style="position: relative; flex: 1;">
        <div id="ndflScrollPanel"
             style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; display: flex; overflow: auto; background-color: white;">
            <div style="display: flex; flex: 1; flex-flow: column;">
                <div class="grid-filter"
                     style="flex-shrink: 0; min-width: 100%; background: #ffffff; padding-bottom: 1px;">
                    <div class="header-col " style="float: right;  margin-top: 6px;">
                        <!-- ссылка на модальное окно измениий по налоговой форме -->
                        <button type="button" class="btn btn-default-nonBg" style="float: right;"
                                data-ng-click="openHistoryOfChange()">
                            <span data-translate-once="link.ndfl.historyOfChange"></span>
                        </button>
                        <button type="button" class="btn btn-default-nonBg" style="margin: 0 13px; float: right;"
                                data-ng-click="filesAndComments()"
                                data-ng-disabled="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.VIEW)">
                            <span data-translate-once="link.ndfl.filesAndComment"></span>
                        </button>
                        <button type="button" class="btn btn-default-nonBg" style="float: right;"
                                data-ng-click="showSourcesClick()">
                            <span data-translate-once="link.ndfl.sources"></span>
                        </button>
                    </div>
                    <div data-aplana-collapse
                         data-is-collapsed="false"
                         data-label="'infoPanelLabel' | translate"
                         style="padding: 0 12px 0 12px;">
                        <!--Основная информация-->
                        <div class="header-details">
                            <div class="form-horizontal info-wrapper row-fluid">
                                <div class="span4">
                                    <div class="row-fluid">
                                        <div class="span4">
                                            <label class="control-label">{{::'title.department' | translate}}:</label>
                                        </div>
                                        <div class="span8">
                                            <label class="font-normal info-text">{{declarationData.department}}</label>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span4">
                                            <label class="control-label">{{::'title.formNumber' | translate}}:</label>
                                        </div>
                                        <div class="span8">
                                            <label class="font-normal info-text">{{declarationDataId}}</label>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span4">
                                            <label class="control-label">{{::'title.period' | translate}}:</label>
                                        </div>
                                        <div class="span8">
                                            <label class="font-normal info-text"
                                                   data-ng-bind-html="declarationData | ndflPeriodFormatter"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="span4" style="margin: 0;">
                                    <div class="row-fluid">
                                        <div class="span5">
                                            <label class="control-label">{{::'title.formType' | translate}}:</label>
                                        </div>
                                        <div class="span7">
                                            <label class="font-normal info-text">{{declarationData.declarationFormKind}}</label>
                                        </div>
                                    </div>
                                    <div class="row-fluid"
                                         ng-show="declarationData.declarationFormKind === APP_CONSTANTS.NDFL_DECLARATION_KIND.CONSOLIDATED.name">
                                        <div class="span5">
                                            <label class="control-label">{{::'title.knfType' | translate}}:</label>
                                        </div>
                                        <div class="span7">
                                            <label class="font-normal info-text">{{declarationData.knfType.name}}</label>
                                        </div>
                                    </div>
                                    <div class="row-fluid"
                                         ng-show="declarationData.declarationFormKind !== APP_CONSTANTS.NDFL_DECLARATION_KIND.CONSOLIDATED.name">
                                        <div class="span5">
                                            <label class="control-label">{{::'title.nameAsnu' | translate}}:</label>
                                        </div>
                                        <div class="span7">
                                            <label class="font-normal info-text">{{declarationData.asnuName}}</label>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span5">
                                            <label class="control-label">{{::'title.state' | translate}}:</label>
                                        </div>
                                        <div class="span7">
                                            <label class="font-normal info-text">{{declarationData.state}}</label>
                                        </div>
                                    </div>
                                    <div data-ng-if="declarationData.kppList" class="row-fluid">
                                        <div class="span5">
                                            <label class="control-label">{{::'title.kpp' | translate}}:</label>
                                        </div>
                                        <div class="span7">
                                            <label class="font-normal info-text" style="width: 138px;"
                                                   title="{{::declarationData.kppList.join(',')}}">
                                                {{::declarationData.kppList | joinAndTruncateFormatter : ',': 2}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="span4" style="margin: 0;">
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <label class="control-label">{{::'title.dateAndTimeCreate' |
                                                translate}}:</label>
                                        </div>
                                        <div class="span6">
                                            <label class="font-normal info-text" style="width: 138px;">{{declarationData.creationDate
                                                | dateTimeFormatter}}</label>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <label class="control-label">{{::'title.creator' | translate}}:</label>
                                        </div>
                                        <div class="span6">
                                            <label class="font-normal info-text">{{declarationData.creationUserName}}</label>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <label class="control-label">{{::'title.manuallyCreated' |
                                                translate}}:</label>
                                        </div>
                                        <div class="span6">
                                            <label class="font-normal info-text" style="width: 138px;">{{declarationData.manuallyCreated
                                                | yesNoFormatter}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Фильтр-->
                    <div data-ng-controller="CommonFilterCtrl">
                        <div id="ndfl_filter" style="padding: 0 12px 0 12px;"
                             data-aplana-collapse data-is-collapsed="true"
                             data-label="(!searchFilter.isClear ? 'filterPanelLabel' : 'filterPanelLabel.set') | translate"
                             class="child-margin0">
                            <form id="ndfl_group_filter" class="form-horizontal info-wrapper" novalidate>
                                <div class="row-fluid">
                                    <div class="span11">
                                        <span data-ng-include="'client/app/taxes/ndfl/taxForm/filter/personsFilter.html'"></span>
                                        <span data-ng-include="'client/app/taxes/ndfl/taxForm/filter/incomesFilter.html'"></span>
                                        <span data-ng-include="'client/app/taxes/ndfl/taxForm/filter/deductionsFilter.html'"></span>
                                        <span data-ng-include="'client/app/taxes/ndfl/taxForm/filter/prepaymentsFilter.html'"></span>
                                    </div>
                                    <div class="span1 vertical-btn-group" style="padding-top: 20px">
                                        <!--Кнопка Найти-->
                                        <button type="button"
                                                class="btn btn-default"
                                                id="searchButton"
                                                data-ng-click="submitSearch()">
                                            <span data-translate-once="common.button.search"></span>
                                        </button>
                                        <!--Кнопка Сбросить-->
                                        <button type="button"
                                                class="btn btn-default"
                                                id="clearButton"
                                                data-ng-click="resetFilter()">
                                            <span data-translate-once="common.button.clear"></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--Панель кнопок -->
                    <div class="button_panel" style="padding: 10px 12px 0;">
                        <div class="btn-toolbar" role="toolbar">
                            <!--Меню "Редактировать" -->
                            <span>
                                <button type="button"
                                        class="btn btn-default"
                                        data-bs-dropdown
                                        data-ng-disabled="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.EDIT)">
                                    <span data-translate-once="button.edit"></span>
                                </button>
                                <!-- Подменю -->
                                <ul role="menu"
                                    class="dropdown-menu dropdown-menu-block"
                                    aria-labelledby="download-reports-button">
                                    <li role="menuitem">
                                        <a data-ng-class="{disabled: !(getActiveTab().getSection() !== 1 && getActiveTab().getSelectedRows().length === 1)}"
                                           data-ng-click="showEditRowModal()">
                                            {{::'button.edit.row' | translate}}
                                        </a>
                                    </li>
                                    <li role="menuitem">
                                        <a data-ng-class="{disabled: !(getActiveTab().getSection() === 2 && getActiveTab().getSelectedRows().length > 0)}"
                                           data-ng-click="checkRowsAndShowModal(false)">
                                            {{::'button.edit.datesSelected' | translate}}
                                        </a>
                                    </li>
                                    <li role="menuitem">
                                        <a data-ng-class="{disabled: !canEditAllRows()}"
                                           data-ng-click="checkRowsAndShowModal(true)">
                                            {{::'button.edit.datesFound' | translate}}
                                        </a>
                                    </li>
                                </ul>
                            </span>
                            <!--Идентифицировать ФЛ -->
                            <span>
                                <button type="button" class="btn btn-default"
                                        data-ng-click="identify()"
                                        data-ng-show="declarationData.declarationType === APP_CONSTANTS.DECLARATION_TYPE.RNU_NDFL_PRIMARY.id"
                                        data-ng-disabled="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.IDENTIFY) || !declarationData.hasNdflPersons">
                                    <span data-translate-once="button.identifyPersons"></span>
                                </button>
                            </span>
                            <!-- Консолидировать -->
                            <span>
                                <button type="button" class="btn btn-default"
                                        data-ng-click="consolidate()"
                                        data-ng-show="declarationData.declarationType === APP_CONSTANTS.DECLARATION_TYPE.RNU_NDFL_CONSOLIDATED.id"
                                        data-ng-disabled="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.CONSOLIDATE)">
                                    <span data-translate-once="button.consolidate"></span>
                                </button>
                            </span>
                            <!--Проверить -->
                            <span>
                                <button type="button" class="btn btn-default"
                                        data-ng-click="check()"
                                        data-ng-disabled="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.CHECK)">
                                    <span data-translate-once="button.check"></span>
                                </button>
                            </span>
                            <!--Принять -->
                            <span>
                                <button type="button" class="btn btn-default"
                                        data-ng-click="accept()"
                                        data-ng-disabled="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.ACCEPTED)">
                                    <span data-translate-once="button.accept"></span>
                                </button>
                            </span>
                            <!--Вернуть в Создана -->
                            <span>
                                <button type="button" class="btn btn-default"
                                        data-ng-click="returnToCreated()"
                                        data-ng-disabled="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.RETURN_TO_CREATED)">
                                    <span data-translate-once="button.return"></span>
                                </button>
                            </span>
                            <!--Удалить-->
                            <span>
                                <button type="button" class="btn btn-default"
                                        data-ng-click="delete()"
                                        data-ng-disabled="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.DELETE)">
                                    <span data-translate-once="button.delete"></span>
                                </button>
                            </span>
                            <!--Загрузить Excel-->
                            <span>
                                <input id="upload" type="file" ngf-select="doImport($file)" class="hide">
                                <button type="button" class="btn btn-default"
                                        data-ng-click="confirmImport()"
                                        data-ng-disabled="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.IMPORT_EXCEL)">
                                    <span data-translate-once="ndfl.button.importExcel"></span>
                                </button>
                            </span>
                            <!--Обновить данные ФЛ-->
                            <span>
                                <button type="button" class="btn btn-default"
                                        data-ng-click="updatePersonsData()"
                                        data-ng-disabled="!permissionChecker.check(declarationData, APP_CONSTANTS.DECLARATION_PERMISSION.UPDATE_PERSONS_DATA) || !declarationData.hasNdflPersons">
                                    <span data-translate-once="button.updatePersonsData"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <div id="ndfl_tabs" class="tab-wrapper flex-fill"
                     style="min-height: calc(100% - 150px);"
                     data-aplana-tabs="ndflTabsCtrl"
                     data-tab-model="ndflTabs">
                </div>
            </div>
        </div>
    </div>

</div>