<div class="flex-column">
    <div class="content-header">
        <a href="index.html#/administration/declarationTemplateJournal/{{declarationTemplate.type.id}}">
            {{::'declarationTemplate.title.backLink' | translate}}</a>
        <h1>— {{declarationTemplate.type.name}}</h1>
    </div>
    <div class="flex-fill flex-column" style="background-color: white;">
        <div class="button_panel" style="padding: 10px 12px 0;">
            <div class="btn-toolbar" role="toolbar">
                <!--Сохранить-->
                <button type="button" class="btn btn-default" data-ng-click="save()">
                    <span data-translate-once="button.save"></span>
                </button>
                <!--Отмена-->
                <button type="button" class="btn btn-default" data-ng-click="cancel()">
                    <span data-translate-once="button.cancel"></span>
                </button>
                <!--Ввести/Вывести из действия-->
                <button type="button" class="btn btn-default" data-ng-click="updateStatus()">
                    <span>{{updateStatusBtnName}}</span>
                </button>
            </div>
        </div>
        <div id="template_tabs" class="tab-wrapper flex-fill"
             style="background-color: white;"
             data-aplana-tabs="templateTabsCtrl"
             data-tab-model="templateTabs">
        </div>
    </div>
</div>