<div>
    <div class="cbr-picker">
        <div class="cbr-picker-button">
            <button type="button" class="btn btn-popover"
                data-original-title="Выберите из списка"
                data-ng-controller="SelectUniversalCtrl"
                data-aplana-popover="'client/aplana/templates/selectUniversal/selectUniversalForm.html'"
                data-placement="right"
                data-container="false"
                data-unique="true">
                <i class="icon-book"></i>
            </button>
        </div>
        <div class="cbr-picker-input">
            <input type="text" class="cbr-selectUniversal-inputText" readonly data-aplana-select-universal-implementation
                data-ng-transclude />
        </div>
    </div>
</div>