<form class="form-horizontal" role="form">
    <div ng-controller="reportPeriodCtrl">

        <div class='container-grid-top'>
            <span data-ng-include="'client/app/taxes/ndfl/periods/ndflReportPeriodFilter.html'"></span>
        </div>

        <div class="button_panel">
            <div class="btn-toolbar" role="toolbar">
                <button type="button" class="btn btn-default" data-ng-click="openPeriod()"
                        data-ng-disabled="!checkPermissionForGridValue(APP_CONSTANTS.DEPARTMENT_REPORT_PERIOD_PERMISSION.OPEN)">
                    Открыть период
                </button>
                <button type="button" class="btn btn-default" data-ng-click="closePeriod()"
                        data-ng-disabled="!(checkPermissionForGridValue(APP_CONSTANTS.DEPARTMENT_REPORT_PERIOD_PERMISSION.CLOSE))">
                    Закрыть период
                </button>
                <button type="button" class="btn btn-default" data-ng-click="editPeriod()"
                        data-ng-disabled="!(checkPermissionForGridValue(APP_CONSTANTS.DEPARTMENT_REPORT_PERIOD_PERMISSION.EDIT))">
                    Редактировать перирод
                </button>
                <button type="button" class="btn btn-default" data-ng-click="openCorrectPeriod()"
                        data-ng-disabled="!(checkPermissionForGridValue(APP_CONSTANTS.DEPARTMENT_REPORT_PERIOD_PERMISSION.OPEN_CORRECT))">
                    Открыть корректирующий период
                </button>
                <button type="button" class="btn btn-default" data-ng-click="deletePeriod()"
                        data-ng-disabled="!(checkPermissionForGridValue(APP_CONSTANTS.DEPARTMENT_REPORT_PERIOD_PERMISSION.DELETE))">
                    Удалить период
                </button>
                <button type="button" class="btn btn-default" data-ng-click="deadlinePeriod()"
                        data-ng-disabled="!(checkPermissionForGridValue(APP_CONSTANTS.DEPARTMENT_REPORT_PERIOD_PERMISSION.DEADLINE))">
                    Назначить срок сдачи
                </button>
            </div>
        </div>

        <div data-aplana-grid
             data-grid-fill-space="true"
             data-grid-fill-space-container-selector=".cbr-page-layout__view"
             data-grid-fill-space-container-selector-top=".top-wrapper"
             data-grid-options="reportPeriodGrid.options"
             data-grid-ctrl="reportPeriodGrid.ctrl"
             data-grid-name="reportPeriodGrid.gridName"
             data-ng-model="reportPeriodGrid.value"
             id="reportPeriodGrid"
             style="float: left; width: 100%;"></div>

    </div>

</form>