<div data-ng-controller="CommonFilterCtrl">
    <div class="grid-filter"
         style="margin: 0 0 20px -19px; padding: 0 0 0 21px;">
        <div data-aplana-collapse data-is-collapsed="searchFilter.hideExtendedFilter"
             data-label="(!searchFilter.isClear ? 'filterPanelLabel' : 'filterPanelLabel.set') | translate">

            <form class="info-wrapper form-horizontal" data-aplana-submit-valid="searchByFilter()" novalidate>
                <table class="horizontal-input-table">
                    <tbody>
                    <tr>
                        <!--Подразделение-->
                        <td>
                            <label class="control-label">{{::'reportPeriod.department' | translate}}:</label>
                        </td>
                        <td>
                            <div data-ng-controller="SelectDepartmentCtrl"
                                 data-ui-select2="departmentsSelect.options"
                                 data-ng-init="initAvailableTBSelect(searchFilter.params)"
                                 data-ng-model="searchFilter.params.department"
                                 class="span8">
                            </div>
                        </td>

                        <td class="col-separator"></td>

                        <!--Период, с-->
                        <td>
                            <label class="control-label" for="searchfilter_params_yearstart" style="white-space: nowrap; margin-left: 20px;">
                                {{::'reportPeriod.filter.periodFrom' | translate}}
                            </label>
                        </td>
                        <td>
                            <div data-aplana-field>
                                <input type="text"
                                       data-ng-pattern="patterns.number"
                                       style="width: 58px;text-align: left;"
                                       data-ng-model="searchFilter.params.yearStart"
                                       id="searchfilter_params_yearstart"
                                       name="searchfilter_params_yearstart"
                                       data-required
                                       data-ng-max="yearMax"
                                       data-ng-min="yearMin"/>
                                <div data-aplana-validator data-key='required'>{{::'common.validation.required' |
                                    translate}}
                                </div>
                                <div data-aplana-validator data-key='min'>
                                    {{'common.validation.min.value' | translate:'{ minValue: ' + yearMin + ' }'}}
                                </div>
                                <div data-aplana-validator data-key='max'>
                                    {{'common.validation.max.value' | translate:'{ maxValue: ' + yearMax + ' }'}}
                                </div>
                                <div data-aplana-validator data-key='pattern'>
                                    {{'common.validation.number' | translate}}
                                </div>
                            </div>
                        </td>

                        <!--Период, по-->
                        <td style="padding-left: 5px;">
                            <label class="control-label" for="searchfilter_params_yearend">{{::'reportPeriod.filter.periodTo'
                                | translate}}</label>
                        </td>
                        <td>
                            <div data-aplana-field>
                                <input type="text"
                                       data-ng-pattern="patterns.number"
                                       style="width: 58px; text-align: left;"
                                       data-ng-model="searchFilter.params.yearEnd"
                                       id="searchfilter_params_yearend"
                                       name="searchfilter_params_yearend"
                                       data-required
                                       data-ng-max="yearMax"
                                       data-ng-min="yearMin"/>
                                <div data-aplana-validator data-key='required'>{{::'common.validation.required' |
                                    translate}}
                                </div>
                                <div data-aplana-validator data-key='min'>
                                    {{'common.validation.min.value' | translate:'{ minValue: ' + yearMin + ' }'}}
                                </div>
                                <div data-aplana-validator data-key='max'>
                                    {{'common.validation.max.value' | translate:'{ maxValue: ' + yearMax + ' }'}}
                                </div>
                                <div data-aplana-validator data-key='pattern'>
                                    {{'common.validation.number' | translate}}
                                </div>
                            </div>
                        </td>

                        <td class="col-separator"></td>

                        <!--Кнопка Найти-->
                        <td>
                            <button type="submit"
                                    class="btn btn-default"
                                    id="searchButton">
                                <span data-translate-once="common.button.search"></span>
                            </button>
                        </td>

                        <td class="col-separator"></td>

                        <!--Кнопка Сбросить-->
                        <td>
                            <button type="button" data-ng-show="searchFilter.isClear"
                                    class="btn btn-default"
                                    id="clearButton"
                                    data-ng-click="resetFilterCustom()">
                                <span data-translate-once="common.button.clear"></span>
                            </button>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>