<div data-ng-controller="CommonFilterCtrl">
    <div class="grid-filter"
         style="margin: 0 0 20px -19px; padding: 0 0 0 21px;">
        <div data-aplana-collapse data-is-collapsed="searchFilter.hideExtendedFilter"
             data-label="'filterPanelLabel' | translate">

            <form class="form-horizontal" data-aplana-submit-valid="searchByFilter()" novalidate>
                <table class="horizontal-input-table">
                    <tbody>
                    <tr>
                        <!--Подразделение-->
                        <td>
                            <label class="control-label">{{::'reportPeriod.department' |
                                translate}}:</label>
                        </td>
                        <td style="padding: 1px 0 0 5px;">
                            <label style="font-size: 13px; font-weight: bold">{{department.name}}</label>
                        </td>

                        <td class="col-separator"></td>

                        <!--Период, с-->
                        <td>
                            <label class="control-label" for="searchfilter_params_yearstart">{{::'reportPeriod.filter.periodFrom'
                                | translate}}</label>
                        </td>
                        <td>
                            <div data-aplana-field>
                                <input type="number"
                                       style="padding: 0 2px; width: 58px;text-align: left;"
                                       data-ng-model="searchFilter.params.yearStart"
                                       id="searchfilter_params_yearstart"
                                       name="searchfilter_params_yearstart"
                                       data-ng-required="true"
                                       max="2099"
                                       min="1900"
                                />
                                <div data-aplana-validator data-key='required'>{{::'field.ndfl.requiredField' |
                                    translate}}
                                </div>
                                <div data-aplana-validator data-key='min'>
                                    {{:: 'common.validation.min.value' | translate:'{ minValue: ' +
                                    1900 + ' }'}}
                                </div>
                                <div data-aplana-validator data-key='max'>
                                    {{:: 'common.validation.max.value' | translate:'{ maxValue: ' +
                                    2099 + ' }'}}
                                </div>
                            </div>
                        </td>

                        <!--Период, по-->
                        <td style="padding-left: 5px;">
                            <label class="control-label" for="searchfilter_params_yearend">{{::'reportPeriod.filter.periodTo'
                                | translate}}</label>
                        </td>
                        <td>
                            <div data-aplana-field>
                                <input type="number"
                                       style="padding: 0 2px; width: 58px;text-align: left;"
                                       data-ng-model="searchFilter.params.yearEnd"
                                       id="searchfilter_params_yearend"
                                       name="searchfilter_params_yearend"
                                       data-ng-required="true"
                                       max="2099"
                                       min="1900"
                                />
                                <div data-aplana-validator data-key='required'>{{::'field.ndfl.requiredField' |
                                    translate}}
                                </div>
                                <div data-aplana-validator data-key='min'>
                                    {{:: 'common.validation.min.value' | translate:'{ minValue: ' +
                                    1900 + ' }'}}
                                </div>
                                <div data-aplana-validator data-key='max'>
                                    {{:: 'common.validation.max.value' | translate:'{ maxValue: ' +
                                    2099 + ' }'}}
                                </div>
                            </div>
                        </td>

                        <td class="col-separator"></td>

                        <!--Кнопка Найти-->
                        <td>
                            <button type="submit"
                                    class="btn btn-default"
                                    id="searchButton">
                                <span data-translate-once="common.button.search"></span>
                            </button>
                        </td>

                        <td class="col-separator"></td>

                        <!--Кнопка Сбросить-->
                        <td>
                            <button type="button" data-ng-show="searchFilter.isClear"
                                    class="btn btn-default"
                                    id="clearButton"
                                    data-ng-click="resetFilterCustom()">
                                <span data-translate-once="common.button.clear"></span>
                            </button>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>