<div class="flex-column">
    <div class="content-header">
        <h1>{{::'reportPeriod.title' | translate}}</h1>
    </div>
    <div id="reportPeriodGridContainer" class="container-grid box-shadow-block flex-fill flex-column">
        <div id="reportPeriodGridTop" style="min-height: 50px;">
            <div>
                <span data-ng-include="'client/app/taxes/ndfl/periods/reportPeriodFilter.html'"></span>
            </div>
            <div class="button_panel" style="min-height: 52px;margin: -5px 0 -17px 0;">
                <div class="btn-toolbar" role="toolbar">
                    <button type="button" class="btn btn-default" data-ng-click="openPeriod()"
                            data-ng-disabled="!permissionChecker.check(user, APP_CONSTANTS.USER_PERMISSION.OPEN_DEPARTMENT_REPORT_PERIOD)">
                        {{::'reportPeriod.pils.openPeriod' | translate}}
                    </button>
                    <button type="button" class="btn btn-default" data-ng-click="openCorrectPeriod()"
                            data-ng-disabled="!(reportPeriodGrid.value && !reportPeriodGrid.value[0].isActive && checkPermissionForGridValue(APP_CONSTANTS.DEPARTMENT_REPORT_PERIOD_PERMISSION.OPEN_CORRECT))">
                        {{:: 'reportPeriod.pils.correctPeriod' | translate}}
                    </button>
                    <button type="button" class="btn btn-default" data-ng-click="closePeriod()"
                            data-ng-disabled="!(reportPeriodGrid.value && reportPeriodGrid.value[0].isActive && checkPermissionForGridValue(APP_CONSTANTS.DEPARTMENT_REPORT_PERIOD_PERMISSION.CLOSE))">
                        {{:: 'reportPeriod.pils.closePeriod' | translate}}
                    </button>
                    <button type="button" class="btn btn-default" data-ng-click="onReopenPeriod()"
                            data-ng-disabled="!(reportPeriodGrid.value && !reportPeriodGrid.value[0].isActive && checkPermissionForGridValue(APP_CONSTANTS.DEPARTMENT_REPORT_PERIOD_PERMISSION.REOPEN))">
                        {{:: 'reportPeriod.pils.reopenPeriod' | translate}}
                    </button>
                    <button type="button" class="btn btn-default" data-ng-click="deletePeriod()"
                            data-ng-disabled="!(checkPermissionForGridValue(APP_CONSTANTS.DEPARTMENT_REPORT_PERIOD_PERMISSION.DELETE))">
                        {{:: 'reportPeriod.pils.deletePeriod' | translate}}
                    </button>
                </div>
            </div>
        </div>

        <div class="flex-grid flex-fill" data-aplana-grid
             data-grid-fill-space="true"
             data-grid-fill-space-container-selector="#reportPeriodGridContainer"
             data-grid-fill-space-container-selector-top="#reportPeriodGridTop"
             data-grid-options="reportPeriodGrid.options"
             data-init-grid="reportPeriodGrid.init(ctrl)"
             data-grid-ctrl="reportPeriodGrid.ctrl"
             data-ng-model="reportPeriodGrid.value"
             data-grid-data="periodGridData"
             data-grid-no-paging
             id="reportPeriodGrid">
        </div>

    </div>
</div>