<div data-aplana-collapse data-label="'ndfl.filter.prepayments' | translate">
    <div class="ndfl-subfilter row-fluid">
        <div class="span4">
            <!--Номер уведомления-->
            <div class="row-fluid form-group">
                <div class="span4">
                    <label class="control-label">{{::'title.prepayment.notifNum' |
                        translate}}:</label>
                </div>
                <div class="span8">
                    <input data-ng-model="searchFilter.params.prepayment.notifNum"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           type="text" class="form-control"
                           title="{{searchFilter.params.prepayment.notifNum}}"/>
                </div>
            </div>
            <!--Код НО, выдавшего уведомление-->
            <div class="row-fluid form-group">
                <div class="span4">
                    <label class="control-label">{{::'title.prepayment.filter.notifSource' | translate}}:</label>
                </div>
                <div class="span8">
                    <input data-ng-model="searchFilter.params.prepayment.notifSource"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           type="text" class="form-control"
                           title="{{searchFilter.params.prepayment.notifSource}}"/>
                </div>
            </div>
        </div>
        <div class="span4">
            <!--Дата выдачи уведомления-->
            <div class="row-fluid form-group">
                <date-from-to-filter
                        data-label-width="4"
                        ng-period-model="searchFilter.params.prepayment"
                        ng-from-param="notifDateFrom"
                        ng-to-param="notifDateTo"
                        ng-label="title.prepayment.notifDateFrom"></date-from-to-filter>
            </div>
        </div>
        <div class="span4">
            <!--Номер строки-->
            <div class="row-fluid form-group">
                <div class="span4">
                    <label class="control-label">{{::'title.rowNum' | translate}}:</label>
                </div>
                <div class="span8">
                    <input data-ng-model="searchFilter.params.prepayment.rowNum" type="text"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           class="form-control"
                           title="{{searchFilter.params.prepayment.rowNum}}"/>
                </div>
            </div>
            <!--Идентификатор строки-->
            <div class="row-fluid form-group">
                <div class="span4">
                    <label class="control-label">{{::'title.id' | translate}}:</label>
                </div>
                <div class="span8">
                    <input data-ng-model="searchFilter.params.prepayment.id" type="text"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           class="form-control"
                           title="{{searchFilter.params.prepayment.id}}"/>
                </div>
            </div>
            <!--Дата редактирования-->
            <div class="row-fluid form-group">
                <date-from-to-filter
                        data-label-width="4"
                        ng-period-model="searchFilter.params.prepayment"
                        ng-from-param="modifiedDateFrom"
                        ng-to-param="modifiedDateTo"
                        ng-label="title.modifiedDateFrom"></date-from-to-filter>
            </div>
            <!--Обновил-->
            <div class="row-fluid form-group">
                <div class="span4">
                    <label class="control-label">{{::'title.modifiedBy' |
                        translate}}:</label>
                </div>
                <div class="span8">
                    <input data-ng-model="searchFilter.params.prepayment.modifiedBy" type="text"
                           placeholder="{{'filter.placeholder.search' | translate}}"
                           class="form-control"
                           title="{{searchFilter.params.prepayment.modifiedBy}}"/>
                </div>
            </div>
        </div>
    </div>
</div>