@CHARSET "UTF-8";

html,body{
    font-family: Tahoma, helvetica, arial, sans-serif !important;
}

body, table td, select {
    font-family: Tahoma, helvetica, arial, sans-serif !important;
}

h2{
    color: #777777;
    font-size: 22px;
}

h3{
    color: #777777;
    font-size: 16px;
}

.loadingStatusLabel {
    position: absolute;
    z-index: 1100;
    top: 50%;
    height:1px;
    width: 100%;
}

.loadingStatusLabel div {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 64px;
    margin: -32px auto;
    width: 200px;
    border: solid 1px #00940C;
}

.loadingStatusLabel img {
    float: left;
}

.loadingStatusLabel span {
    display: block;
    padding: 23px 0 0 90px;
}

.topNavigation {
    background: url("../img/top_grad.png");
    border-bottom: 3px solid #7E7F7F;
    border-bottom: 3px solid #737474\0/; /* IE8 hack*/
    height: 41px;
}

.topNavigation .topHeader {
    vertical-align: top;
    height: 41px;
}

.topNavigation .topLeftLogo {
    float: left;
    background: none;
    border: none;
}

.topNavigation .topLeftLogo img {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}

.topNavigation .topRightLogo {
    right: 0;
    float: right;
    background: none;
    border: none;
}

.topNavigation .topRightLogo img {
    float: right;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}

.topGradient {
    background: url("../img/body_top.png") repeat-x;
    top: 0;
    height: 32px;
    width: 100%;
    z-index: -1;
}

.topGradient .bodyTopLeft {
    background: url("../img/body_top_left.png") no-repeat;
    height: 32px;
    float: left;
    width: 32px;
    top: 0;
    z-index: -1;
}

.topGradient .bodyTopRight {
    background: url("../img/body_top_right.png") no-repeat;
    float: right;
    width: 32px;
    height: 32px;
    top: 0;
    z-index: -1;
}

.footerGradient {
    background: url("../img/body_bottom.png") repeat-x;
    bottom: 0px;
    height: 32px;
    width: 100%;
    z-index: -1;
}

.leftGradient {
    background: url("../img/body_left.png") repeat-y;
    float: left;
    width: 32px;
    height: 100%;
    z-index: -1;
}

.rightGradient {
    background: url("../img/body_right.png") repeat-y;
    float: right;
    width: 32px;
    height: 100%;
    z-index: -1;
}

.footerLeft {
    background: url("../img/body_bottom_left.png") no-repeat;
    height: 32px;
    float: left;
    width: 32px;
    bottom: 0;
    z-index: -1;
}

.footerRight {
    background: url("../img/body_bottom_right.png") no-repeat;
    height: 32px;
    float: right;
    width: 32px;
    bottom: 0;
    z-index: -1;
}

.bodyContent {
    right: 10px;
    left: 10px;
    bottom: 30px;
    position: fixed;
    top: 45px;
    padding-top: 10px;
}

.versionProjectStyle {
    position: absolute;
    left: 30px;
    bottom: 3px;
}

.formPanel .inputLabel{
    margin-right: 10px;
}

.formPanel .inputLabel .required{
    color: #ff0000;
}

.genericTable {
}

.genericTable th {
}

.genericTable tbody tr td {
}

.genericTable tbody tr div button {
    padding: 0;
    font-size: 10px;
}

.order {
    font-size: 11px !important;
    font-weight: bold !important;
    height: 3em !important;
    padding: 0 2px !important;
    text-shadow: none !important;
    color: white !important;
    background-color: #959595 !important;
    text-align: center !important;
}

.rbbtn {
    margin: 2px 0px 2px 0px !important;
    width: 19px;
    height: 16px;
    padding: 2px 0px 2px 0px !important;
    text-align: center;
}