@CHARSET "UTF-8";

html,body{
    font-family: Tahoma, helvetica, arial, sans-serif !important;
}

body, table td, select {
    font-family: Tahoma, helvetica, arial, sans-serif !important;
}

h2{
    color: #777777;
    font-size: 22px;
}

h3{
    color: #777777;
    font-size: 16px;
}

.loadingStatusLabel {
    position: absolute;
    z-index: 11;
    top: 50%;
    height:1px;
    width: 100%;
}

.loadingStatusLabel div {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 64px;
    margin: -32px auto;
    width: 200px;
    border: solid 1px #00940C;
}

.loadingStatusLabel img {
    float: left;
}

.loadingStatusLabel span {
    display: block;
    padding: 23px 0 0 90px;
}

.topNavigation {
    background: url("../img/background/menu-grad.png");
    border-bottom: 3px solid #807e7b;
    /*border-bottom: 3px solid #737474\0/; *//* IE8 hack*/
    height: 41px;
    vertical-align: top;
}

.topNavigation .topLeftLogo {
    background: url("../img/background/menu-logo.png");
    width: 131px;
    height: 41px;
    float: left;
    margin-right: 5px;
}

.topNavigation .topRightLogo {
    background: url("../img/background/menu-right.png");
    height: 41px;
    width: 47px;
    float: right;
    margin-left: -25px; /* смещение для кнопки Выход*/
}

/* Боковые градиенты основной части страницы */
.topGradient {
    background: url("../img/background/gradient-top.png") repeat-x;
    top: 0;
    height: 32px;
    width: 100%;
    z-index: -1;
}

.rightGradient {
    background: url("../img/background/gradient_right.png") repeat-y;
    float: right;
    width: 32px;
    height: 100%;
    z-index: -1;
}

.footerGradient {
    background: #FFF url("../img/background/gradient_bottom.png") repeat-x;
    bottom: 0;
    height: 32px;
    width: 100%;
    z-index: -1;
}

.leftGradient {
    background: url("../img/background/gradient_left.png") repeat-y;
    float: left;
    width: 32px;
    height: 100%;
    z-index: -1;
}

/* Угловые градиенты основной части страницы */
.topGradient .bodyTopLeft {
    background: url("../img/background/corner_left.png") no-repeat;
    height: 32px;
    float: left;
    width: 32px;
    top: 0;
    z-index: -1;
}

.topGradient .bodyTopRight {
    background: url("../img/background/corner_right.png") no-repeat;
    float: right;
    width: 32px;
    height: 32px;
    top: 0;
    z-index: -1;
}

.footerLeft {
    background: url("../img/background/corner_left_down.png") no-repeat;    /* используем теже картинки тк повернули .footerGradient */
    height: 32px;
    float: left;
    width: 32px;
    bottom: 0;
    z-index: -1;
}

.footerRight {
    background: url("../img/background/corner_right_down.png") no-repeat;   /* используем теже картинки тк повернули .footerGradient */
    height: 32px;
    float: right;
    width: 32px;
    bottom: 0;
    z-index: -1;
}

.bodyContent {
    right: 5px;
    left: 5px;
    bottom: 30px;
    position: fixed;
    top: 45px;
    padding-top: 7px;
}

.versionProjectStyle {
    position: absolute;
    left: 30px;
    bottom: 3px;
}

.formPanel .inputLabel{
    margin-right: 10px;
}

.formPanel .inputLabel .required{
    color: #ff0000;
}

.alert-cell div {
    background-color: #FF3333
}

.genericTable {
}

.genericTable th {
}

.genericTable tbody tr td {
}

.genericTable tbody tr div button {
    padding: 0;
    font-size: 10px;
}

.order {
    font-size: 11px !important;
    font-weight: bold !important;
    height: 1em !important;
    padding: 0 1px !important;
    text-shadow: none !important;
    color: white !important;
    background-color: #959595 !important;
    text-align: center !important;
}

.orderSelected {
    font-size: 11px !important;
    font-weight: bold !important;
    height: 1em !important;
    padding: 0 1px !important;
    text-shadow: none !important;
    color: white !important;
    background-color: #5a5a5a !important;
    text-align: center !important;
}

.rbbtn {
    margin: 2px 0px 2px 0px !important;
    width: 19px;
    height: 16px;
    padding: 2px 0px 2px 0px !important;
    text-align: center;
}

.aplana-MultiListBoxItem {
    margin-top: 4px;
    margin-left: 7px;
    display: block;
    cursor: default;
}

.footerButton {
    margin:  8px 10px 8px 0px !important;
}

.AplanaScrollPanel {
    padding-bottom: 17px;
}

.LinkDiv {
    text-decoration: underline;
    color: #004276;
    cursor: pointer;
}
