<li class="cbr-page-menu__item dropdown">
    <a class="cbr-page-menu__link dropdown-toggle" data-ng-click="showDropdown()" >{{:: title | translate}}</a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" data-ng-class="{'pull-right': rigthAlign}">
        <li data-ng-repeat="item in items track by $index" data-ng-class="{divider: item.title === undefined}" data-ng-if="item.viewPermission">
            <a href="{{:: item.href}}" data-ng-if="item.href !== undefined && !item.delimiter">
                <span>{{:: item.title | translate}}</span>
            </a>
            <a data-ui-sref="{{:: item.sref}}" data-ng-click="onClick()" data-ng-if="item.sref !== undefined && !item.delimiter">
                <span>{{:: item.title | translate}}</span>
            </a>
            <a data-ng-click="onClick(item.action)" data-ng-if="item.action !== undefined && !item.delimiter">
                <span>{{:: item.title | translate}}</span>
            </a>
            <div data-ng-if="item.checkbox !== undefined" class="dropdown-link">
                <span style="white-space: nowrap;">
                    <input type="checkbox"
                           id="{{::item.checkbox.toLowerCase()}}"
                           name="{{::item.checkbox.toLowerCase()}}"
                           data-ng-model="model[item.checkbox]"
                           data-ng-change="onClick(item.onChange)"
                           style="margin: 2px -2px 4px -15px;">
                    <span>{{:: item.title | translate}}</span>
                </span>
            </div>
        </li>
    </ul>
</li>