<form class="form-horizontal" name="editNdflIncomesAndTaxForm" data-aplana-submit-valid="save()">
    <div class="modal-body" style="min-height: 155px">
        <div class="row-fluid">
            <label class="control-label" style="text-align: left"
                   ng-bind-html="'incomesAndTax.edit.title.person' | translate:
                   {lastName: temp.person.lastName, firstName: temp.person.firstName, middleName: temp.person.middleName, birthDay: temp.person.birthDay, inp: row.inp}">
            </label>
            <label class="control-label" style="text-align: left"
                   ng-bind-html="'incomesAndTax.edit.title.doc' | translate: {docTypeName: temp.docTypeName, idDocNumber: temp.person.idDocNumber}">
            </label>
            <label class="control-label" style="text-align: left"
                   ng-bind-html="'incomesAndTax.edit.title.citizenship' | translate: {citizenship: temp.person.citizenship, innNp: temp.person.innNp}">
            </label>
        </div>

        <div style="height: 400px; position: relative; overflow-y: scroll">
            <!-- Источник выплаты -->
            <legend style="margin-top: 20px; margin-bottom: 10px;">
                {{::'incomesAndTax.edit.title.source' | translate}}
            </legend>

            <div class="row">
                <div class="filter-col w400">
                    <!-- КПП -->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'title.kpp' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <input data-ng-model="row.kpp"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       type="text"
                                       required="required"
                                       maxlength="9"
                                       title="{{row.kpp}}"/>
                                <div data-aplana-validator data-key='required'>
                                    {{::'common.validation.required' | translate}}
                                </div>
                                <div data-aplana-validator data-key="maxlength">
                                    {{::'incomesAndTax.edit.validation.kpp' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter-col w400">
                    <!-- ОКТМО -->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'title.oktmo' | translate}}:</label>
                        </div>
                        <div data-ng-controller="SelectOktmoCtrl"
                             data-ui-select2="oktmoSelect.options"
                             data-ng-init="initSelectWithAllOktmo()"
                             data-ng-model="temp.oktmo"
                             data-ng-required="true"
                             class="span8"></div>
                    </div>
                </div>
            </div>

            <!-- Доход -->
            <legend>{{::'incomesAndTax.edit.title.income' | translate}}</legend>

            <div class="row">
                <div class="filter-col w400">
                    <!-- Код дохода -->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'title.incomeCode' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <input data-ng-model="row.incomeCode"
                                       ng-required="isIncomeAttributesRequired() || row.incomeType"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       type="text"
                                       minlength="4"
                                       maxlength="4"
                                       title="{{row.incomeCode}}"/>
                                <div data-aplana-validator data-key='required'>
                                    {{::'common.validation.required' | translate}}
                                </div>
                                <div data-aplana-validator data-key="minlength">
                                    {{::'incomesAndTax.edit.validation.incomeCode' | translate}}
                                </div>
                                <div data-aplana-validator data-key="maxlength">
                                    {{::'incomesAndTax.edit.validation.incomeCode' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Дата начисления -->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'title.dateCalcIncome' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <div data-aplana-datepicker
                                     data-ng-model="row.incomeAccruedDate"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Начислено -->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'title.amountCalcIncome' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <input data-ng-model="row.incomeAccruedSumm"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       data-ng-pattern="patternNumber20_2"
                                       type="text"
                                       title="{{row.incomeAccruedSumm}}"/>
                                <div data-aplana-validator data-key="pattern">
                                    {{::'common.validation.pattern.error' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter-col w400">
                    <!-- Признак дохода -->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'title.incomeAttr' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <input data-ng-model="row.incomeType"
                                       ng-required="isIncomeAttributesRequired() || row.incomeCode"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       type="text"
                                       maxlength="2"
                                       title="{{row.incomeType}}"/>
                                <div data-aplana-validator data-key='required'>
                                    {{::'common.validation.required' | translate}}
                                </div>
                                <div data-aplana-validator data-key="maxlength">
                                    {{::'incomesAndTax.edit.validation.incomeType' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Дата выплаты -->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'title.datePaymentIncome' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <div data-aplana-datepicker
                                     data-ng-model="row.incomePayoutDate"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Выплачено -->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'title.amountPaymentIncome' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <input data-ng-model="row.incomePayoutSumm"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       data-ng-pattern="patternNumber20_2"
                                       type="text"
                                       title="{{row.incomePayoutSumm}}"/>
                                <div data-aplana-validator data-key="pattern">
                                    {{::'common.validation.pattern.error' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Налоговая база -->
            <legend>{{::'title.taxBase' | translate}}</legend>

            <div class="row">
                <div class="filter-col w400">
                    <!-- Налоговая база -->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'title.taxBase' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <input data-ng-model="row.taxBase"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       type="text"
                                       data-ng-pattern="patternNumber20_2"
                                       title="{{row.taxBase}}"/>
                                <div data-aplana-validator data-key="pattern">
                                    {{::'common.validation.pattern.error' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter-col w400">
                    <!-- Сумма вычета -->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'title.amountDeduction' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <input data-ng-model="row.totalDeductionsSumm"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       type="text"
                                       data-ng-pattern="patternNumber20_2"
                                       title="{{row.totalDeductionsSumm}}"/>
                                <div data-aplana-validator data-key="pattern">
                                    {{::'common.validation.pattern.error' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- НДФЛ -->
            <legend>{{::'incomesAndTax.edit.title.ndfl' | translate}}</legend>

            <div class="row">
                <div class="filter-col w400">
                    <!-- Процентная ставка -->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'title.taxRate' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <input data-ng-model="row.taxRate"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       type="text"
                                       data-ng-pattern="patterns.twoDigits"
                                       title="{{row.taxRate}}"/>
                                <div data-aplana-validator data-key="pattern">
                                    {{::'common.validation.pattern.error' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Исчисленный -->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'title.calculatedTax' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <input data-ng-model="row.calculatedTax"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       type="text"
                                       data-ng-pattern="patternNumber20"
                                       title="{{row.calculatedTax}}"/>
                                <div data-aplana-validator data-key="pattern">
                                    {{::'common.validation.pattern.error' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Удержанный -->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'title.withholdingTax' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <input data-ng-model="row.withholdingTax"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       type="text"
                                       data-ng-pattern="patternNumber20"
                                       title="{{row.withholdingTax}}"/>
                                <div data-aplana-validator data-key="pattern">
                                    {{::'common.validation.pattern.error' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter-col w400">
                    <!-- Дата расчета -->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'title.taxDate' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <div data-aplana-datepicker
                                     data-ng-model="row.taxDate"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Не удержанный -->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'title.notHoldingTax' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <input data-ng-model="row.notHoldingTax"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       type="text"
                                       data-ng-pattern="patternNumber20"
                                       title="{{row.notHoldingTax}}"/>
                                <div data-aplana-validator data-key="pattern">
                                    {{::'common.validation.pattern.error' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Излишне удержанный -->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'title.overholdingTax' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <input data-ng-model="row.overholdingTax"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       type="text"
                                       data-ng-pattern="patternNumber20"
                                       title="{{row.overholdingTax}}"/>
                                <div data-aplana-validator data-key="pattern">
                                    {{::'common.validation.pattern.error' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Возвращённый НП -->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'title.refoundTax' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <input data-ng-model="row.refoundTax"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       type="text"
                                       data-ng-pattern="patternNumber15"
                                       title="{{row.refoundTax}}"/>
                                <div data-aplana-validator data-key="pattern">
                                    {{::'common.validation.pattern.error' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Перечисление в бюджет -->
            <legend>{{::'incomesAndTax.edit.title.transfer' | translate}}</legend>

            <div class="row">
                <div class="filter-col w400">
                    <!-- Срок -->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'title.taxTransferDate' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <div data-aplana-datepicker
                                     data-ng-show="!row.disableTaxTransferDate"
                                     data-ng-model="row.taxTransferDate"></div>
                                <input type="text" placeholder="{{APP_CONSTANTS.DATE_ZERO.AS_STRING}}"
                                       data-ng-show="row.disableTaxTransferDate"
                                       data-ng-disabled="row.disableTaxTransferDate"/>
                            </div>
                        </div>
                    </div>
                    <!-- Чекбокс 00.00.0000 -->
                    <div class="row-fluid form-group">
                        <div class="span4"></div>
                        <div class="span8 field-wrapper">
                            <label>
                                <input type="checkbox" data-ng-model="row.disableTaxTransferDate"/>
                                {{APP_CONSTANTS.DATE_ZERO.AS_STRING}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="filter-col w400">
                    <!-- Дата ПП -->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'title.paymentDate' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <div data-aplana-datepicker
                                     data-ng-model="row.paymentDate"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="filter-col w400">
                    <!-- Сумма ПП -->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'title.taxSumm' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <input data-ng-model="row.taxSumm"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       type="text"
                                       data-ng-pattern="patternNumber10"
                                       title="{{row.taxSumm}}"/>
                                <div data-aplana-validator data-key="pattern">
                                    {{::'common.validation.pattern.error' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter-col w400">
                    <!-- Номер ПП -->
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'title.paymentNumber' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <input data-ng-model="row.paymentNumber"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       type="text"
                                       maxlength="20"
                                       title="{{row.paymentNumber}}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default iconed-btn" id="saveButton">
            <span data-translate-once="button.save"></span>
            <span class="btn-icon-ok"></span>
        </button>
        <button type="button" class="btn btn-default-nonBg iconed-btn" id="closeButton" data-ng-click="close()">
            <span data-translate-once="button.cancel"></span>
            <span class="btn-icon-noneBg-close"></span>
        </button>
    </div>
</form>
