<form class="form-horizontal" name="editNdflDeductionForm" data-aplana-submit-valid="save()">
    <div class="modal-body" style="min-height: 155px">
        <div class="row-fluid">
            <label class="control-label" style="text-align: left"
                   ng-bind-html="'ndflDeduction.edit.title.person' | translate:
                   {lastName: temp.person.lastName, firstName: temp.person.firstName, middleName: temp.person.middleName, birthDay: temp.person.birthDay, inp: row.inp}">
            </label>
            <label class="control-label" style="text-align: left"
                   ng-bind-html="'ndflDeduction.edit.title.doc' | translate: {docTypeName: temp.docTypeName, idDocNumber: temp.person.idDocNumber}">
            </label>
            <label class="control-label" style="text-align: left"
                   ng-bind-html="'ndflDeduction.edit.title.citizenship' | translate: {citizenship: temp.person.citizenship,  innNp: temp.person.innNp}">
            </label>
        </div>

        <div style="height: 400px; overflow-y: scroll">
            <!-- Информация о вычете -->
            <legend style="margin-top: 20px; margin-bottom: 10px;">{{::'ndflDeduction.edit.title.deductionInfo' |
                translate}}
            </legend>

            <div class="row">
                <div class="filter-col w400">
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'title.deductionCode' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <input data-ng-model="row.typeCode"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       type="text"
                                       maxlength="3"
                                       data-required
                                       title="{{row.deductionCode}}"/>
                                <div data-aplana-validator data-key="maxlength">
                                    {{::'ndflDeduction.edit.validation.deductionCode' |
                                    translate}}
                                </div>
                                <div data-aplana-validator data-key='required'>{{::'common.validation.required' |
                                    translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Документ о праве на вычет -->
            <legend>{{::'ndflDeduction.edit.title.deductionDocument' | translate}}
            </legend>

            <div class="row">
                <div class="filter-col w400">
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'ndflDeduction.edit.notifType' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <input data-ng-model="row.notifType"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       type="text"
                                       data-ng-pattern="/^[1|2]$/"
                                       data-required
                                       title="{{ndflDeduction.edit.notifType}}"/>
                                <div data-aplana-validator data-key="pattern">
                                    {{::'ndflDeduction.edit.validation.notifType' |
                                    translate}}
                                </div>
                                <div data-aplana-validator data-key='required'>{{::'common.validation.required' |
                                    translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'ndflDeduction.edit.notifNum' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <input data-ng-model="row.notifNum"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       type="text"
                                       maxlength="20"
                                       data-required
                                       title="{{ndflDeduction.edit.notifNum}}"/>
                                <div data-aplana-validator data-key="maxlength">
                                    {{::'ndflDeduction.edit.validation.notifNum' |
                                    translate}}
                                </div>
                                <div data-aplana-validator data-key='required'>{{::'common.validation.required' |
                                    translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'title.documentAmount' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <input data-ng-model="row.notifSumm"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       type="text"
                                       data-ng-pattern="patterns.number"
                                       title="{{title.documentAmount}}"/>
                                <div data-aplana-validator data-key="pattern">{{::'common.validation.pattern.error' |
                                    translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter-col w400">
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'title.sourceCode' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <input data-ng-model="row.notifSource"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       type="text"
                                       data-ng-pattern="patterns.fourDigits"
                                       data-required
                                       title="{{title.sourceCode}}"/>
                                <div data-aplana-validator data-key="pattern">{{::'common.validation.pattern.error' |
                                    translate}}
                                </div>
                                <div data-aplana-validator data-key='required'>{{::'common.validation.required' |
                                    translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'title.documentDate' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <div data-aplana-datepicker
                                     data-required
                                     data-ng-model="row.notifDate"></div>
                                <div data-aplana-validator data-key='required'>{{::'common.validation.required' |
                                    translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Начисленный доход -->
            <legend>{{::'ndflDeduction.edit.title.calcIncome' | translate}}
            </legend>

            <div class="row">
                <div class="filter-col w400">
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'title.incomeCode' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <input data-ng-model="row.incomeCode"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       type="text"
                                       data-ng-pattern="patterns.fourDigits"
                                       data-required
                                       title="{{title.incomeCode}}"/>
                                <div data-aplana-validator data-key="pattern">{{::'common.validation.pattern.error' |
                                    translate}}
                                </div>
                                <div data-aplana-validator data-key='required'>{{::'common.validation.required' |
                                    translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'title.incomeAmount' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <input data-ng-model="row.incomeSumm"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       type="text"
                                       data-ng-pattern="patterns.number"
                                       data-required
                                       title="{{title.incomeAmount}}"/>
                                <div data-aplana-validator data-key="pattern">{{::'common.validation.pattern.error' |
                                    translate}}
                                </div>
                                <div data-aplana-validator data-key='required'>{{::'common.validation.required' |
                                    translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter-col w400">
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'title.incomeDate' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <div data-aplana-datepicker
                                     data-required
                                     data-ng-model="row.incomeAccrued"></div>
                                <div data-aplana-validator data-key='required'>{{::'common.validation.required' |
                                    translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Применение вычета -->
            <legend>{{::'ndflDeduction.edit.title.deductionApply' | translate}}
            </legend>

            <div class="row">
                <div class="filter-col w400">
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'ndflDeduction.edit.periodPrevSumm' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <input data-ng-model="row.periodPrevSumm"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       type="text"
                                       data-ng-pattern="patterns.number"
                                       title="{{ndflDeduction.edit.periodPrevSumm}}"/>
                                <div data-aplana-validator data-key="pattern">{{::'common.validation.pattern.error' |
                                    translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'ndflDeduction.edit.periodCurrSumm' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <input data-ng-model="row.periodCurrSumm"
                                       placeholder="{{'filter.placeholder.search' | translate}}"
                                       type="text"
                                       data-ng-pattern="patterns.number"
                                       data-required
                                       title="{{ndflDeduction.edit.periodCurrSumm}}"/>
                                <div data-aplana-validator data-key="pattern">{{::'common.validation.pattern.error' |
                                    translate}}
                                </div>
                                <div data-aplana-validator data-key='required'>{{::'common.validation.required' |
                                    translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter-col w400">
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'ndflDeduction.edit.periodPrevDate' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <div data-aplana-datepicker
                                     data-ng-model="row.periodPrevDate"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid form-group">
                        <div class="span4">
                            <label class="control-label">{{::'ndflDeduction.edit.periodCurrDate' | translate}}:</label>
                        </div>
                        <div class="span8 field-wrapper">
                            <div data-aplana-field>
                                <div data-aplana-datepicker
                                     data-required
                                     data-ng-model="row.periodCurrDate"></div>
                                <div data-aplana-validator data-key='required'>{{::'common.validation.required' |
                                    translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default iconed-btn" id="saveButton"
                data-ng-disabled="editNdflDeductionForm.$invalid">
            <span data-translate-once="button.save"></span>
            <span class="btn-icon-ok"></span>
        </button>
        <button type="button" class="btn btn-default-nonBg iconed-btn" id="closeButton" data-ng-click="close()">
            <span data-translate-once="button.cancel"></span>
            <span class="btn-icon-noneBg-close"></span>
        </button>
    </div>
</form>